/*
 * ************************************************************* *
 * Name        : eRadio                                          *
 * Description : CSS for the radio buttons styling plugin        *
 * Version     : Version 1                                       *
 * Author      : CreativeMilk                                    *
 * Author URI  : www.creativemilk.net                            *
 * Updated     : --/--/----                                      *
 * Copyright   : (c) 2011 CreativeMilk                           *
 * ************************************************************* *
 */
 
input[type="radio"]{
	display : none;
}
.e-radio{
	min-width             : 30px;
	height                : 30px;
	float                 : left;
	position              : relative;
	-webkit-border-radius : 3px;
	-khtml-border-radius  : 3px;
	-moz-border-radius    : 3px;
	border-radius         : 3px;
}
.e-radio-active{
}
.e-radio input{
	z-index  : 0;
	margin   : 0;
	position : absolute;
	left     : 1px!important;
	top      : 0.167em!important;
}
.e-radio label{
	width       : auto;
	float       : left;
	height      : 30px;
	line-height : 30px;
	margin      : 0 21px 0 21px;
}
.labelleft label{
	margin : 0 24px 0 0;
}
.e-radio-img{
	width               : 16px;
	height              : 16px;
	position            : absolute;
	top                 : 50%;
	margin              : -9px 0 0 0;
	left                : 0;
	z-index             : 2;
	background-repeat   : no-repeat;
	background-position : 0 0;
	cursor              : pointer;
}
.labelleft .e-radio-img{
	width               : 16px;
	height              : 16px;
	position            : absolute;
	top                 : 50%;
	margin              : -9px 0 0 0;
	left                : auto;
	right               : 0!important;
	z-index             : 2;
	background-repeat   : no-repeat;
	background-position : 0 0;
	cursor              : pointer;
}
.e-radio-normal .e-radio-img,
.e-radio-normal.e-radio-disabled .e-radio-img:hover{
	background-position : 0 0;
}
.e-radio-normal .e-radio-img:hover{
	background-position : 0 -16px;
}
.e-radio-active .e-radio-img,
.e-radio-active.e-radio-disabled .e-radio-img:hover{
	background-position : 0 -32px;
}
.e-radio-active .e-radio-img:hover{
	background-position : 0 -48px;
}
.e-radio-disabled .e-radio-img{
	opacity    : 0.5;
	-ms-filter : "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
}
.e-radio-disabled .e-radio-img{
	cursor : default;
}
