<script>
function casearch_userList1(target,dep) {  

	target.empty();
	target.append('<option value="%%%">Select User...</option>');
	
	jQuery.grep($usrList, function(obj1) {
    
    	if (dep != 'both'){
    		if (obj1.dep === dep){
    			target.append('<option value="'+obj1.user+'">'+obj1.first+' '+obj1.last+'</option>');
    		}
    	} else {
    		if (obj1.dep === 'mrc' || obj1.dep === 'crt'){
    			target.append('<option value="'+obj1.user+'">'+obj1.first+' '+obj1.last+'</option>');
    		}    	
    	}
    	
    	
	});
	
	target.fadeIn('fast');
    
};

function casearch_cstmrList1(target) {   
        $.ajax({
    type: "POST",
    url: "custom/ca_search/ca_search-getInfo.php",
    data: {
                'type':'customerList', 
                'condition':''
                },
    cache: false,
    success: function(echo)
        {
                        var vals = echo.split("|");
                        var toReturn = [];
						target.empty();
						target.append('<option value="%%%">Select Customer...</option>');
						for (i=0;i<vals.length-1;i++) {
                            var oCst = vals[i];
							target.append('<option value="'+oCst+'">'+oCst+'</option>');
                            // $('#chart-checkbox').append('<div><input id="id'+oUsr+'" type="checkbox" holder="'+i+'" name="'+oUsr+'" fname="'+oFname+' '+oLname+'"><label for="id'+oUsr+'"><span/>'+oFname+' '+oLname+'</label></div>');
                        }  
						target.fadeIn('fast');
        }
    }); 
};
</script>

<!-- widgets management panel --> 
<div id="powerwidgetspanel" class="powerwidgetspanel">
	<header>
		<h2>Power widgets panel</h2>
	</header>
	<div class="powerwidgetspanel-widget" data-widget-id="widget1">
		<input type="checkbox"/>
		<label><span></span>Search</label>
	</div>                                                 
</div> 

<div class="page-header">
	<h2 id="pgheader" style="opacity:0.8;">Creative Art Request Search</h2>
	<span class="page-helper">0.1</span>
	<p>Search existing creative art request forms.<p>
</div> 



<div id="ca_search_content">                           
	<!-- Start grid -->
                           			                            
	<section class="g_1_1">
                            
	<!-- New widget -->
                                
		<div class="powerwidget" data-widget-sortable="false" id="widget1">
			<header>
				<h2>Search</h2>                                  
			</header>
			<div>                                 
				<div class="inner-spacer">
					<form method="post" id="ca_search" autocomplete="off">
						
						<div class="spacer-5"><!-- spacer 5px --></div>
							
							
							<div class="g_1_2"> 

								<select name="search-searchin" class="eselect_sub" id="search-searchin" style="float:left; width:74%; height:30px; margin-bottom:7px;">
									<option value="all">Select Field...</option>
									<option value="all">All</option>
									<option value="project_name">Project Name</option>
									<option value="new_art_concept_num">Concept Number</option>
									<option value="name">Concept Name</option>
									<option value="customer">Customer</option>
									<option value="status">Current Status</option>
									<option value="assign_to">Assigned Merchandiser</option>
									<option value="cc_to">Assigned Artist</option>
									<option value="submitted_by">Submitted By</option>
									<option value="edit_by">Last Edited By</option>
								</select> 
								
								<select name="search-like" class="eselect_sub" id="search-like" style="float:left; width:24%; height:30px; margin-left:7px; margin-right:0px; pointer-events:none; opacity:0.3">
									<option value="LIKE">Like</option>
									<option value="NOT LIKE">Not Like</option>
								</select>								
															
							</div>

																					
							<div class="g_1_2_last"> 
   								<input type="text" name="s-field-1" id="s-field-1" placeholder="Keyword..." style="height:30px;"/>
												
								<select name="s-field-2" id="s-field-2" class="eselect_sub" style="height:30px; display:none">
									<option value="any">User...</option>
								</select>												
							</div>	
							
							<hr/>
													
							
							<!-- CLONE SECTION -->
							<div class="clone-range g_1">
								<div name="addParam" style="display:none;"> 							
									<section class="g_2_10" style="float:left">  
									
										<a href="javascript:void(0);" id="rmv_p" class="button-icon custom-red" style="height:28px; float:left; margin-right:7px"><span class="delete-10 plix-10"></span></a>
										
										<select name="andor_p" class="eselect_sub" id="andor_p" style="height:30px; width:60px">
											<option value="AND">AND</option>
											<option value="OR">OR</option>
										</select>	

									</section>	
									<section class="g_8_10_last" style="float:left">	
										
										<section style="width:33%; float:right; margin-bottom:7px"> 
   											<input type="text" name="keywrd_p" placeholder="Keyword..." style="height:30px;"/>
													
											<select name="varsel_p" class="eselect_sub" style="height:30px; display:none">
												<option value="any">User...</option>
											</select>							
										</section>

										<select name="like_p" class="eselect_sub" id="like_p" style="float:right; width:100%; max-width:80px; height:30px; margin:0px 7px;">
											<option value="LIKE">Like</option>
											<option value="NOT LIKE">Not Like</option>
										</select> 
																					
										<section style="width:33%; float:right"> 
											<select name="lookin_p" class="eselect_sub" id="lookin_p" style="width:100%; height:30px; margin-bottom:7px">
												<option value="all">Select Field...</option>
												<option value="all">All</option>
												<option value="project_name">Project Name</option>
												<option value="new_art_concept_num">Concept Number</option>
												<option value="name">Concept Name</option>
												<option value="customer">Customer</option>
												<option value="status">Current Status</option>
												<option value="assign_to">Assigned Merchandiser</option>
												<option value="cc_to">Assigned Artist</option>
												<option value="submitted_by">Submitted By</option>
												<option value="edit_by">Last Edited By</option>
											</select> 											
										</section>										
										
									</section>   	
									<hr> 
								</div>                                        
								<div class="not-clone"> 
									<a href="javascript:void(0);" class="button-icon custom-green clone-trigger" style="height:28px; margin-bottom:7px"><span class="plus-10 plix-10"></span></a>
								</div>                                                                                                 
							</div>							

							
							<hr>
							
							<div class="g_1_2_last" style="margin-bottom:7px">
								<div class="g_4_6">
									<select name="" class="eselect_sub" id="search-order">
										<option value="number">Choose Sort Item...</option>
										<option value="id">Order Created</option>
										<option value="number">Concept Number</option>
										<option value="due_date">Due Date</option>
									</select>
								</div>
		
								<div class="g_2_6_last">
									<select name="" class="eselect_sub" id="search-sort">
										<option value="DESC">Sort order...</option>
										<option value="ASC">Ascending</option>
										<option value="DESC">Descending</option>
									</select>
								</div>
							</div>
	
							<hr/>
		
							<div class="spacer-20"><!-- spacer 20px --></div>
							
							
														
							<div class="submit-cancel-button">
								<input type="submit" class="button-text" value="Search now" /> 
							</div>
														
							<div class="spacer-15"><!-- spacer 15px --></div>  
																																  
					</form> 
				</div>                                                                                                                           
			</div>
		</div><!-- End .powerwidget -->
	</section>
                            
	<section class="g_1_1_last">
		<div class="powerwidget" data-widget-sortable="false"  id="widget_results">
			<header>
				<h2>Results</h2>                                  
			</header>
			<div> 
				<div class="inner-spacer">
					<div id="advanced-search-results"></div>  
				</div>
			</div>
		</div><!-- End .powerwidget --> 
	</section>
                            							                                     
<div class="clear"><!-- New row --></div>                             
<!-- End grid -->
</div>

<script>
var maxParams = 4;
var curParams = 0;

$('#advanced-search-results').bind('contentchanged', function() {});

$("div.clone-range").eClone({
      target: 'div',
      trigger: '.clone-trigger',
      excludeClass: 'not-clone',
      effect: 'slide',
      speed: 200,
      before: function(){ 
      		if(curParams < maxParams){
      			curParams++;
      		} else {
      			ERR_notify('Max number of search paramaters reached');
      			return;
      		}
      	},
      after: function(){ 
      			$('div section #rmv_p').click(function() {
      				curParams--;
      				var parent = $(this).parent().parent();
									parent.slideUp('fast', function() {
										$(this).remove();
  								});
  				});
  						
  				$('select[name=lookin_p]').change(function () {
					var sideInput = $(this).parent().parent().children('section').children('input[name=keywrd_p]');
					var sideSelect = $(this).parent().parent().children('section').children('select[name=varsel_p]');
  					var chngUsers = ['assign_to','cc_to','submitted_by','edit_by'];
  					if( $.inArray($(this).val(),chngUsers) >= 0 ){
  						var tp = '';
  						if( $(this).val() == 'assign_to' || $(this).val() == 'submitted_by') {
  							tp = 'mrc';
  						} else if( $(this).val() == 'cc_to' ) {
  							tp = 'crt';
  						} else if( $(this).val() == 'edit_by' ) {
  							tp = 'both';
  						}
  						
  						sideInput.fadeOut('fast', function() {
							casearch_userList1(sideSelect,tp);
						});
						
  					} else if( $(this).val() == 'status') {
						sideInput.fadeOut('fast', function() {
							sideSelect.empty();
							sideSelect.append('<option value="%%%">Any</option><option value="in_progress">In Progress</option><option value="completed">Completed</option><option value="cancelled">Cancelled</option><option value="inactive">Inactive</option>');
							sideSelect.fadeIn('fast');
						});
  					} else if( $(this).val() == 'customer') {
						sideInput.fadeOut('fast', function() {
							casearch_cstmrList1(sideSelect);
						});
  					} else {
						sideSelect.fadeOut('fast', function() {
							sideInput.val('')
							sideInput.fadeIn('fast') 										
						});
					}
				});
				
				$('select[name=varsel_p]').change(function () {
					$(this).parent().parent().children('section').children('input[name=keywrd_p]').val($(this).val());
				});
      	}
});

$('#search-searchin').change(function () {
	var sideInput = $(this).parent().parent().children('div').children('input[name=s-field-1]');
	var sideSelect = $(this).parent().parent().children('div').children('select[name=s-field-2]');
	var chngUsers = ['assign_to','cc_to','submitted_by','edit_by'];
	if( $.inArray($(this).val(),chngUsers) >= 0 ){
		var tp = '';
  		if( $(this).val() == 'assign_to' || $(this).val() == 'submitted_by') {
  			tp = 'mrc';
  		} else if( $(this).val() == 'cc_to' ) {
  			tp = 'crt';
  		} else if( $(this).val() == 'edit_by' ) {
  			tp = 'both';
  		}
		if (sideInput.is(":visible")){
			sideInput.fadeOut('fast', function() {
				casearch_userList1(sideSelect,tp);
			});
		} else if (sideSelect.is(":visible")) {
			sideSelect.fadeOut('fast', function() {
				casearch_userList1(sideSelect,tp);
			});						
		}
		$('#search-like').css('pointer-events','all').css('opacity','1');
	} else if( $(this).val() == 'status') {
		if (sideInput.is(":visible")){
			sideInput.fadeOut('fast', function() {
				sideSelect.empty();
				sideSelect.append('<option value="%%%">Any</option><option value="in_progress">In Progress</option><option value="completed">Completed</option><option value="cancelled">Cancelled</option><option value="inactive">Inactive</option>');
				sideSelect.fadeIn('fast');
			});
		} else if (sideSelect.is(":visible")) {
			sideSelect.fadeOut('fast', function() {
				sideSelect.empty();
				sideSelect.append('<option value="%%%">Any</option><option value="in_progress">In Progress</option><option value="completed">Completed</option><option value="cancelled">Cancelled</option><option value="inactive">Inactive</option>');
				sideSelect.fadeIn('fast');
			});						
		}
		$('#search-like').css('pointer-events','all').css('opacity','1');
  	} else if( $(this).val() == 'customer') {
		if (sideInput.is(":visible")){
			sideInput.fadeOut('fast', function() {
				casearch_cstmrList1(sideSelect);
			});
		} else if (sideSelect.is(":visible")) {		
			sideSelect.fadeOut('fast', function() {
				casearch_cstmrList1(sideSelect);
			});						
		}	
		$('#search-like').css('pointer-events','all').css('opacity','1');			
	} else if( $(this).val() == 'all') {
		$('#search-like').val('LIKE');
		$('#search-like').css('pointer-events','none').css('opacity','0.3');
	} else {
		if (sideSelect.is(":visible")){
			sideSelect.fadeOut('fast', function() {
				sideInput.val('')
				sideInput.fadeIn('fast') 										
			});						
		}
		$('#search-like').css('pointer-events','all').css('opacity','1');	
	}
});

$('select[name=s-field-2]').change(function () {
	$(this).parent().parent().children('div').children('input[name=s-field-1]').val($(this).val());
});



function fetchParams(){
	var arraySub = [];
	$('div[name=addParam]').each(function() {
		var a = $(this).children('section').children('select[name=andor_p]').val();
		var b = $(this).children('section').children('section').children('input[name=keywrd_p]').val();
		var c = $(this).children('section').children('select[name=like_p]').val();
		var d = $(this).children('section').children('section').children('select[name=lookin_p]').val();

		if (b){ arraySub.push([a,b,c,d]); }
	});
	//arraySub.shift();
	return arraySub;
}






$(document).ready(function() {
	$('div.submit-cancel-button input').click(function() {
		$('#qry-dialog').remove();
		var prms = fetchParams();
			$('#advanced-search-results').empty();
		$('form#ca_search').eLiveSearch({
			file: 'custom/ca_search/ca_search-results.php',
			target: '#advanced-search-results',
			maxResults: 8,
			order: '',
			live: false,
			minChar: 0,
			liveDelay: 1000,
			effect: 'slide',
			speed: 400,
			closeClass: '',
			param1: '#search-searchin',
			param2: '#search-like',
			param3: '#search-order',
			param4: '',
			param5: '#search-sort',
			param6: '',
			param7: '',
			param8: '',
			param9: '',
			param10: '',
			paramARRY: prms,
			afterLoad: function(){}
		});
	});
	
	$('#ca_search_content').powerWidgets({				
		grid: 'section',
		widgets: '.powerwidget',
		localStorage: false,
		deleteSettingsKey: '#deletesettingskey-options',
		settingsKeyLabel: 'Reset settings?',
		deletePositionKey: '#deletepositionkey-options',
		positionKeyLabel: 'Reset position?',
		sortable: true,
		buttonsHidden: false,
		toggleButton: true,
		toggleClass: 'min-10 plix-10 | plus-10 plix-10',
		toggleSpeed: 200,
		onToggle: function(){},
		deleteButton: false,
		deleteClass: 'trashcan-10',
		deleteSpeed: 200,
		onDelete: function(){},
		editButton: false,
		editPlaceholder: '.powerwidget-editbox',
		editClass: 'pencil-10 | delete-10',
		editSpeed: 200,
		onEdit: function(){},
		fullscreenButton: false,
		fullscreenClass: 'fullscreen-10 | normalscreen-10',	
		fullscreenDiff: 3,		
		onFullscreen: function(){},
		customButton: false,
		customClass: 'folder-10 | next-10',
		customStart: function(){ alert('Hello you, this is a custom button...') },
		customEnd: function(){ alert('bye, till next time...') },
		buttonOrder: '%refresh% %delete% %custom% %edit% %fullscreen% %toggle%',
		opacity: 0.8,
		dragHandle: '> header',
		placeholderClass: 'powerwidget-placeholder',
		indicator: true,
		indicatorTime: 600,
		ajax: true,
		timestampPlaceholder:'.powerwidget-timestamp',
		timestampFormat: 'Last update: %m%/%d%/%y% %h%:%i%:%s%',
		refreshButton: true,
		refreshButtonClass: 'refresh-10 plix-10',
		labelError:'Sorry but there was a error:',
		labelUpdated: 'Last Update:',
		labelRefresh: 'Refresh',
		labelDelete: 'Delete widget:',
		afterLoad: function(){},
		rtl: false	
	}); 

});
</script>