<div id="error-container">
    <div class="error-box">
    	<hgroup>
        	<h1 id="pgheader">404</h1>
            <h2>Page not found</h2>
        </hgroup>
        <p>
			There was an error loading the form:
		</p>
		<br/>
		<center><strong/></center>	
        <div class="line"></div>
        <h3>Other things to try:</h3>
        <ul class="circle" style="margin:0px 0px 10px 0px">
            <li>Use a valid selection from the left</li>
            <li>Use the button below to return home</li>
            <li>Navigate using the sidebar instead modifying the address bar</li>
        </ul>
        <div class="line"></div>
        <div class="ctrls">
            <a href="index.php" class="button-text-icon last">Home <span class="home-10 plix-10"></span></a>
        </div>
    </div>
</div>
</body>
</html>

<script>
$('#error-container div center strong').append($exURL)
</script>
