<script src="js/jquery.dataTables.min.js"></script>
<script src="js/jquery.dataTables.rowGrouping.js"></script>  
<style type="text/css">
@media (max-width: 599px)
#wgt_catables12  {
display: none!important;
}
div.innerDetails { display: none }
.aCo {border-left: 2px solid rgba(124, 252, 0, 1)}
.aIp {border-left: 2px solid rgba(65, 105, 225, 1)}
.d15 {border-left: 2px solid rgba(124, 252, 0, 1)}
.d10 {border-left: 2px solid rgba(255, 255, 51, 1)}
.d5 {border-left: 2px solid rgba(255, 153, 51, 1)}
.d3 {border-left: 2px solid rgba(255, 0, 0, 1)}
.d0 {border-left: 2px solid rgba(102, 0, 0, 1)}
.dn {border-left: 1px solid }
</style>

<script>
///////KICK-OUT CODE
//if($crntDEP != 'adm'){
//        if ($crntDEP != 'mrc') {
//                ERR_notify("This is not a valid selection for your account's department");
//                $('#content-main-inner').empty();
//                loadPOST("403");             
//        }
//}

</script>

<!-- widgets management panel --> 
<div id="powerwidgetspanel" class="powerwidgetspanel">
	<header>
		<h2>Power widgets panel</h2>
	</header>
	<div class="powerwidgetspanel-widget" data-widget-id="widget1">
		<input type="checkbox"/>
		<label><span></span>Search</label>
	</div>                                                 
</div> 

<div class="page-header">
	<h2 id="pgheader" style="opacity:0.8;">Creative Art Tables</h2>
	<span class="page-helper">0.1</span>
	<p>Creative art request history view.</p>
</div> 

<div id="ca_tables1_content">                           
	<!-- Start grid -->
    
    <section class="g_1"> 
		<div class="powerwidget" data-widget-sortable="false" id="wgt_catables13">
			<header>
				<h2>Creative Art Requests</h2>                                  
			</header>
			<div>                                 
				<table id="catables1DT">
					<thead>
						<tr>
							<th/>
							<th/>
							<th style="padding:0px 2px 0px 2px">
								<input type="text" srccol=2 class="dtsearch" style="height:28px; margin:2px 0px 2px 0px">
							</th>
							<th style="padding:0px 2px 0px 2px">
								<input type="text" srccol=3 class="dtsearch" style="height:28px; margin:2px 0px 2px 0px">
							</th>
							<th style="padding:0px 2px 0px 2px">
								<input type="text" srccol=4 class="datepickerDT dtsearch" style="width:100%; height:28px; margin:2px 0px 2px 0px"/>
							</th>
							<th style="padding:0px 2px 0px 2px">
								<input type="text" srccol=5 class="datepickerDT dtsearch" style="width:100%; height:28px; margin:2px 0px 2px 0px"/>
							</th>
							<th style="padding:0px 2px 0px 2px">
								<input type="text" class="datepickerDT dtsearch" srccol=6 style="width:100%; height:28px; margin:2px 0px 2px 0px"/>		
											
							</th>
							<th style="padding:0px 2px 0px 2px">
								<select class="eselect_sub usrslct dtsearch" srccol=7 style="width:100%; height:28px; margin:2px 0px 2px 0px">
									<option value=''></option>
								</select>
							</th>
							<th style="padding:2px 2px 0px 2px">
								<a href="javascript:void(0);" id="ct1_clrSrch" class="button-icon button-small" style="width:26px; height:26px; margin:0px 0px 2px 0px;"><span class="delete-10 plix-10"></span></a>
							</th>
						</tr>
						<tr>
							<th scope="col"></th>	
							<th scope="col">Project Name</th>
							<th scope="col">Customer</th>
							<th scope="col">Concept Number</th>
							<th scope="col">Date Created</th>
							<th scope="col">Last Edited</th>
							<th scope="col">Date Due</th>
							<th scope="col">Assigned Artist</th>
							<th scope="col">Modify</th>							
						</tr>
					</thead>
					
					<tbody id="tbody">
					</tbody>
				</table> 
			</div>
		</div>	
    </section>
     
    <div class="clear"><!-- New row --></div>   
<!-- End grid -->
</div>

<input type="hidden" id="selectedID" value="" >

<div id="catables1_dialog-confirm1" title="Delete Confirmation" style="display:none">
	<p>You are about to delete this entry. This action can not be undone, are you sure you want to proceed?</p>
</div>

<script>
$(".datepickerDT").datepicker({
	dateFormat: "yy-mm-dd",	
	onSelect: function() {
		$(this).change();
	}
});
var $gList = {};
$.ajax({
	type: "POST",
	url: "custom/ca_tables1/catables1_getElementInfo.php",
	data: {
		'type':'garments' 
		},
	cache: false,
	success: function(echo) {
		$gList = jQuery.parseJSON(echo);
	}
}); 

catables1_userList();
function catables1_userList() {   
	jQuery.grep($usrList, function(obj1,loc) {
		if (obj1.dep === 'crt') {
    		$('.usrslct').append('<option value="'+obj1.user+'">'+obj1.first+' '+obj1.last+'</option>');
    	}
	});
	$('#catables1_checker').val($crntUSR)
};

var asInitVals = new Array();

$(document).ready(function() {
	console.log("FORM / ca_tables1: initializing") 
	var dTbl =  $('#catables1DT').dataTable ({
		'aoColumns'		 : [ 
								{
								   "mDataProp": null,
								   "sClass": "control center",
								   "bSortable": false,
								   "sWidth": "17px",
								   "sDefaultContent": '<a href="javascript:void(0);" class="button-icon button-small" style="width:20px; height:20px; float:left; margin:0 0 0 0px;"><span class="plus-10 plix-10"></span></a>'
								}, 
								{"mDataProp": 'project_name','bVisible':false}, 
								{"mDataProp": 'customer'},
								{"mDataProp": 'new_art_concept_num'},
								{"mDataProp": 'created', "sType": "date" },
								{"mDataProp": 'timestamp', "sType": "date" }, 
								{"mDataProp": 'due_date', "sType": "date" }, 
								{"mDataProp": 'cc_to' }, 
								{"mDataProp": null, "bSortable": false, "sClass": "editControl", "sWidth": "43px", "sDefaultContent": '<a href="javascript:void(0);" class="button-icon" style="width:20px; height:20px; float:left; margin:0 0 0 0px;" id="testin"><span class="pencil-10 plix-10"></span></a>  <a href="javascript:void(0);" class="button-icon custom-red" style="width:20px; height:20px; float:right; margin:0 0 0 0px;"><span class="trashcan-10 plix-10"></span></a>'},
							],
		'bJQueryUI'	     : true,
      	'bAutoWidth'	 : false,
        'bServerSide'    : true,
        'bStateSave'	 : true,
        'fnStateSave'	 : function (oSettings, oData) {localStorage.setItem( 'DataTables_ca_tables1', JSON.stringify(oData) )},
        'fnStateLoad'	 : function (oSettings) {
								if ( localStorage.getItem('DataTables_ca_tables1') ) {
									data = JSON.parse( localStorage.getItem('DataTables_ca_tables1'));
									if(data.hasOwnProperty("aoSearchCols")) {
										$.each(data.aoSearchCols, function(i) {
											$('input[srccol*='+i+']').val(this.sSearch)
											$('select[srccol*='+i+']').val(this.sSearch)
										});
									}
									return data;
								} else {
									return
								}
        					},
        'sAjaxSource'    : 'custom/ca_tables1/catables1-results.php',
		"fnPreDrawCallback": function( oSettings ) {
				var sLastGroup = "";
				var revVer = [];
				for ( var i=0 ; i< oSettings.aoData.length; i++ )
				{
					var sGroup = oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['pid'];
					if ( sGroup == sLastGroup || sLastGroup == "" ) {
						revVer.push( oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['id'] );
						revVer.sort();
						jQuery.grep(oSettings.aoData, function(obj1,loc) {
							var pos = jQuery.inArray(obj1._aData.id, revVer);
							if (pos > -1) {
								oSettings.aoData[loc]._aData.rev = pos + 1;
							}
						});
						sLastGroup = sGroup;
					} else {
						sLastGroup = "";
						var revVer = [];
						oSettings.aoData[ oSettings.aiDisplay[i] ]._aData.rev = 1;
						
					}
				}				
			  },
		"fnRowCallback": function( nRow, aaData, iDisplayIndex ) {
				var Tdate = moment();	
				var Ddate = moment(aaData.due_date,'YYYY-MM-DD');
				var Edate = moment(aaData.timestamp,'YYYY-MM-DD HH:mm:ss');
				var Fdate = moment(aaData.created,'YYYY-MM-DD HH:mm:ss');
				var diff = Ddate.diff(Tdate, 'days');
				if (diff >= 15){
					$('td:eq(5)', nRow).empty().text(Ddate.format("MMMM Do, YYYY")).addClass( 'd15' ); 
				} else if (diff >= 10) {
					$('td:eq(5)', nRow).empty().text(Ddate.format("MMMM Do, YYYY")).addClass( 'd10' ); 
				} else if (diff >= 5) {
					$('td:eq(5)', nRow).empty().text(Ddate.format("MMMM Do, YYYY")).addClass( 'd5' ); 
				} else if (diff >= 3) {
					$('td:eq(5)', nRow).empty().text(Ddate.format("MMMM Do, YYYY")).addClass( 'd3' );
				} else if (diff >= 0) {
					$('td:eq(5)', nRow).empty().text(Ddate.format("MMMM Do, YYYY")).addClass( 'd0' );
				} else {
					$('td:eq(5)', nRow).empty().text(Ddate.format("MMMM Do, YYYY"));						
				}
				if (aaData.status == 'completed') {
					$('td:eq(6)', nRow).addClass( 'aCo' );
				} else if (aaData.status == 'in_progress') {
					$('td:eq(6)', nRow).addClass( 'aIp' );
				}
				
				$('td:eq(3)', nRow).empty().append(Fdate.format("MMMM Do, YYYY")+'<i style= "opacity:0.4; margin-left:5px">'+Fdate.format("h:mm a")+'</i>');
				$('td:eq(4)', nRow).empty().append(Edate.format("MMMM Do, YYYY")+'<i style= "opacity:0.4; margin-left:5px;">'+Edate.format("h:mm a")+'</i>');						
				
				
				$('td:eq(4)', nRow).css('position','relative')
				//$('td:eq(4)', nRow).prepend('<p style="float:right; top:0px; right:0px; margin: -10px -5px -10px -5px; font-size:smaller">v.'+aaData.rev+'</p>');
				
				
				jQuery.grep($usrList, function(obj1,loc) {
					if (obj1.user === aaData.cc_to) {
						$('td:eq(6)', nRow).empty().text(obj1.first+' '+obj1.last);
					}
				});		
				
														
				return nRow;
			},
    	'fnDrawCallback' : function ( oSettings ) {
				if ( oSettings.aiDisplay.length == 0 )
				{
					return;
				}
				
				var nTrs = $('#catables1DT tbody tr');
				var iColspan = nTrs[0].getElementsByTagName('td').length;
				var nCount = oSettings.aoData.length	
				var sLastGroup = "";
				var sLastNum = "";
				var revVer = [];
				for ( var i=0 ; i< oSettings.aoData.length; i++ )
				{
					var sGroup = oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['pid'];
					var sNum = oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['new_art_concept_num'];
					var sTitle = oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['project_name'];
					var sID = oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['id'];
					if ( sGroup != sLastGroup ) {
						var revVer = [];
						var nGroup = document.createElement( 'tr' );
						var nCell = document.createElement( 'td' );
						$(nGroup).attr('onClick', 'ct1_row_click('+oSettings.aiDisplay[i]+')');
						$(nGroup).css('background-color','rgba(0, 0, 255, 0.1)').css('cursor','pointer');
						nCell.colSpan = iColspan;
						nCell.className = "group";					
						if(oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['new_art_concept_num'] && oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['new_art_concept_num'] != '<i style="opacity:0.6">(none)</i>'){
							if(oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['name'] && oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['name'] != '<i style="opacity:0.6">(none)</i>'){
								nCell.innerHTML = '<b>'+sTitle+' - '+oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['new_art_concept_num']+' '+oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['name']+'</b>';
							} else {
								nCell.innerHTML = '<b>'+sTitle+' - '+oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['new_art_concept_num']+'</b>';
							}
						} else {
							nCell.innerHTML = '<b>'+sTitle+'</b>';
						}					
						nGroup.appendChild( nCell );
						nTrs[i].parentNode.insertBefore( nGroup, nTrs[i] );
						sLastGroup = sGroup;
						sLastNum = sNum;
						//sLastID = sID;
					} else if ( sNum != sLastNum ) {
						$(nCell).append('<b> / '+sNum+'</b>');
						sLastNum = sNum;
					}
				}
		},

	});	

	$('div.dataTables_filter').empty();							
// 	$('div.dataTables_filter').css('width','21em');
// 	$('div.dataTables_filter label').css('float','left');	
 	$('div.dataTables_filter').append('<input type="text" srccol=1 class="dtsearch" placeholder="Search Project Name..." style="float:left; width:100%; height:28px;">');
 	if ( localStorage.getItem('DataTables_ca_tables1') ){
 		data = JSON.parse( localStorage.getItem('DataTables_ca_tables1'));
		if(data.hasOwnProperty("aoSearchCols")) {
			if(data.aoSearchCols[1].sSearch != '') {
				$('div.dataTables_filter input.dtsearch').val(data.aoSearchCols[1].sSearch)
			}
		}
 	}
 	
	
	$(".dtsearch").keyup( function () {
		/* Filter on the column (the index) of this element */
		dTbl.fnFilter( this.value, $(this).attr('srccol') );
		dTbl.fnDraw(); 
	} );
	
	
	$(".dtsearch, .datepickerDT").change( function () {
		/* Filter on the column (the index) of this element */
		dTbl.fnFilter( this.value, $(this).attr('srccol') );
	} );	
	
	
	/*
	 * Support functions to provide a little bit of 'user friendlyness' to the textboxes in 
	 * the footer
	 */
	
	$(".dtsearch").each( function (i) {
		asInitVals[i] = this.value;
	} );
	
	$(".dtsearch").focus( function () {
		if ( this.className == "search_init" )
		{
			this.className = "";
			this.value = "";
		}
	} );
	
	$(".dtsearch").blur( function (i) {
		//console.log(this.value)
		//console.log($(".dtsearch").index(this))
		//if ( this.value == "" ) {
		//	this.className = "search_init";
		//	this.value = asInitVals[$(".dtsearch").index(this)];
		//}
	} );
	
	
	$('#catables1DT tbody').delegate("tr td a", "click", function() {
		var dataPostion = dTbl.fnGetPosition($(this).parent().parent()[0]);
		var rowContent = dTbl.fnGetData(dataPostion);
		if($(this).children('span').hasClass('trashcan-10')) {
			$("#selectedID").val(rowContent.id)
			$("#catables1_dialog-confirm1").dialog('open');
			return
		} else if($(this).children('span').hasClass('pencil-10')) {
			ca_request_onLoad(rowContent.id)
		} else {
		    var nTr = $(this).parents('tr')[0];
			if ( dTbl.fnIsOpen(nTr) ) {
				$(this).children('span').removeClass("min-10").addClass("plus-10");
				$('div.innerDetails', $(nTr).next()[0]).slideUp( function () {
					dTbl.fnClose( nTr );
				} );
			} else {
				$(this).children('span').removeClass("plus-10").addClass("min-10");
				var nDetailsRow = dTbl.fnOpen( nTr, fnFormatDetails(dTbl, nTr) );
    			$('div.innerDetails').slideDown();
			}
		}
	});

	$('#ca_tables1_content').powerWidgets({				
		grid: 'section',
		widgets: '.powerwidget',
		localStorage: false,
		deleteSettingsKey: '#deletesettingskey-options',
		settingsKeyLabel: 'Reset settings?',
		deletePositionKey: '#deletepositionkey-options',
		positionKeyLabel: 'Reset position?',
		sortable: true,
		buttonsHidden: false,
		toggleButton: true,
		toggleClass: 'min-10 plix-10 | plus-10 plix-10',
		toggleSpeed: 200,
		onToggle: function(){},
		deleteButton: false,
		deleteClass: 'trashcan-10',
		deleteSpeed: 200,
		onDelete: function(){},
		editButton: false,
		editPlaceholder: '.powerwidget-editbox',
		editClass: 'pencil-10 | delete-10',
		editSpeed: 200,
		onEdit: function(){},
		fullscreenButton: false,
		fullscreenClass: 'fullscreen-10 | normalscreen-10',	
		fullscreenDiff: 3,		
		onFullscreen: function(){},
		customButton: false,
		customClass: 'folder-10 | next-10',
		customStart: function(){ alert('Hello you, this is a custom button...') },
		customEnd: function(){ alert('bye, till next time...') },
		buttonOrder: '%refresh% %delete% %custom% %edit% %fullscreen% %toggle%',
		opacity: 0.8,
		dragHandle: '> header',
		placeholderClass: 'powerwidget-placeholder',
		indicator: true,
		indicatorTime: 600,
		ajax: true,
		timestampPlaceholder:'.powerwidget-timestamp',
		timestampFormat: 'Last update: %m%/%d%/%y% %h%:%i%:%s%',
		refreshButton: true,
		refreshButtonClass: 'refresh-10 plix-10',
		labelError:'Sorry but there was a error:',
		labelUpdated: 'Last Update:',
		labelRefresh: 'Refresh',
		labelDelete: 'Delete widget:',
		afterLoad: function(){},
		rtl: false	
	});
	
	$("#catables1_dialog-confirm1").dialog({
		autoOpen: false,//remove this and the click to aut open
		bgiframe: true,
		width: 340,
		modal: true,
		resizable: false,
		buttons: {
			"Confirm Delete":function(){
				$(this).dialog("close");	
				$.ajax({
					type: "POST",
					url: "custom/ca_tables1/ca_tables1DLT.php",
					data: {
						'id':$("#selectedID").val() },
					cache: false,
					success: function()
						{
							$('#catables1DT').dataTable ().fnDeleteRow($("#selectedID").val());
							GRWL_notify("Success","Job removed from database","2500","","","");
						}
				});
				return false;
			},
			Cancel: function() {
				$(this).dialog("close");
			}
		}
	}); 	
	$('select[name=catables1DT_length]').addClass('eselect_sub'); 
});

$('#ct1_clrSrch').click(function () {
	$('input[srccol]').each(function(i) {
		if ( $(this).hasClass('datepicker') ) {
			$('.datepicker').datepicker( "setDate" , null );
			$('#catables1DT').dataTable().fnFilter( '', $(this).attr('srccol') );
		} else {
			$(this).val('');
			$('#catables1DT').dataTable().fnFilter( '', $(this).attr('srccol') );
		}
	});
	$('select[srccol]').each(function(i) {
		$(this).val('');
		$('#catables1DT').dataTable().fnFilter( '', $(this).attr('srccol') );
	});	
});

function ct1_row_click(e) {	
	var dTbl =  $('#catables1DT').dataTable();
	var rowContent = dTbl.fnGetData(e);
	$('div.dataTables_filter input.dtsearch').val(rowContent.project_name).trigger("keyup");
}


function fnFormatDetails ( dTbl, nTr )
{
    var aData = dTbl.fnGetData( nTr );
    var $a = aData.details.toString();
    var garmsA = $a.split('~');
    var sOut = '<div class="innerDetails"><table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
    for(v=0;v<garmsA.length-1;v++){
        var garmsB = garmsA[v].split('|')   	
    	var garmsNUM = garmsB[0]
    	var garmsSTY = garmsB[1].split('/')
    	if(garmsNUM==0){break}
		jQuery.grep($gList, function(obj1) {
    		if (obj1.number === garmsNUM){
    			sOut += '<tr><td style="width:250px"><b style="margin-left:0px; opacity:0.7">• '+obj1.number+' - '+obj1.name+'</b></td>';
    		} 
		});
		sOut += '<td>';    	
		if(garmsSTY[0] != '') {
			for(i=0;i<garmsSTY.length;i++){
						if(i != garmsSTY.length-1){
							sOut += garmsSTY[i]+', ';
						} else {
							sOut += garmsSTY[i];
						}
			}
		} else {
			sOut += '<i style="opacity:0.6">(no colors indicated)</i>';
		}
		sOut += '</td>';
		sOut += '</tr>';
    }
    if (aData.status) {
   		if (aData.status == 'completed') {
    		sOut += '<tr><td style="width:250px"><b>Current Status:</b></td><td>Completed</td></tr>';
    	} else if (aData.status == 'in_progress') {
    		sOut += '<tr><td style="width:250px"><b>Current Status:</b></td><td>In Progress</td></tr>';
    	} else if (aData.status == 'inactive') {
    		sOut += '<tr><td style="width:250px"><b>Current Status:</b></td><td>Inactive</td></tr>';
    	} else if (aData.status == 'cancelled') {
    		sOut += '<tr><td style="width:250px"><b>Current Status:</b></td><td>Cancelled</td></tr>';
    	}
    }
   	if (aData.approval) {	
   		var aArry = aData.approval.split('/').join(', ');
		aArry = aArry.toLowerCase().replace(/\b[a-z]/g, function(letter) {
			return letter.toUpperCase();
		});
    	sOut += '<tr><td style="width:250px"><b>Current Approval:</b></td><td>'+aArry+'</td></tr>';
    }	
    sOut += '<tr><td style="width:250px"><b>Project creation date:</b></td><td>'+aData.created+'</td></tr>';
    if (aData.notes_1) {
    	var nFormat = aData.notes_1.split("\n").join("<br>").toString();
    	sOut += '<tr><td style="width:250px"><b>Merchandiser Notes:</b></td><td>'+nFormat+'</td></tr>';
    }
    if (aData.notes_2) {
    	var nFormat2 = aData.notes_2.split("\n").join("<br>").toString();
    	sOut += '<tr><td style="width:250px"><b>Artist Notes:</b></td><td>'+nFormat2+'</td></tr>';
    }    
    sOut += '</table></div>';
    return sOut;
}


</script>