<link rel="stylesheet" href="custom/ca_request/css/autocomplete.css" type="text/css"/>
<link rel="stylesheet" href="custom/ca_request/css/fd_styles.css" type="text/css"/>
<link rel="stylesheet" href="custom/ca_request/css/wPaint.css" type="text/css"/>
<link rel="stylesheet" href="custom/ca_request/css/wColorPicker.css" type="text/css"/>
<style type="text/css">
.upload-file {
    display:none;
}
.spacer {
    margin-right:-20px;
    float: left;
}
</style>


<script src="custom/ca_request/js/jquery-ui-AF.js"></script>
<script type="text/javascript" src="custom/ca_request/js/wPaint.js"></script>
<script type="text/javascript" src="custom/ca_request/js/wColorPicker.js"></script>
<script src="custom/ca_request/js/ca_autoFillparams.js"></script>
<script src="custom/ca_request/js/ca_set_autoFillparams.js"></script>	
<script src="custom/ca_request/js/jquery.filedrop.js"></script>
<script src="custom/ca_request/js/jquery.paste_image_reader.js"></script>
<script src="custom/ca_request/js/ca_fd_script.js"></script>  
<script src="custom/ca_request/js/ca_submitFunctions.js"></script>            
<script src="custom/ca_request/js/ca_load_data.js"></script>
<script src="custom/ca_request/js/ca_getElementInfo.js"></script>
        
<script>
///////KICK-OUT CODE
if($crntDEP != 'adm'){
	if ($crntDEP != 'mrc' && $crntDEP != 'crt') {
		ERR_notify("This is not a valid selection for your account's department");
		$('#content-main-inner').empty();
		loadPOST("403");
		
	}
}
////////////////////
	
var $strUser = new Array(0,0,0,0,0);
var $dropFile = ""
var $_GET = {};
document.location.search.replace(/\??(?:([^=]+)=([^&]*)&?)/g, function () {
    function decode(s) {
        return decodeURIComponent(s.split("+").join(" "));
    }
    $_GET[decode(arguments[1])] = decode(arguments[2]);
});

userList();
styleOptions();
customerOptions();


if($_GET["formID"]){
	if(window.lastID != $_GET["formID"]){
		var $ca_request_ID = $_GET["formID"];
		window.lastID = $ca_request_ID
		load_data($ca_request_ID)
		currentId($ca_request_ID);
	} else if(window.lastID == $_GET["formID"]) {
		var $ca_request_ID = 'null';
		currentId($ca_request_ID);
	} else {
		var $ca_request_ID = 'null';
		window.lastID = $ca_request_ID
		currentId($ca_request_ID);
	};
} else {
	currentId('null');
};

	
function currentId(d) {
		$.ajax({
	    type: "POST",
	    url: "custom/ca_request/ca_getElementInfo.php",
	    data: {
			'type':'currentId', 
			'condition':d
			},
	    cache: false,
	    success: function(echo)
	        {
					var vals = echo.split("|");
				for (i=0;i<vals.length-1;i++) {
					var subvals = vals[i].split("%");
						var oId= subvals[0];				
					$('#rev_num_sel').append('<option value="'+oId+'">'+(i+1)+'</option>');							
				}
				revUpdate(d);	
	        }
	    });
};
	
</script>                    		
                    		
<!--                    		
<div id="powerwidgetspanel" class="powerwidgetspanel">
	<header>
		<h2>Power widgets panel</h2>
	</header>
                                                               
                                
                                <div class="powerwidgetspanel-widget" data-widget-id="widget_mn">
                                    <input type="checkbox">
                                    <label><span></span>Merchandising Notes</label>
                                </div>
                               
                                <div class="powerwidgetspanel-widget" data-widget-id="widget_an">
                                    <input type="checkbox">
                                    <label><span></span>Artist Notes</label>
                                </div>

                                <div class="powerwidgetspanel-widget" data-widget-id="widget_pi">
                                    <input type="checkbox">
                                    <label><span></span>Page Info</label>
                                </div> 

                                <div class="powerwidgetspanel-widget" data-widget-id="widget_ri">
                                    <input type="checkbox">
                                    <label><span></span>Return Information</label>
                                </div>                                
                                                       
</div>
-->                            
                            
<div class="page-header">
	<h2 id="pgheader" style="opacity:0.8;">Creative Art Request</h2>
	<span class="page-helper" style="opacity:0.8;">0.1</span>
    <!-- <a href="documentation.html" class="page-helper">Documentation</a>
    <a href="javascript:void(0);" class="page-helper empty-local-storage">Clear storage</a> -->
    <p></p>
    <div style="height:10px;"></div>
    <h2 style="font-weight: bolder; margin-bottom: 10px; float:left;"><span id="cnum_header"></span></h2>                          
    <h2 style="font-weight: bolder; margin-bottom: 10px; float:right;"><span id="stat_header"></span></h2> 
    
</div>
                            
							
							
							
<div id='ca_request_content'>						
<form>
	<!-- Start grid -->
	<section class="g_1">
		<div class="e-block" >
			<header>
				<h2>Artwork Upload</h2>
				<div class="powerwidget-indicator" id="rev_num" style="width: 220px; height: 100%; float: right;">
					<span class="indicator" >
						<label for="rev_num_sel">Revision Version:</label>
						<select id="rev_num_sel" class="eselect_sub" style="width: 50px; float: left; margin-left: 7px;"></select>
						<a href="javascript:void(0);" class="button-icon" id="adInfo" style="float:right; margin:0 0 0 10px;"><span class="info-10 plix-10"></span></a>   
					</span>
				</div>
			</header>
			<div>
				<div class="inner-spacer">
					<div class="g_1_2">
						<a href="javascript:void(0);" class="button-icon" id="upload_button" style="float:left; margin:0px 7px 7px 0; height:22px; width:22px" alt="Select an image for upload."><span class="upload-10 plix-10"></span></a>
						<a href="javascript:void(0);" class="button-icon" id="download_button" style="float:left; margin:0px 7px 7px 0; height:22px; width:22px" alt="Download image"><span class="download-10 plix-10"></span></a>
						<strong style="float:left; font-size:larger; margin-top:3px">Reference Image</strong>
						<div class="dropbox" style="width: 100%; height:100%; min-height:300px; margin-bottom:7px; " id="dropbox" align="center">
							<div style="min-height:300px; background-color:#000; opacity:0; pointer-events: none;" id="dropbox_cover"></div>                                   			
						</div>
					</div>
					
					<div class="g_1_2_last">
						<a href="javascript:void(0);" class="button-icon" id="upload_button2" style="float:left; margin:0px 7px 7px 0; height:22px; width:22px" alt="Select an image for upload."><span class="upload-10 plix-10"></span></a>
						<a href="javascript:void(0);" class="button-icon" id="download_button2" style="float:left; margin:0px 7px 7px 0; height:22px; width:22px" alt="Download image"><span class="download-10 plix-10"></span></a>
						<strong style="float:left; font-size:larger; margin-top:3px">Artist Image</strong>
						<div class="dropbox" style="width: 100%; height:100%; min-height:300px; margin-bottom:7px; " id="dropbox2" align="center">
							<div style="min-height:300px; background-color:#000; opacity:0; pointer-events: none;" id="dropbox_cover2"></div>                                   			
						</div>
					</div>
					
					<div id='message' style="height: 10px;"></div>	
					
					<div class="g_4_8">
						<input type="text" name="pName"  id="pName" placeholder="Project Name..." style="height:28px; width: 100%;"/>
					</div>

					<div class="g_2_8">
						<select name="customer_select" id="customer_select"  class="eselect_sub" >
							<option value="">Frequent Customers...</option>
						</select>
					</div>
					
					<div class="g_2_8_last">
						<input type="text" name="customer_input"  id="customer_input" placeholder="Other Customer..." style="width: 100%;"/>
					</div>      
					
					<div class="clear"><!-- New row --></div>
					
					<div id="apprvlFM" >
						<label style="margin-right: 10px;">Approved By:</label>
								
						<input type="checkbox" id="apprvBy1" name="apprvBy1" value="bill"/>
							<label for="apprvBy1"><span></span>Bill</label> 	
								
						<input type="checkbox" name="apprvBy2" id="apprvBy2" value="ed"/>
							<label for="apprvBy2"><span></span>Ed</label>
								
						<input type="checkbox" name="apprvBy3" id="apprvBy3" value="desi"/>
							<label for="apprvBy3"><span></span>Desi</label>
								
						<input type="checkbox" name="apprvBy4" id="apprvBy4" value="mitch"/>
							<label for="apprvBy4"><span></span>Mitch</label>   
					</div>
				</div> 												   
			</div>
		</div><!-- End .powerwidget -->
	</section>
	
	<div class="clear"><!-- New row --></div>

	<section class="g_2_4">
		<div class="powerwidget" data-widget-sortable="false" data-widget-togglebutton="false" id="widget_mn">
			<header>
				<h2>Merchandising Notes</h2>
			</header>
			<div class="inner-spacer">
			<div>
				<textarea name="" id="notesField1" class="resizable-textarea"></textarea>
			</div>
			 </div>
		</div>                                                                                               
	</section>                        
	
	<section class="g_2_4_last">
		<div class="powerwidget" data-widget-sortable="false" data-widget-togglebutton="false" id="widget_an">
			<header>
				<h2>Artist Notes</h2>
			</header>
			<div class="inner-spacer">
				<div>
					<textarea name="" id="notesField2" class="resizable-textarea"></textarea>
				</div>
			</div>
		</div>    
	</section>        
	
	<div class="clear"><!-- New row --></div>

   <section class="g_3_10">
	
		<div class="powerwidget" data-widget-sortable="false" data-widget-togglebutton="false" id="widget_ji">
		
			<header>
				<h2>Job Info</h2>
			</header>
			<div class="inner-spacer">
					
				<input type="text" class="stdTextInput" name="cNum"  id="cNum" placeholder="Concept Number..." style="width: 100%; margin-bottom:7px"/>
				
				<input type="text" name="cName"  id="cName" placeholder="Concept Name..." style="width: 100%; margin-bottom:7px"/>
				
				<hr>
				
				<input type="text" name="cSample"  id="cSample" placeholder="Sample Number..." style="width: 100%;"/>
				
			</div>
		</div>                                                                                               

   </section>   

   <section class="g_3_10">
	
		<div class="powerwidget" data-widget-sortable="false" data-widget-togglebutton="false" id="widget_pi">
		
			<header>
				<h2>Page Info</h2>
			</header>
			<div class="inner-spacer">
			<div>

				<div align="left"> 
					<strong>Page Type:</strong> <br>
				   

				<input type="radio" name="PGTradio" id="pgTYP" value="grp" style="vertical-align: 15%;"/>
					<label for="pgTYP" class="field3Sub2"><span></span>Graphic</label>
					
				<input type="radio" name="PGTradio" id="pgTYP2" value="mkp" style="vertical-align: 15%;"/>
					<label for="pgTYP2" class="field3Sub2"><span></span>Mock-Up</label>

					
				<div class="hr"><hr align="center" width="100%" size="2" noshade="noshade" color="#000000"></div>
				
				
				
		   <div id="d_f">
				<span class="field3Sub1"></span> <strong>Needed For Request:<br>
				<input name="rqstneed[]" type="checkbox" id="rqBox1" value="fullsz" style="vertical-align: 15%;">
					<label for="rqBox1" class="field3Sub2"><span></span>Full Size</label>
				<input name="rqstneed[]" type="checkbox" id="rqBox2" value="jpeg" style="vertical-align: 15%;">
					<label for="rqBox2" class="field3Sub2"><span></span>JPG</label>
			   <input name="rqstneed[]" type="checkbox" id="rqBox3" value="pdf" style="vertical-align: 15%;">
					<label for="rqBox3" class="field3Sub2"><span></span>PDF</label>
		   </div>
		  </strong></div>
				
			
				
			</div>
			 </div>
		</div>                                                                                               

   </section>                        
	 
	
	
	
	<!-- Begin .powerwidget --> 
	<section class="g_4_10_last">     
		<div class="powerwidget" data-widget-sortable="false" data-widget-togglebutton="false" id="widget_ri">
			<header>
				<h2>Return Information</h2>
			</header>
			<div class="inner-spacer">
				<div>
				<div class="g_6_10">         
					
					<div style="width:66%">                       		
						<select name="assign_to" id="assign_to" class="eselect_sub" style="margin-bottom:10px;">
							<option value="">Merchandiser...</option>
						</select>
					</div>
					
					<div style="width:33%; float:right">
						<div style="float:right"> 
							<label for="emailCHK">Notify:</label>
								<input name="" type="checkbox" id="emailCHK" value="1" style="vertical-align: 15%; z-index: 2;">
									<label for="emailCHK"><span></span></label>
						</div> 
					</div>
					
				</div>	
				
				<div class="clear"><!-- New row --></div>
					
				<div class="g_1"> 	
					<div style="width:66%"> 
						<select name="cc_to" id="cc_to" class="eselect_sub" style="margin-bottom:5px;">
							<option value="">Artist...</option>
						</select>
					</div>
					
					<div style="width:33%; float:right"> 
						<input type="text" name="due_date"  id="due_date" class="datepicker" placeholder="Due Date..." style="width: 100%; height:28px; margin-bottom:0px;"/>
					</div>
					
					
				</div>
					
					
				<hr align="center" width="100%" size="2" noshade="noshade" color="#000000">                                 		                                    		
					
				<div class="g_4_10">
						<input type="text" name="return_to"  id="return_to" placeholder="Return To..." style="width: 100%;"/>
				</div>	
				
				
				<div class="g_6_10_last"> 
					
					
					 <div style="float:left; width:50%;">                         
						<label for="nmCPY" style="float:right; margin-right:8px;">Quantity:</label>
					</div>
					
					<div style="float:right; width:50%;"> 
						<input type="text" id="nmCPY" name="nmCPY" />
					</div>
					
						
				</div>
				 
				<div class="clear"><!-- New row --></div>
					
				</div>
			</div>
		</div>         
	</section>
	<!-- End .powerwidget -->
	
	
	<div class="clear"><!-- New row --></div> 
	
	
	<!-- Begin .powerwidget -->
	<section class="g_1_4">
		<div class="powerwidget" data-widget-sortable="false" data-widget-togglebutton="false" id="widget_gs1">
			<header style="overflow:hidden;">
				<h2>Garment Style/Color #1</h2>
			</header>
			<div>
				<div class="inner-spacer">
					<select name="styNM0" id="styNM0"  class="eselect_sub"  onChange=styChange("0") style="margin-bottom:10px;">
					</select>
						<span id="drpVal0">Select a garment style.</span>                                        	
					<hr align="center" width="100%" size="2" noshade="noshade" color="#000000"> 
					<div id="clrSPN0">
						<input id="colors0" type="text" onFocus=selectedEF("colors0","clrSPN0") onInput=autoFill()>
					</div>
				</div>
			</div>
		</div>
	</section>   
	<!-- End .powerwidget -->
	
	<!-- Begin .powerwidget -->
	<section class="g_1_4">
		<div class="powerwidget" data-widget-sortable="false" data-widget-togglebutton="false" id="widget_gs2">
			<header style="overflow:hidden;">
				<h2>Garment Style/Color #2</h2>
			</header>
			<div>
				<div class="inner-spacer">
					<select name="styNM1" id="styNM1" class="eselect_sub"  onChange=styChange("1") style="margin-bottom:10px;">
					</select>
						<span id="drpVal1">Select a garment style.</span>
					<hr align="center" width="100%" size="2" noshade="noshade" color="#000000"> 
					<div id="clrSPN1">
						<input id="colors1" type="text" onFocus=selectedEF("colors1","clrSPN1") onInput=autoFill()>
					</div>
				</div>
			</div>
		</div>
	</section>   
	<!-- End .powerwidget -->
	
	<!-- Begin .powerwidget -->
	<section class="g_1_4">
		<div class="powerwidget" data-widget-sortable="false" data-widget-togglebutton="false" id="widget_gs3">
			<header style="overflow:hidden;">
				<h2>Garment Style/Color #3</h2>
			</header>
			<div>
				<div class="inner-spacer">
					<select name="styNM2" id="styNM2" class="eselect_sub" onChange=styChange("2") style="margin-bottom:10px;">
					</select>
						<span id="drpVal2">Select a garment style.</span>
					<hr align="center" width="100%" size="2" noshade="noshade" color="#000000"> 
					<div id="clrSPN2">
						<input id="colors2" type="text" onFocus=selectedEF("colors2","clrSPN2") onInput=autoFill()>
					</div>
				</div>
			</div>
		</div>
	</section>   
	<!-- End .powerwidget -->
	
	<!-- Begin .powerwidget -->
	<section class="g_1_4_last">
		<div class="powerwidget" data-widget-sortable="false" data-widget-togglebutton="false" id="widget_gs4">
			<header style="overflow:hidden;">
				<h2>Garment Style/Color #4</h2>
			</header>
			<div>
				<div class="inner-spacer">
					<select name="styNM3" id="styNM3" class="eselect_sub" onChange=styChange("3") style="margin-bottom:10px;">
					</select>
						<span id="drpVal3">Select a garment style.</span>
					<hr align="center" width="100%" size="2" noshade="noshade" color="#000000"> 
					<div id="clrSPN3">
						<input id="colors3" type="text" onFocus=selectedEF("colors3","clrSPN3") onInput=autoFill()>
					</div>
				</div>
			</div>
		</div>
	</section>   
	<!-- End .powerwidget -->

	 <div class="clear"><!-- New row --></div> 

    <input type="hidden" name="inclColors0[]" id="inclColors0" value="" >
    <input type="hidden" name="inclColors1[]" id="inclColors1" value="" >
    <input type="hidden" name="inclColors2[]" id="inclColors2" value="" >
    <input type="hidden" name="inclColors3[]" id="inclColors3" value="" >
    <input type="hidden" name="inclColors4[]" id="inclColors4" value="" >

</form>
</div>

<ul class="e-splitmenu-up" id="action-menu" style="float:right;">
	<li><span>Actions</span><a href="javascript:void(0);"><span class="arrow-up-10 plix-10"></span></a>
		<div>
			<ul>
				<li id="sub_button" style="cursor:pointer;"><a><span class="save-10 plix-10"></span>Submit New</a></li>
				<li style="display:none; cursor:pointer;" id="rev_button"><a><span class="plus-10 plix-10"></span>New Revision</a></li>
				<li style="display:none; cursor:pointer;" id="upd_button" ><a><span class="save-10 plix-10"></span>Update Current</a></li>
				<li style="display:none; cursor:pointer;" id="brc_button" ><a><span class="enter-10 plix-10"></span>New Job Branch</a></li>
				<li style="display:none; cursor:pointer;" id="email_button"><a><span class="mail-10 plix-10"></span>Send As Email</a></li>
				<li style="display:none; cursor:pointer;" id="clrBTN" ><a><span class="delete-10 plix-10"></span>Reset Form</a></li>
        	</ul>                                      
    	</div>                               
	</li>
</ul>

<div class="clear" style="height:10px"><!-- New row --></div> 

<input type="hidden" id="hd_submitted_by" value="" >
<input type="hidden" id="hd_edited_by" value="" >
<input type="hidden" id="hd_created_date" value="" >
<input type="hidden" id="hd_created_date_SQL" value="" >
<input type="hidden" id="hd_edited_date" value="" > 
<input type="hidden" id="hd_scribbles" value="" >
<input type="hidden" id="hd_scribbles2" value="" >
<input type="hidden" id="hd_jobid" value="" >
<input type="hidden" id="paster" value="" >
<input type="hidden" id="hd_pid" value="" >

<div style="display:none"><input type="file" id="hd_upload" value=""></div>
<div style="display:none"><input type="file" id="hd_upload2" value=""></div>

<div id="dialog-confirm1" title="Update Confirmation" style="display:none">
	<p>You are about to update this revision. This does not create a new revision, to create a new revision select 'New Revision' instead.</p>
</div>

<div id="dialog-confirm2" title="Change Current Status" style="display:none">
	<p>You are about to update the current status of this job, select a new status below.</p>
		<select name="crnt_status" id="crnt_status" class="eselect_sub" style="margin-top:5px">
			<option value="inactive">Inactive</option>
			<option value="in_progress">In Progress</option>
			<option value="completed">Completed</option>
			<option value="cancelled">Cancelled</option>
		</select>
</div>

<div id="dialog-confirm3" title="Create New Job Branch" style="display:none">
	<p>You are about to create a completely new job with the existing information. The new job will not be linked to the original or it's revisions.</p>
</div>

<!--
<div id="canvasPARENT" align="left" style="position: absolute; overflow: hidden; right: -3px; bottom: -20px; width: auto; height: 20px; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; background-color: white; pointer-events:all; visibility: hidden;"><a href="javascript:clearImage();" style="color:black;">CLEAR</a></div>
-->
 
<script>
$('#styNM0').prepend('<option value="0" selected="selected">STYLE #</option>');
$('#styNM1').prepend('<option value="0" selected="selected">STYLE #</option>');
$('#styNM2').prepend('<option value="0" selected="selected">STYLE #</option>');
$('#styNM3').prepend('<option value="0" selected="selected">STYLE #</option>');


$(document).ready(function() {  
	console.log('FORM / ca_request: initializing');
	$('#newCanvas, #newCanvas2').remove();
	$('#ca_request_content').append('<div id="newCanvas" style="position: fixed; z-index: 100; width: 1000px; height: 500px; border: medium solid #FFF;"> </div>');
	$('#ca_request_content').append('<div id="newCanvas2" style="position: fixed; z-index: 100; width: 1000px; height: 500px; border: medium solid #FFF;"> </div>');
	
	
	if ($crntDEP == 'mrc' || $crntDEP == 'adm') {
		$("html").pasteImageReader(function(data) {
			var strng = data.dataURL.split(",")		
			$.post('../ca_paste_poster.php', {pic : strng[1]}, function(data2){	
				console.log("FORM / ca_request: image pasted into artwork preview")
				$('#upldHolder').fadeTo("slow",0, function() {
					$('#upldHolder').remove();
				});
				$('#newCanvas').wPaint('clear');
				$("#hd_scribbles").val('')
				$('#artImg').remove();				
				$('#dropbox').append("<img id='artImg' style='height:300px; width:auto;' src='../" + data2 + "'/>");	
			});		
		});
	} else if ($crntDEP == 'crt' ) {
		$("html").pasteImageReader(function(data) {
			var strng = data.dataURL.split(",")		
			$.post('../ca_paste_poster.php', {pic : strng[1]}, function(data2){	
				console.log("FORM / ca_request: image pasted into artwork preview")
				$('#upldHolder2').fadeTo("slow",0, function() {
					$('#upldHolder2').remove();
				});
				$('#newCanvas2').wPaint('clear');
				$("#hd_scribbles2").val('')
				$('#artImg2').remove();				
				$('#dropbox2').append("<img id='artImg2' style='height:300px; width:auto;' src='../" + data2 + "'/>");	
			});		
		});	
	}
                     
    //$("#sButton").buttonset();
    $( "#subButton" ).button({ label: "Submit" });
    $( "#subButton" ).css({ padding:"0px 10px"});     
    $( "#due_date" ).datepicker({ dateFormat: "mm/dd/yy" });
	$( "#nmCPY" ).val(0);
	window.scDATA_chk = false;
	window.scDATA_chk2 = false;
	//SPECIFY TIPSY ALT DIALOGS
	$('#upload_button,#upload_button2').tipsy({fallback: "Browse for new image"});
	$('#download_button,#download_button2').tipsy({fallback: "Open image in new tab"});
	$('#rev_num_sel').tipsy({html: true, fallback: "Revision history<br>Green: Most recent version<br>Red: Old version", delayIn: 2000});
	$('#dropbox').tipsy({html: true, fallback: "Drag and drop or use the button<br>above to upload artwork<br>Once image is uploaded, click<br>to open draw area", delayIn: 3000});
	$('#dropbox2').tipsy({html: true, fallback: "Drag and drop or use the button<br>above to upload artwork<br>Once image is uploaded, click<br>to open draw area", delayIn: 3000});
	$('#cNum').tipsy({fallback: "Concept number to use (required if no 'Project Name')", delayIn: 2000});
	$('#cName').tipsy({fallback: "Concept name to use (if available)", delayIn: 2000});
	$('#pName').tipsy({fallback: "Project name to use (required if no 'Concept Number')", delayIn: 2000});
	$('#apprvlFM').tipsy({fallback: "Who the artwork has been approved by", delayIn: 2000});
	$('#assign_to').tipsy({html: true, fallback: "Select a registered user<br>to assign the job to", delayIn: 2000});
	$('#cc_to').tipsy({html: true, fallback: "Select an additional registered user<br>to assign the job to (if needed)", delayIn: 2000});
	$('#return_to').tipsy({html: true, fallback: "Who to return physical<br>copies to and number of<br>copies needed (if required)", delayIn: 2000});
	$('#due_date').tipsy({html: true, fallback: "Due date to be assigned to the job", delayIn: 2000});
	$('#pgTYP').parent().children('label').tipsy({html: true, fallback: "Format art must be in for request", delayIn: 2000});
	$('#d_f strong label').tipsy({html: true, fallback: "Format art must be in for request", delayIn: 2000});
	$('#emailCHK').parent().tipsy({html: true, fallback: "Check to send an email notification<br>to the selected recipient(s) after the<br>form has been submitted", delayIn: 500});
	$('#customer_select').tipsy({fallback: "Choose from a list of common customers", delayIn: 1500});
	$('#customer_input').tipsy({fallback: "Manually specify customer", delayIn: 1500});
	$('#styNM0').tipsy({fallback: "Choose a garment style", delayIn: 2000});
	$('#colors0').tipsy({fallback: "Select garment colors for the above style", delayIn: 2000});
	$('#styNM1').tipsy({fallback: "Choose a garment style", delayIn: 2000});
	$('#colors1').tipsy({fallback: "Select garment colors for the above style", delayIn: 2000});
	$('#styNM2').tipsy({fallback: "Choose a garment style", delayIn: 2000});
	$('#colors2').tipsy({fallback: "Select garment colors for the above style", delayIn: 2000});
	$('#styNM3').tipsy({fallback: "Choose a garment style", delayIn: 2000});
	$('#colors3').tipsy({fallback: "Select garment colors for the above style", delayIn: 2000});
	
	
	
	$("ul#action-menu").eMenu({
		effect: 'slide',
		speed: 100,
		target: '.e-menu-sub',
		typeEvent: 'hover',
		activeClass: 'e-menu-active-up',
		flip:[2,1,0]
	});
	
});

function updStatus() {
        $("#dialog-confirm2").dialog('open');
};
                   
//FADE ON MOUSE OVER JQUERY SCRIPT	  
//$("#dropbox_cover").hover(function() {
	//$("#dropbox_cover").fadeTo("slow", 0.2);
//},function(){
	//$("#dropbox_cover").fadeTo("slow", 0.0); 
//});

//UPDATE THE TOOLTIP WHEN HIDDEN FIELD RECEIVES DATA
$("#hd_edited_date").change(function() {
	var a = $('#hd_created_date').val();
		//var a_ary = a.split(" ");
	var b = $('#hd_submitted_by').val();
	var c = $('#hd_edited_date').val();
		//var c_ary = c.split(" ");
	var d = $('#hd_edited_by').val();
	var content = "<strong>Created By: </strong>"+b+"<br><i>"+a+"</i><hr><strong>Edited By: </strong>"+d+"<br><i>"+c+"</i>";	
	//var content = "<strong>Created By: </strong>"+b+"<br><i>"+a_ary[0]+"</i><hr><strong>Edited By: </strong>"+d+"<br><i>"+c_ary[0]+"</i>";
	$('#adInfo').tipsy({html: true, fallback: content });
});

$("#hd_scribbles").change(function() {
	resizeImage($("#hd_scribbles").val(),'50%','50%');
});

$("#hd_scribbles2").change(function() {
	resizeImage($("#hd_scribbles2").val(),'50%','50%');
});

$('#customer_select').change(function() {
	if($('#customer_select').val() != '') {
  		$('#customer_input').prop('disabled', 'disabled');
  		$('#customer_input').fadeTo(0, 0.4);
  		//$('#customer_input').addClass('textinput');
  		//$('#customer_input').val('');
  	} else {
  		$('#customer_input').prop('disabled', false);
  		$('#customer_input').fadeTo(0, 1);
  	}  
});

$('#customer_input').keyup(function() {
	if($('#customer_input').val() != '') {	
  		$('#customer_select').prop('disabled', 'disabled');
  		$('#customer_select').fadeTo(0, 0.4);
  		//$('#customer_select').val('');
  	} else {
  		$('#customer_select').prop('disabled', false);
  		$('#customer_select').fadeTo(0, 1);
  	}
});

//JQUERY SPINNER SCRIPT
$("#nmCPY").spinner({
	min: 0, 
	max: 11
});	

//CLEAR BUTTON COMMAND	  
$("#clrBTN").click(function() {
	loadPOST("ca_request")
});

//SUBMIT BUTTON COMMAND	  
$("#sub_button").click(function() {
	submit_new();
});

//UPDATE BUTTON COMMAND	  
$("#rev_button").click(function() {
	var ot = $("#rev_num_sel option:selected").text();
	var os = document.getElementById("rev_num_sel").length;
	
	if(ot==os){
		revise_job();
	} else {
		ERR_notify("New revisions can only be made to the most recent version");
	}	
});

//EMAIL BUTTON COMMAND	  
$("#email_button").click(function() {
	var fd = fetchAll();
	if (fd.assign_to == "") {
		ERR_notify("A username is required in the 'Assign To' field.");
		return
	};
	var eml_Line1 = "Creative Art Request Notification";
	var eml_Line2 = "You have been assigned to the following concept:";
	submitEmail(fd.id,fd.new_art_concept_num,fd.art_name,$crntUSR,fd.due_date,eml_Line1,eml_Line2);
	$('#emailCHK').prop('checked', false);
});


////////////FUNCTION FOR CHANGING STYLE NUMBER TITLE BASED ON SELECTION CHANGE		
function styChange(number){
  	var item = $("#styNM"+number).val();
  		if (item == 0) {
   			$("#drpVal"+number).text("Select a garment style.");	
  		} else {
  			$("#drpVal"+number).text(item);
		}; 		
	var e = document.getElementById("styNM"+number);

	$strUser[number] = e.options[e.selectedIndex].text;

		for (var b=0; b<5; b++) {
			if ($strUser[b] == "STYLE #") {
			$strUser[b] = "0";			
			}
		}
};


////////////FUNCTION FOR CHANGING STYLE NUMBER TITLE BASED ON SELECTION CHANGE	
$("#rev_num_sel").change(function() {
	ca_request_onLoad( $(this).val() )
});


////////////FUNCTION FOR NON-DRAG/DROP FILE UPLOAD	
$("#upload_button").click(function() {
	$("#hd_upload").click();
});
$("#upload_button2").click(function() {
	$("#hd_upload2").click();
});


////////////FUNCTION FOR CHANGING STYLE NUMBER TITLE BASED ON SELECTION CHANGE	
$("#dropbox").click(function() {
	imageExplode('#dropbox');
});
$("#dropbox2").click(function() {
	imageExplode('#dropbox2');
});


////////////FUNCTION FOR OPENING IMAGE IN NEW TAB
$('#download_button').click(function() {
	if ($('#artImg').attr('src')) {
		window.open( $('#artImg').attr('src') );
	} else {
		ERR_notify("No image currently available");
	};
});
$('#download_button2').click(function() {
	if ($('#artImg2').attr('src')) {
		window.open( $('#artImg2').attr('src') );
	} else {
		ERR_notify("No image currently available");
	};
});



////////////FUNCTION FOR INITIATING THE LIGHTBOX OVERLAY	
function imageExplode(loc) {
	//var EXPimage = $('#dropbox').css('background-image').replace(/^url|[\(\)]/g, '');
	var EXPimage = $(loc+' img').attr('src');
	EXPimage = EXPimage.replace('"','');
	EXPimage = EXPimage.replace('"','');
	if (EXPimage != "none") {
		var img = new Image();
		img.src = EXPimage;
		img.onload = function() {
			if (loc == '#dropbox') {
				$("#newCanvas2").hide();
				$("#newCanvas").show();
				loadPaint(this.height,this.width);	
			} else if (loc == '#dropbox2') { 
				$("#newCanvas").hide();
				$("#newCanvas2").show();
				loadPaint2(this.height,this.width);
			}
		}
		$.colorbox({
			href:EXPimage, 
			open:'true',
			onClosed:function(){
				miniPaint_close(EXPimage,loc);
        	} 
		});
	}
};	

////////////FUNCTION FOR INITIATING AND FORMATTING THE PAINTER PLUGIN
function loadPaint(H,W) {		
	$("#newCanvas").css('position','absolute');	
	$("#newCanvas").css('width',W+100);
	$("#newCanvas").css('height',H+100);	
	$("#newCanvas").css('left',-50);
	$("#newCanvas").css('top',-25);	
	$("#newCanvas").css('z-index',999999);	
		$("#colorbox").prepend($("#newCanvas"))
		$("#colorbox").css('overflow','visible');		
	$("#newCanvas").wPaint();	
		var scDATA = $('input[id=hd_scribbles]').val();
	if (window.scDATA_chk == false && scDATA){
		$("#newCanvas").wPaint("image", scDATA);
		window.scDATA_chk = true;	
	};
};
function loadPaint2(H,W) {		
	$("#newCanvas2").css('position','absolute');	
	$("#newCanvas2").css('width',W+100);
	$("#newCanvas2").css('height',H+100);	
	$("#newCanvas2").css('left',-50);
	$("#newCanvas2").css('top',-25);	
	$("#newCanvas2").css('z-index',999999);	
		$("#colorbox").prepend($("#newCanvas2"))
		$("#colorbox").css('overflow','visible');		
	$("#newCanvas2").wPaint();	
		var scDATA = $('input[id=hd_scribbles2]').val();
	if (window.scDATA_chk2 == false && scDATA){
		$("#newCanvas2").wPaint("image", scDATA);
		window.scDATA_chk2 = true;	
	};
};


function resizeImage(url, width, height, callback) {
    var sourceImage = new Image();
    sourceImage.onload = function() {
        var canvas = document.createElement("canvas");
        canvas.width = width;
        canvas.height = height;
        canvas.getContext("2d").drawImage(sourceImage, 0, 0, width, height);
        callback(canvas.toDataURL());
    }
    sourceImage.src = url;
}


///////////////////EMAIL SUBMISSION			
function submitEmail(dataID,dataNUM,dataNAM,dataFRM,dataDUE,L1,L2) {
	var eml = $('#assign_to').val();
	var cceml = $('#cc_to').val();
	var curl = ""
	var curl_o = document.URL
	var curl_a = curl_o.split("/");
	for(i=1;i<curl_a.length;i++) {
		if (curl_a[i] != 'pdb') {
			if(curl != "") {
				curl=curl+"/"+curl_a[i]
			} else {
				curl=curl_a[i]
			}	
		} else if (curl_a[i] == 'pdb') {
			break
		}
	}
	$.post("custom/ca_request/ca_sub_email.php", {post_email : eml, post_cc : cceml, post_id : dataID, post_cnum : dataNUM, post_cnam : dataNAM, post_from : dataFRM, post_date : dataDUE, domain : curl, line1 : L1, line2 : L2}, function(data){
     	GRWL_notify("Success","Message Sent"); 
  	})
};


$("#upd_button").click(function() {
	$("#dialog-confirm1").dialog('open');
});

$("#brc_button").click(function() {
	$("#dialog-confirm3").dialog('open');
});


function updStatus() {
        $("#dialog-confirm2").dialog('open');
};

$("#apprvlFM input").change(function() {
	if( $(this).attr('checked') ){
		$("label[for='"+$(this).attr('id')+"']").css('color','#63AB62');	
	} else {
		var bodyColor = $('a').css("color");
		$("label[for='"+$(this).attr('id')+"']").css('color',bodyColor);
	}
});


///////////////////POWER WIDGET FIELD SETTINGS	
$('#ca_request_content').powerWidgets({				
	grid: 'section',
	widgets: '.powerwidget',
	localStorage: false,
	deleteSettingsKey: '#deletesettingskey-options',
	settingsKeyLabel: 'Reset settings?',
	deletePositionKey: '#deletepositionkey-options',
	positionKeyLabel: 'Reset position?',
	sortable: true,
	buttonsHidden: false,
	toggleButton: true,
	toggleClass: 'min-10 plix-10 | plus-10 plix-10',
	toggleSpeed: 200,
	onToggle: function(){},
	deleteButton: false,
	deleteClass: 'trashcan-10',
	deleteSpeed: 200,
	onDelete: function(){},
	editButton: false,
	editPlaceholder: '.powerwidget-editbox',
	editClass: 'pencil-10 | delete-10',
	editSpeed: 200,
	onEdit: function(){},
	fullscreenButton: false,
	fullscreenClass: 'fullscreen-10 | normalscreen-10',	
	fullscreenDiff: 3,		
	onFullscreen: function(){},
	customButton: false,
	customClass: 'folder-10 | next-10',
	customStart: function(){ },
	customEnd: function(){ },
	buttonOrder: '%refresh% %delete% %custom% %edit% %fullscreen% %toggle%',
	opacity: 0.8,
	dragHandle: '> header',
	placeholderClass: 'powerwidget-placeholder',
	indicator: true,
	indicatorTime: 600,
	ajax: true,
	timestampPlaceholder:'.powerwidget-timestamp',
	timestampFormat: 'Last update: %m%/%d%/%y% %h%:%i%:%s%',
	refreshButton: true,
	refreshButtonClass: 'refresh-10 plix-10',
	labelError:'Sorry but there was a error:',
	labelUpdated: 'Last Update:',
	labelRefresh: 'Refresh',
	labelDelete: 'Delete widget:',
	afterLoad: function(){},
	rtl: false	
}); 

$("#dialog-confirm1").dialog({
	autoOpen: false,//remove this and the click to aut open
	bgiframe: true,
	width: 340,
	modal: true,
	resizable: false,
	buttons: {
		"Confirm Update":function(){
			$(this).dialog("close");	
			update_job( $('input[id=hd_jobid]').val() )
		},
		Cancel: function() {
			$(this).dialog("close");
		}
	}
});

$("#dialog-confirm2").dialog({
	autoOpen: false,//remove this and the click to aut open
	bgiframe: true,
	width: 275,
	modal: true,
	resizable: false,
	buttons: {
		"Change Status":function(){
			$(this).dialog("close");	
			chng_status( $('#hd_jobid').val(), $('#crnt_status').val() )
		},
		Cancel: function() {
			$(this).dialog("close");
		}
	}
});

$("#dialog-confirm3").dialog({
	autoOpen: false,//remove this and the click to aut open
	bgiframe: true,
	width: 275,
	modal: true,
	resizable: false,
	buttons: {
		"Branch Job":function(){
			$(this).dialog("close");	
			 branch_job()
		},
		Cancel: function() {
			$(this).dialog("close");
		}
	}
});
</script>
