<script src="js/jquery.dataTables.fnReloadAjax.js"></script>
<script>
	$(function () {	
		if ($('#sp_userjobs_DT_wrapper').length ){
			$('#sp_userjobs_DT').dataTable().fnReloadAjax();
		} else {
			sp_userjobs_load();
		}
	});
</script>