#formWrap { padding:10px; position:absolute; float:left; background-color:#000; background:rgba(0,0,0,.5); -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }
#messageForm { width:326px; border:1px solid #666; background-color:#eee; }
#messageForm fieldset { padding:0; margin:0; position:relative; border:none; background-color:#eee; }
#messageForm legend { visibility:hidden; height:0; }
#messageForm span { display:block; width:326px; height:100px; padding:10px 0; margin:0 0 20px; text-indent:20px; background-color:#bbb; border-bottom:1px solid #333; font:18px Georgia, Serif; color:#fff; }
#sperrlog_Serror01 {
	overflow: hidden;
	width: auto;
	padding: 2px 0px 2px 0px;
	cursor: text;
}
#sperrlog_Serror01 span { display:block; width:auto; margin:3px 1px 3px 1px; padding:2px 18px 2px 6px; position:relative; float:left; text-indent:0; border:1px solid #333; -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px; font:normal 14px Verdana, Sans-serif; }
#sperrlog_Serror01 a { position:absolute; right:6px; top:15%; color:#666; font:bold 12px Verdana, Sans-serif; text-decoration:none; }
#sperrlog_Serror01 a:hover { color:#ff0000; }

#sperrlog_Serror02 {
	overflow: hidden;
	width: auto;
	padding: 2px 2px 2px 2px;
	cursor: text;
}
#sperrlog_Serror02 span { display:block; width:auto; margin:3px 1px 3px 1px; padding:2px 18px 2px 6px; position:relative; float:left; text-indent:0; border:1px solid #333; -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px; font:normal 14px Verdana, Sans-serif; }
#sperrlog_Serror02 a { position:absolute; right:6px; top:15%; color:#666; font:bold 12px Verdana, Sans-serif; text-decoration:none; }
#sperrlog_Serror02 a:hover { color:#ff0000; }

#messageForm #to { width:30px; margin:0 0 2px 0; padding:0 0 3px; position:relative; top:0; float:left; border:none; }
#messageForm input, #messageForm textarea { display:block; width:274px; padding:3px; margin:0 auto 20px; border:1px solid #aaa; }
#messageForm label { display:block; margin:20px 0 3px; text-indent:22px; font:bold 11px Verdana, Sans-serif; color:#666; }
#messageForm #toLabel { margin-top:0; }
#messageForm button { float:right; margin:0 0 20px 0; }
#messageForm #cancel { margin-right:20px; }

.ui-menu .ui-menu-item { white-space:nowrap; padding:0 10px 0 0; }

.tblBLNK {
	background-color: #FFF;
	border-radius: 6px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	position: relative;
	left: 1px;
	padding: 2px 2px 4px 2px;
}
.field3Sub1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
}
.color_input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #000;
}
.color_input2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #666;
	font-style: italic;
	margin: 0px;
	position: static;
}

#sperrlog_Serror1{
	width: 33%;
	height: 16pt;
	margin: 4px 1px 4px 1px;
}

#sperrlog_Serror2{
	width: 33%;
	height: 16pt;
	margin: 4px 1px 4px 1px;
}