<script src="js/jquery.dataTables.fnReloadAjax.js"></script>
<script>
	$(function () {	
		if ($('#sp_uncheckedjobs_DT_wrapper').length ){
			$('#sp_uncheckedjobs_DT').dataTable().fnReloadAjax();
		} else {
			sp_uncheckedjobs_load();
		}
	});
</script>