<script src="js/jquery.dataTables.min.js"></script>
<script src="js/jquery.dataTables.rowGrouping.js"></script>  
<style type="text/css">
div.innerDetails { display: none }
.d15 {border-left: 2px solid rgba(124, 252, 0, 1)}
.d10 {border-left: 2px solid rgba(255, 255, 51, 1)}
.d5 {border-left: 2px solid rgba(255, 153, 51, 1)}
.d3 {border-left: 2px solid rgba(255, 0, 0, 1)}
.d0 {border-left: 2px solid rgba(102, 0, 0, 1)}
.dn {border-left: 1px solid }
</style>
<script>
console.log("WGT:sp_uncheckedjobs / sp_uncheckedjobs widget loaded");
</script>
<!-- New widget -->
                                
<div class="powerwidget" id="sp_uncheckedjobs" data-widget-load="widgets/sp_uncheckedjobs/widget_wrapper.html">
	<header>
    	<h2>Unchecked Separation Data</h2>
	</header>
	
	<div> 
		<table id="sp_uncheckedjobs_DT">
			<thead>
				<tr>
					<th scope="col">Art #</th>
					<th scope="col">Concept #</th>
					<th scope="col">Ship Date</th>
					<th scope="col">Sep Date</th>
					<th scope="col">Separator</th>	
					<th scope="col">Modify</th>							
				</tr>
			</thead>
			
			<tbody id="tbody">
			</tbody>
		</table> 	
	</div>
</div><!-- End .powerwidget --> 

<script>
function sp_uncheckedjobs_wFunction() {

}

function sp_uncheckedjobs_load() {
	$('#sp_uncheckedjobs_DT').dataTable ({
		'iDisplayLength' : 5,
   		'aLengthMenu'	 : [[5, 10, 25], [5, 10, 25]],
		'aoColumns'		 : [  
								{"mDataProp": 'art_num'},
								{"mDataProp": 'concept_num'},
								{"mDataProp": 'ship_date', "sType": "date" }, 
								{"mDataProp": 'sep_date', "sType": "date" }, 
								{"mDataProp": 'sep_by'},
								{"mDataProp": null, "bSortable": false, "sClass": "editControl", "sWidth": "43px", "sDefaultContent": '<a href="javascript:void(0);" class="button-text button-small">OPEN</a>'},
							],
		'bJQueryUI'	     : true,
      	'bAutoWidth'	 : false,
        'bServerSide'    : true,
        'sAjaxSource'    : 'widgets/sp_uncheckedjobs/widget-results.php',
        "aaSorting"		 : [[2,'asc'], [3,'desc']],
		"fnRowCallback": function( nRow, aaData, iDisplayIndex ) {
						
						var Tdate = moment();	
					    var Ddate = moment(aaData.ship_date,'YYYY-MM-DD');
					    var Cdate = moment(aaData.sep_date, 'YYYY-MM-DD');
					    
					    if (Ddate) {
					    	$('td:eq(2)', nRow).empty().text( Ddate.format("MM/DD/YY") );
					    	var diff = Ddate.diff(Tdate, 'days');
					    	if (Cdate) {
					    		$('td:eq(3)', nRow).empty().text( Cdate.format("MM/DD/YY") );
					    	} else {
					    		$('td:eq(3)', nRow).empty().html( '<i style="opacity:0.4">(none)</i>' );
					    	}
					    } else {
					    	$('td:eq(2)', nRow).empty().html( '<i style="opacity:0.4">(none)</i>' );
					    	var diff = 100;
					    }

						if($('td:eq(1)', nRow).text() == ''){
							$('td:eq(1)', nRow).empty().html( '<i style="opacity:0.4">(none)</i>' );
						}
								
						if (diff >= 15){
							$('td:eq(2)', nRow).addClass( 'd15' ); 
						} else if (diff >= 10) {
							$('td:eq(2)', nRow).addClass( 'd10' ); 
						} else if (diff >= 5) {
							$('td:eq(2)', nRow).addClass( 'd5' ); 
						} else if (diff >= 3) {
							$('td:eq(2)', nRow).addClass( 'd3' );
						} else if (diff >= 0) {
							$('td:eq(2)', nRow).addClass( 'd0' );
						}
						
						return nRow;
				},
	});
	$('select[name=sp_uncheckedjobs_DT_length]').addClass('eselect_sub'); 	
}

$('#sp_uncheckedjobs_DT tbody').delegate("tr td a", "click", function() {
	var dTbl = $('#sp_uncheckedjobs_DT').dataTable();
	var dataPostion = dTbl.fnGetPosition($(this).parent().parent()[0]);
	var rowContent = dTbl.fnGetData(dataPostion);
	if($(this).text() == 'OPEN') {
		sp_errlog_onLoad(rowContent.id)
		//console.log(rowContent)
		return
	}
});
</script>