<script src="js/jquery.flot.07.js"></script>
<script src="js/jquery.flot.pie.js"></script>

<div id="powerwidgetspanel" class="powerwidgetspanel">
		<header>
			<h2>Power widgets panel</h2>
		</header>
	</div>  
	
	<div class="page-header">
		<h2 id="pgheader">TEMP CONTENT</h2>
		<p>Subtext.</p>
	</div> 
	
	<div id='wToner_content'>                        
	<!-- Start grid -->
								
	<section class="g_1">
		
		<!-- New widget -->
	
		<div class="powerwidget">
			<header>
				<h2>HOLDER</h2>                                  
			</header>                             
			<div>
				<div class="inner-spacer">
					<input type="checkbox" name="tmp0_shwDate" id="tmp0_shwDate" value="1" style='float:left'/>
					
					<label for="tmp0_shwDate" style='margin-right:5px'><span></span>Filter by Date Range</label>
					
					<div class='clearLeft550' style='width:450px'>
						<input type="text" id="tmp0_from_date" class="datepicker" placeholder="From Date..." style="width: 20%; height:28px; float:left">
						<b style="float:left; margin:5px 2px 0px 7px;">To</b>
						<input type="text" id="tmp0_to_date" class="datepicker" placeholder="To Date..." style="width: 20%; height:28px; margin-bottom:0px; float:left">
					</div>
					
					<a href="javascript:void(0);" id="tmp0_reload" class="button-icon button-small" style="width:26px; height:26px; margin:0px 0px 2px 0px;"><span class="refresh-10 plix-10"></span></a>
					
					<div class="chart-wraper"style="width:90%; position: relative; border-radius:5px">
						<center>
							<b>Total Department Accuracy (ScreenPrint Requests By Month)</b>
						</center>
						<div id="tmp0_flot" class="graph" style="width:100%; height:250px; align:left; position: relative;"></div>
						<center>
							<div id="hover" style='height:14px; width:auto;'/>
						</center>
					</div>
				</div>
			</div>
		</div><!-- End .powerwidget --> 
	

	
	<div class="clear"><!-- New row --></div>
							   
<!-- End grid -->
</div>
							
<script>
	$("#tmp0_from_date").datepicker({ dateFormat: "mm/dd/yy" }).css('pointer-events','none').css('opacity','0.4');
	$("#tmp0_to_date").datepicker({ dateFormat: "mm/dd/yy" }).css('pointer-events','none').css('opacity','0.4');	
        	$("#tmp0_to_date").datepicker('setDate', new Date());

$('#tmp0_shwDate').change(function() {
	if ($(this).is(":checked")){
		$("#tmp0_from_date").css('pointer-events','all').css('opacity','1');
		$("#tmp0_to_date").css('pointer-events','all').css('opacity','1');
	} else {
		$("#tmp0_from_date").css('pointer-events','none').css('opacity','0.4');
		$("#tmp0_to_date").css('pointer-events','none').css('opacity','0.4');		
	}
});

$('#tmp0_reload').click(function () {
	alert('Reloading..')
	tmp0_load()
});

tmp0_load()

function tmp0_load() {
	var singleUser = false;
	var sortBy = 'sep_accuracy'
	data = {};
	toPush = {label:'Other Users', color:'#888', job_total:0, error_total:0, data:0};
	toPush2 = {};
	data2 = [];
	var rnge = false;
	var mmTo = '';
	var mmFrom = '';

	if( $('#tmp0_shwDate').is(":checked") ){ 
		rnge = true; 
		var fdate = $( "#tmp0_from_date").datepicker('getDate');
		var tdate = $( "#tmp0_to_date").datepicker('getDate');		
		if(tdate){mmTo = moment( tdate ).format("YYYY-MM-DD");} else {ERR_notify("'To' date required to filter results by date range");return;}
		if(fdate){mmFrom = moment( fdate ).format("YYYY-MM-DD");} else {ERR_notify("'From' date required to filter results by date range");return;}
		if(fdate > tdate){ERR_notify("'From' field should not be a later date than the 'To' field");return};
	}

	$.ajax({
		type: "POST",
		url: "custom/tmp0/tmp0_fetch.php",
		data: {
			'f0':true,
			'f1':true,
			'to':mmTo,
			'from':mmFrom,
			'range':rnge
        	},
		cache: false,
		success: function(echo) {
			
			//console.log(echo)
			
			data = jQuery.parseJSON(echo);
			
				$.each(jQuery.parseJSON(echo), function(i) {
					
					var mm0 = moment( this.month ).format("YYYY-MM-DD");
					
					this.label = moment(mm0).format("MMMM 'YY");
					
					this.data = this[sortBy];
					delete data[i];
					data.push(this)
				});
				
				//if (singleUser) {data.push(toPush)};
				var options ='';
				
					
				
				$.each(data, function(i) {
					if(this.label){ data2.push(this) }
				});
							
					var d1, d2, d3, xaxisLabels = [], i=0;
					d1 = data2.map(function(elt){
						return [i++, elt.sep_accuracy];
					});
					i = 0;
					d2 = data2.map(function(elt){
						return [i++, elt.perc_without_errors];
					});					

					i = 0;
					xaxisLabels = data2.map(function(elt) { return [i++, elt.label]; });

					
						$.plot($("#tmp0_flot"), 
							[
								{
									label: "Separation Accuracy",
									data: d1,
									lines: { show: true, fill: 0.4 },
									color: "lightgreen",
									hoverable: false
								},
								{
									label: "Workload Accuracy",
									data: d2,
									lines: { show: true, fill: 0.4 },
									color: "green",
									hoverable: false
								}
							], 
								
								{
									series	:	{ lines: { show: true }, curvedLines: { active: true } },
									grid	:	{ hoverable: true, clickable: false},
									legend	:	{ show: true, position: 'se' },
									xaxis: { ticks: xaxisLabels, tickLength:0 },
									yaxis: { ticks: 10 },
								}
						);	
					
					$(window).resize(function() {
						$.plot($("#tmp0_flot"), 
							[
								{
									label: "Separation Accuracy",
									data: d1,
									lines: { show: true, fill: 0.4 },
									color: "lightgreen",
									hoverable: false
								},
								{
									label: "Workload Accuracy",
									data: d2,
									lines: { show: true, fill: 0.4 },
									color: "green",
									hoverable: false
								}
							], 
								
								{
									series	:	{ lines: { show: true }, curvedLines: { active: true } },
									grid	:	{ hoverable: true, clickable: false},
									legend	:	{ show: true, position: 'se' },
									xaxis: { ticks: xaxisLabels, tickLength:0 },
									yaxis: { ticks: 10 },
								}
						);	
					});
	
		

				
		}
	});
};


</script>