<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE, NO-STORE">
<script src="js/jquery.flot.07.js"></script>
<script src="js/jquery.flot.pie.js"></script>
<!--<script src="custom/ca_workload/js/flot-ca_workload.js"></script>-->
<script src="custom/sp_statistics/js/flot-sp_statistics.js"></script>
<style>
@media only screen and (max-width: 550px) {
	.hideOn550 {
		display: none!important;
	}
	.clearLeft550 {
		clear: left;
	}
}
@media only screen and (min-width: 551px) {
	.hideOn550 {
		display: inline!important;
	}
	.clearLeft550 {
		clear: none;
	}
}

</style>
<script>
///////KICK-OUT CODE
if($crntDEP != 'adm'){
        if ($crntDEP != 'sep') {
                ERR_notify("This is not a valid selection for your account's department");
                $('#content-main-inner').empty();
                loadPOST("403");
                
        }
} 

var $errList = {};

$.ajax({
	type: "POST",
	url: "custom/sp_errlog/sperrlog_getElementInfo.php",
	data: {
			'type':'errList', 
			'condition':''
			},
	cache: false,
	success: function(echo)	{
			$errList = jQuery.parseJSON(echo); 
		}
});
</script>  

                            <!-- widgets management panel --> 
                            <div id="powerwidgetspanel" class="powerwidgetspanel" >
                                <header>
                                    <h2>Power widgets panel</h2>
                                </header>

                                <div class="powerwidgetspanel-widget" data-widget-id="pw_sp_statistics0">
                                    <input type="checkbox">
                                    <label>Form A</label>
                                </div>

                                                                                                     
                            </div>
                                                    
                            <div class="page-header">
                                <h2 id="pgheader" >Separation Statistics</h2>
                                <span class="page-helper">0.1</span>
                                <p>View departments stats</p>
                            </div>
                        <div id="sp_statistics_content">
                                                        <!-- Start grid -->
                            
                            <section class="g_1"> 
                            
                            <!-- New widget -->
                                
                                <div class="powerwidget" id="pw_sp_statistics0" data-widget-sortable="false" data-widget-load="custom/sp_statistics/sp_statistics_wrapper.html" >
                                    <header>
                                        <h2>Graphs & Statistics</h2>  
										<i style='margin-left:5px; opacity:0.4'>(By Date Checked)</i>
                                    </header>
                                    <div>
                                    
                                        <div class="toolbar">
											<!--<div class="left">-->
											    
											    <input type="checkbox" name="spstat_shwDate" id="spstat_shwDate" value="1" style='float:left'/>
                                        			<label for="spstat_shwDate" style='margin-right:5px'><span></span>Filter by Date Range</label>
                                                
                                                <div class='clearLeft550' style='width:450px'>
													<input type="text" id="spstat_from_date" class="datepicker" placeholder="From Date..." style="width: 20%; height:28px; float:left">
													<b style="float:left; margin:5px 2px 0px 7px;">To</b>
													<input type="text" id="spstat_to_date" class="datepicker" placeholder="To Date..." style="width: 20%; height:28px; margin-bottom:0px; float:left">
												</div>
												
												<input type="checkbox" name="spstat_fltr0" id="spstat_fltr0" value="1" style='float:left' checked=checked/>
                                        			<label for="spstat_fltr0" style='margin-right:5px'><span></span>Return Job Update Data</label>
                                        			
                                        		<input type="checkbox" name="spstat_fltr1" id="spstat_fltr1" value="1" style='float:left' checked=checked/>
                                        			<label for="spstat_fltr1" style='margin-right:5px'><span></span>Return Sample Data</label>	
												
                                            <!--</div>
                                            <div class="right">
												
                                            </div>-->
                                            <!-- <div class="right">
                                                <input type="submit" id="flt_refresh" value="Filter" class="button-text"/>
                                            </div>End .right -->
                                        </div><!-- End .toolbar -->
										
										<div class="inner-spacer">  
											<div class='g_1'>
												<div class="chart-wraper"style="min-width:250px; position: relative; border-radius:5px">
												<!--
												<select id="spstat_flot_type_view" class="eselect_sub" style="float:left; width:55px">
                                            		<option value="bar" >Bar</option>
                                            		<option value="pie">Pie</option>
                                            	</select>
                                            	
												<select id="spstat_flot_type" class="eselect_sub" style="float:left; margin-left:7px; margin-right:7px; width:175px">
                                            		<option value="count_total">Sum of Workload</option>
													<option value="job_total">Sum of Job Values</option>
													<option value="error_total">Sum of Error Values</option>
                                            	</select>-->
                                            	
                                            	
                                            	
													<!--<div id="flot_sp_statistics0_head" style='margin-left:50px; margin-bottom:15px'><h2/></div>
													<div style="height:50px"/>-->
													<div class='g_1_3'>
														<center><b>Sum of Workload</b></center>
														<div id="flot_sp_statistics0" class="graph" style="width:100%; height:250px; align:left; position: relative;"></div>
													</div>
													<div class='g_1_3'>	
														<center><b>Sum of Job Values</b></center>
														<div id="flot_sp_statistics1" class="graph" style="width:100%; height:250px; align:left; position: relative;"></div>
													</div>	
													<div class='g_1_3_last'>	
														<center><b>Sum of Error Values</b></center>
														<div id="flot_sp_statistics2" class="graph" style="width:100%; height:250px; align:left; position: relative;"></div>
													</div>	
													<center><div id="hover" style='height:14px; width:auto;'/></center>
												</div>
												
											</div>
											
											<div class="clear" style="height:10px"><!-- New row --></div>
											
											<div class='g_1_2'>
												<div style="background-color:rgba(0,0,0,0.5); position:relative; border-radius:5px">
													<div class="inner-spacer">  	
														<div id="spstats_info_1" style='text-align:center'>
															<h2>Department Statistics</h2>
															<div style='height:5px'/>
														</div>
														<hr style='background-color:white;'>
														
														<table style='width:100%'>
															<tr>
																<td style='width:33%'>
																	<b>Separation Accuracy:</b>
																</td>
																<td>
																	<div id="spstats-bar00" style="margin-bottom:3px"></div>
																</td>
															</tr>
															<tr>
																<td>
																	<b>Workload Accuracy:</b>
																</td>
																<td>
																	<div id="spstats-bar01" style="margin-bottom:6px"></div>
																</td>
															</tr>
														
														</table>
														
														<div class='numHolder_t' style='border-bottom:0px; border-right:0px; border-left:0px;  width:33%; height:40px; float:left'>
															<center>
																<div style='opacity:0.4;'><small>Quantity of</small></div>
																<div style='opacity:0.4; line-height:0px'><small>Total Jobs</small></div>
																<div style='line-height:40px'><h2 id='spstat_info_01'></h2></div>
															</center>
														</div>

														<div class='numHolder_t' style='border-bottom:0px;width:33%; height:40px; float:left; margin-left:-1px'>
															<center>
																<div style='opacity:0.4;'><small>Quantity of</small></div>
																<div style='opacity:0.4; line-height:0px'><small>Jobs Faulted</small></div>
																<div style='line-height:40px'><h2 id='spstat_info_05'></h2></div>
															</center>
														</div>
										
														<div class='numHolder_t' style='border-bottom:0px; border-right:0px; border-left:0px; width:33%; height:40px; float:left; margin-left:-1px'>
															<center>
																<div style='opacity:0.4;'><small>Quantity of</small></div>
																<div style='opacity:0.4; line-height:0px'><small>Jobs Correct</small></div>
																<div style='line-height:40px'><h2 id='spstat_info_04'></h2></div>
															</center>
														</div>
										
														<div class='numHolder_t' style='border-bottom:0px; border-right:0px; border-left:0px; width:33%; height:40px; float:left; margin-left:0px; margin-top:20px'>
															<center>
																<div style='opacity:0.4;'><small>Total of</small></div>
																<div style='opacity:0.4; line-height:0px'><small>Job Values</small></div>
																<div style='line-height:40px'><h2 id='spstat_info_02'></h2></div>
															</center>
														</div>
														
														<div class='numHolder_t' style='border-bottom:0px; width:33%; height:33px; margin-bottom:7px; float:left; margin-left:-1px; margin-top:20px'>
															<center>
																<div style='opacity:0.4;'><small>Total of</small></div>
																<div style='opacity:0.4; line-height:0px'><small>Error Values</small></div>
																<div style='line-height:40px'><h2 id='spstat_info_03'></h2></div>
															</center>
														</div>
														
														<div class='numHolder_t' style='border-bottom:0px; border-right:0px; border-left:0px; width:33%; height:33px; margin-bottom:25px; float:left; margin-left:-1px; margin-top:20px'>
															<center>
																<div style='opacity:0.4;'><small>Total of</small></div>
																<div style='opacity:0.4; line-height:0px'><small>Retained Value</small></div>
																<div style='line-height:40px'><h2 id='spstat_info_06'></h2></div>
															</center>
														</div>

														<div id='spstats_info_dep_more' style='top:80px; margin-top:70px;'>
															<hr style='background-color:white;'>
															<center><h2 style='margin:10px 0px'>Error Statistics</h2></center>
															<table id='spstats_dep_errtable' style="width:100%" >
															</table>
														</div>
														
													</div>
												</div>

											</div><!-- section end -->
											
											<div class='g_1_2_last'>
												<div style="background-color:rgba(0,0,0,0.5); position:relative; border-radius:5px;">
													<div class="inner-spacer">  	
														<div id="spstats_info_0" style='text-align:center'>
															<h2>Select a Separator</h2>
															<div style='height:5px'/>
														</div>
														<hr style='background-color:white; opacity:1'>
														
														<table style='width:100%'>
															<tr>
																<td style='width:33%'>
																	<b>Separation Accuracy:</b>
																</td>
																<td>
																	<div id="spstats-bar0" style="margin-bottom:3px"></div>
																</td>
															</tr>
															<tr>
																<td style='width:33%'>
																	<b>Workload Accuracy:</b>
																</td>
																<td>
																	<div id="spstats-bar3" style="margin-bottom:3px"></div>
																</td>
															</tr>															
															<tr>
																<td>
																	<b>% of Dep. Workload:</b>
																</td>
																<td>
																	<div id="spstats-bar1" style="margin-bottom:3px"></div>
																</td>
															</tr>
															<tr>
																<td>
																	<b>% of Dep. Errors:</b>
																</td>
																<td>
																	<div id="spstats-bar2" style="margin-bottom:7px"></div>
																</td>
															</tr>
														</table>
														<div class='numHolder_t' style='border-bottom:0px; border-right:0px; border-left:0px;  width:33%; height:40px; float:left'>
															<center>
																<div style='opacity:0.4;'><small>Quantity of</small></div>
																<div style='opacity:0.4; line-height:0px'><small>Total Jobs</small></div>
																<div style='line-height:40px'><h2 id='spstat_info_1'></h2></div>
															</center>
														</div>

														<div class='numHolder_t' style='border-bottom:0px;width:33%; height:40px; float:left; margin-left:-1px'>
															<center>
																<div style='opacity:0.4;'><small>Quantity of</small></div>
																<div style='opacity:0.4; line-height:0px'><small>Jobs Faulted</small></div>
																<div style='line-height:40px'><h2 id='spstat_info_5'></h2></div>
															</center>
														</div>
										
														<div class='numHolder_t' style='border-bottom:0px; border-right:0px; border-left:0px; width:33%; height:40px; float:left; margin-left:-1px'>
															<center>
																<div style='opacity:0.4;'><small>Quantity of</small></div>
																<div style='opacity:0.4; line-height:0px'><small>Jobs Correct</small></div>
																<div style='line-height:40px'><h2 id='spstat_info_4'></h2></div>
															</center>
														</div>
										
														<div class='numHolder_t' style='border-bottom:0px; border-right:0px; border-left:0px; width:33%; height:40px; float:left; margin-left:0px; margin-top:20px'>
															<center>
																<div style='opacity:0.4;'><small>Total of</small></div>
																<div style='opacity:0.4; line-height:0px'><small>Job Values</small></div>
																<div style='line-height:40px'><h2 id='spstat_info_2'></h2></div>
															</center>
														</div>
														
														<div class='numHolder_t' style='border-bottom:0px; width:33%; height:33px; margin-bottom:7px; float:left; margin-left:-1px; margin-top:20px'>
															<center>
																<div style='opacity:0.4;'><small>Total of</small></div>
																<div style='opacity:0.4; line-height:0px'><small>Error Values</small></div>
																<div style='line-height:40px'><h2 id='spstat_info_3'></h2></div>
															</center>
														</div>
														
														<div class='numHolder_t' style='border-bottom:0px; border-right:0px; border-left:0px; width:33%; height:33px; margin-bottom:25px; float:left; margin-left:-1px; margin-top:20px'>
															<center>
																<div style='opacity:0.4;'><small>Total of</small></div>
																<div style='opacity:0.4; line-height:0px'><small>Retained Value</small></div>
																<div style='line-height:40px'><h2 id='spstat_info_6'></h2></div>
															</center>
														</div>
														<div id='spstats_info_more' style='top:70px; margin-top:60px;'>
															<hr>
															<center><h2 style='margin:10px 0px'>Error Statistics</h2></center>
															<table id='spstats_usr_errtable' style="width:100%" >
															</table>
														</div>
													</div>
												</div>
											
											</div>
										</div>
                                        
                                        
                                        
                                        
                                    </div>                                   
                                </div>
                                
                            <!-- End .powerwidget -->  
                            
                            </section>
                                                                                                                                                                                           
                	       <div class="clear"><!-- New row --></div>
                        </div> 
                            <!-- End grid -->
                            
                       </div><!-- End #content-main-inner --> 
                    </div><!-- End #content-main --> 
                </div><!-- End #content-inner --> 
                

 
                
                              
            </div><!-- End #content-border --> 
        </div><!-- End #content --> 
            
    </div><!-- End #container -->
    
    <!-- scroll to top link -->
    <div id="scrolltotop"><span></span></div> 
    




<script>
$(document).ready(function() {   
	console.log("FORM / sp_statistics: initializing")                
	$("#flot_sp_statistics0,#flot_sp_statistics1,#flot_sp_statistics2").bind("plothover", pieHover);
	$("#flot_sp_statistics0,#flot_sp_statistics1,#flot_sp_statistics2").bind("plotclick", pieClick);
	//$('#spstats_info_0').parent().hide();
	
	$("#spstat_from_date").datepicker({ dateFormat: "mm/dd/yy" }).css('pointer-events','none').css('opacity','0.4');
	$("#spstat_to_date").datepicker({ dateFormat: "mm/dd/yy" }).css('pointer-events','none').css('opacity','0.4');	
        	$("#spstat_to_date").datepicker('setDate', new Date());
			
	$('#spstats_usr_errtable,#spstats_dep_errtable').delegate("tr", "mouseenter", function() { $(this).css('background-color','rgba(0,0,0,0.2)'); });
	$('#spstats_usr_errtable,#spstats_dep_errtable').delegate("tr", "mouseleave", function() { $(this).css('background-color',''); });
  
});

var timeOut = null;

// $(window).resize(function () {
// 	if (timeOut != null)
//         clearTimeout(timeOut);
//     timeOut = setTimeout(function(){
//     	$('#pw_sp_statistics0 header div a.powerwidget-refresh-btn').click();
//     }, 400);
// });
    
$('#spstat_flot_type, #spstat_flot_type_view').change(function() {
	$('#pw_sp_statistics0 header div a.button-icon.powerwidget-refresh-btn').click();
	//$('#spstats_info_0').parent().slideUp('normal');
});

$('#spstat_shwDate').change(function() {
	if ($(this).is(":checked")){
		$("#spstat_from_date").css('pointer-events','all').css('opacity','1');
		$("#spstat_to_date").css('pointer-events','all').css('opacity','1');
	} else {
		$("#spstat_from_date").css('pointer-events','none').css('opacity','0.4');
		$("#spstat_to_date").css('pointer-events','none').css('opacity','0.4');		
	}
});

///////////////////POWER WIDGET FIELD SETTINGS  
$('#sp_statistics_content').powerWidgets({                                
        grid: 'section',
        widgets: '.powerwidget',
        localStorage: false,
        deleteSettingsKey: '#deletesettingskey-options',
        settingsKeyLabel: 'Reset settings?',
        deletePositionKey: '#deletepositionkey-options',
        positionKeyLabel: 'Reset position?',
        sortable: true,
        buttonsHidden: false,
        toggleButton: true,
        toggleClass: 'min-10 plix-10 | plus-10 plix-10',
        toggleSpeed: 200,
        onToggle: function(){},
        deleteButton: false,
        deleteClass: 'trashcan-10',
        deleteSpeed: 200,
        onDelete: function(){},
        editButton: false,
        editPlaceholder: '.powerwidget-editbox',
        editClass: 'pencil-10 | delete-10',
        editSpeed: 200,
        onEdit: function(){},
        fullscreenButton: false,
        fullscreenClass: 'fullscreen-10 | normalscreen-10',     
        fullscreenDiff: 3,              
        onFullscreen: function(){},
        customButton: false,
        customClass: 'folder-10 | next-10',
        customStart: function(){ },
        customEnd: function(){ },
        buttonOrder: '%refresh% %delete% %custom% %edit% %fullscreen% %toggle%',
        opacity: 0.8,
        dragHandle: '> header',
        placeholderClass: 'powerwidget-placeholder',
        indicator: true,
        indicatorTime: 600,
        ajax: true,
        timestampPlaceholder:'.powerwidget-timestamp',
        timestampFormat: 'Last update: %m%/%d%/%y% %h%:%i%:%s%',
        refreshButton: true,
        refreshButtonClass: 'refresh-10 plix-10',
        labelError:'Sorry but there was a error:',
        labelUpdated: 'Last Update:',
        labelRefresh: 'Refresh',
        labelDelete: 'Delete widget:',
        afterLoad: function(){},
        rtl: false      
}); 

$("#spstats-bar0, #spstats-bar1, #spstats-bar2, #spstats-bar3").eProgressbar({
    animate: true,
    easing: '',
    loop: true,
    delay: 400,
    showTotal: true,
    speed: 2000,
    after: function(){}
});	

</script>