<script>
console.log("WGT:ca_requestRecent / ca_requestRecent widget loaded")
</script>

<!-- New widget -->
<div class="powerwidget" id="ca_requestRecent" data-widget-load="widgets/ca_requestRecent/searchWrapper.php" >
	<header>
		<h2>Your Recently Active Jobs</h2>                                  
	</header>                             
	<div class="inner-spacer">
		<div id="carqst_results"/>
	</div>
</div>
<!-- End widget --> 

<script>
function ca_requestRecent_wFunction() {

}
</script>