<script src="js/jquery.dataTables.fnReloadAjax.js"></script>
<script>
	$(function () {	
		if ($('#ca_artistAssigned_DT_wrapper').length ){
			$('#ca_artistAssigned_DT').dataTable().fnReloadAjax();
		} else {
			ca_artistAssigned_load();
		}
	});
</script>