<script src="js/jquery.dataTables.min.js"></script>
<script src="js/jquery.dataTables.rowGrouping.js"></script>  
<style type="text/css">
div.innerDetails { display: none }
.d15 {border-left: 2px solid rgba(124, 252, 0, 1)}
.d10 {border-left: 2px solid rgba(255, 255, 51, 1)}
.d5 {border-left: 2px solid rgba(255, 153, 51, 1)}
.d3 {border-left: 2px solid rgba(255, 0, 0, 1)}
.d0 {border-left: 2px solid rgba(102, 0, 0, 1)}
.dn {border-left: 1px solid }
</style>
<script>
console.log("WGT:ca_artistAssigned / ca_artistAssigned widget loaded");
</script>
<!-- New widget -->
                                
<div class="powerwidget" id="ca_artistAssigned" data-widget-load="widgets/ca_artistAssigned/widget_wrapper.html">
	<header>
    	<h2>Your Currently Assigned Jobs</h2>
	</header>
	
	<div> 
		<table id="ca_artistAssigned_DT">
			<thead>
				<tr>
					<th scope="col">Project Name</th>
					<th scope="col">Concept Number</th>
					<th scope="col">Last Edited</th>
					<th scope="col">Date Due</th>
					<th scope="col">Modify</th>							
				</tr>
			</thead>
			
			<tbody id="tbody">
			</tbody>
		</table> 	
	</div>
</div><!-- End .powerwidget --> 

<script>
function ca_artistAssigned_wFunction() {

}

function ca_artistAssigned_load() {
	$('#ca_artistAssigned_DT').dataTable ({
		'iDisplayLength' : 5,
   		'aLengthMenu'	 : [[5, 10, 25], [5, 10, 25]],
		'aoColumns'		 : [ 
								{"mDataProp": 'project_name','bVisible':false}, 
								{"mDataProp": 'new_art_concept_num'},
								{"mDataProp": 'timestamp', "sType": "date" }, 
								{"mDataProp": 'due_date', "sType": "date" }, 
								{"mDataProp": null, "bSortable": false, "sClass": "editControl", "sWidth": "43px", "sDefaultContent": '<a href="javascript:void(0);" class="button-text button-small">OPEN</a>'},
							],
		'bJQueryUI'	     : true,
      	'bAutoWidth'	 : false,
        'bServerSide'    : true,
        'bStateSave'	 : true,
        'sAjaxSource'    : 'widgets/ca_artistAssigned/widget-results.php?usr='+$crntUSR,
    	"fnDrawCallback" : function ( oSettings ) {
							if ( oSettings.aiDisplay.length == 0 )
							{
								return;
							}
							
							var nTrs = $('#ca_artistAssigned_DT tbody tr');
							var iColspan = nTrs[0].getElementsByTagName('td').length;
							var nCount = oSettings.aoData.length	
							var sLastGroup = "";
							var sLastNum = "";
							for ( var i=0 ; i< oSettings.aoData.length; i++ )
							{
								var sGroup = oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['pid'];
								var sNum = oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['new_art_concept_num'];
								var sTitle = oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['project_name'];
								if ( sGroup != sLastGroup ) {
									var nGroup = document.createElement( 'tr' );
									var nCell = document.createElement( 'td' );
									$(nGroup).attr('onClick', 'ct1_row_click('+oSettings.aiDisplay[i]+')');
									$(nGroup).css('background-color','rgba(0, 255, 0, 0.1)').css('cursor','pointer');
									nCell.colSpan = iColspan;
									nCell.className = "group";					
									if(oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['new_art_concept_num'] && oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['new_art_concept_num'] != '<i style="opacity:0.6">(none)</i>'){
										if(oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['name'] && oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['name'] != '<i style="opacity:0.6">(none)</i>'){
											nCell.innerHTML = '<b>'+sTitle+' - '+oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['new_art_concept_num']+' '+oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['name']+'</b>';
										} else {
											nCell.innerHTML = '<b>'+sTitle+' - '+oSettings.aoData[ oSettings.aiDisplay[i] ]._aData['new_art_concept_num']+'</b>';
										}
									} else {
										nCell.innerHTML = '<b>'+sTitle+'</b>';
									}					
									nGroup.appendChild( nCell );
									nTrs[i].parentNode.insertBefore( nGroup, nTrs[i] );
									sLastGroup = sGroup;
									sLastNum = sNum;
								} else if ( sNum != sLastNum ) {
									$(nCell).append('<b> / '+sNum+'</b>');
									sLastNum = sNum;
								}
							}
					},
		"fnRowCallback": function( nRow, aaData, iDisplayIndex ) {
						
						var Tdate = moment();	
					    var Ddate = moment(aaData.due_date,'YYYY-MM-DD');
					    var Cdate = moment(aaData.timestamp,'YYYY-MM-DD hh:mm:ss');

						if(Cdate){
							$('td:eq(1)', nRow).empty().html(Cdate.format("MMMM DD, YYYY")+" <i style='opacity:0.4; margin-left:5px'>"+Cdate.format("h:mm a")+"</i>"); 
						} else {
							$('td:eq(1)', nRow).empty().html('<i style="opacity:0.4">(none)</i>');
						}
						
						if(Ddate){
							$('td:eq(2)', nRow).empty().text(Ddate.format("MMMM DD, YYYY")); 
						    var diff = Ddate.diff(Tdate, 'days');						
						} else {
							$('td:eq(2)', nRow).empty().html('<i style="opacity:0.4">(none)</i>');
							var diff = 100;
						}
								
						if (diff >= 15){
							$('td:eq(2)', nRow).addClass( 'd15' ); 
						} else if (diff >= 10) {
							$('td:eq(2)', nRow).addClass( 'd10' ); 
						} else if (diff >= 5) {
							$('td:eq(2)', nRow).addClass( 'd5' ); 
						} else if (diff >= 3) {
							$('td:eq(2)', nRow).addClass( 'd3' );
						} else if (diff >= 0) {
							$('td:eq(2)', nRow).addClass( 'd0' );
						}
						
						return nRow;
				},
	});
	$('select[name=ca_artistAssigned_DT_length]').addClass('eselect_sub'); 	
}

$('#ca_artistAssigned_DT tbody').delegate("tr td a", "click", function() {
	var dTbl = $('#ca_artistAssigned_DT').dataTable();
	var dataPostion = dTbl.fnGetPosition($(this).parent().parent()[0]);
	var rowContent = dTbl.fnGetData(dataPostion);
	if($(this).text() == 'OPEN') {
		ca_request_onLoad(rowContent.id)
		return
	}
});
</script>