<script>
console.log("WGT:sp_sepsubmit / sp_sepsubmit widget loaded")
</script>

<!-- New widget -->
<div class="powerwidget" id="sp_sepsubmit">
	<header>
		<h2>Submit New Separation Data</h2>                                  
	</header>
	<div class='sp_sepsubmit_inside'>                                 
		<div class="inner-spacer">
			<div>
				<input type="text" name="sp_sepsubmit_art" placeholder="Art Number..." style="width: 49%; height:30px; float:left"/>
				<input type="text" name="sp_sepsubmit_concept" placeholder="Concept Number..." style="width: 49%; height:30px; float:right; margin-bottom:7px"/>
			</div>
				<hr>
			<div>
				<input type="text" name="sp_sepsubmit_shipdate"  id="sp_sepsubmit_shipdate" class="datepicker" placeholder="Ship Date..." style="width: 49%; float:left; height:30px; margin:0px 0px 0px 0px"/>
				<input type="text" name="sp_sepsubmit_sepdate"  id="sp_sepsubmit_sepdate" class="datepicker" placeholder="Separation Date..." style="width: 49%; float:right; height:30px; margin:0px 0px 7px 0px;"/>					
			</div>
			<hr>
			<div class="g_1_2">
				<select name="sp_sepsubmit_jtype" class="eselect_sub" id="sp_sepsubmit_jtype" style="width:100%; height:30px; margin-bottom:0px">
					<option value="">Job Type...</option>
				</select> 						
			</div>
			<div class="g_1_2_last" style="margin-bottom:7px">
				<select name="sp_sepsubmit_jtypev" class="eselect_sub" id="sp_sepsubmit_jtypev" style="width:100%; height:30px; margin-bottom:0px">
					<option value="">Job Type Variant...</option>
				</select> 						
			</div>	
			<hr>
			<!-- <select id="sp_sepsubmit_sepper" class="eselect_sub" style="float:right; width:49%">
				<option value="">Select Separator...</option>
			</select> -->
			
			<textarea id="sp_sepsubmit_notes_field" style='display:none; width:100%; height:100px; border-radius:5px; margin-bottom:5px'></textarea>
			
			<a href="javascript:void(0);" class="button-icon-text" style='float:left; margin:0px' id='sp_sepsubmit_notes'><span class="pencil-10 plix-10"></span>Add Notes</a>
			
			
			<a href="javascript:void(0);" class="button-icon-text" style='float:right; margin:0px' id='sp_sepsubmit_submit'><span class="save-10 plix-10"></span>Submit New</a>
			
		</div>                                                                                                                           
	</div>
</div>
<!-- End widget --> 
<div id="sp_sepsubmit_dialog" title="Confirm Job Information" style="display:none">
	<b>Please review the following information and confirm that it is correct before submitting.</b>
	<hr>
	<table style='width:100%'>
		<tr>
			<td><b>Art Number:</b></td>
			<td id='sp_sepsubmit_tbl0'></td>
		</tr>
		<tr>
			<td><b>Concept Number:</b></td>
			<td id='sp_sepsubmit_tbl1'></td>
		</tr>		
		<tr>
			<td><b>Ship Date:</b></td>
			<td id='sp_sepsubmit_tbl2'></td>
		</tr>
		<tr>
			<td><b>Separation Date:</b></td>
			<td id='sp_sepsubmit_tbl3'></td>
		</tr>
		<tr>
			<td><b>Job Type:</b></td>
			<td id='sp_sepsubmit_tbl4'></td>
		</tr>
		<tr>
			<td><b>Separated By:</b></td>
			<td id='sp_sepsubmit_tbl5'></td>
		</tr>	
		<tr style="display:none">
			<td><b>Checked By:</b></td>
			<td id='sp_sepsubmit_tbl6'></td>
		</tr>			
	</table>
	<i id='sp_sepsubmit_tbl6_txt' style='display:none; margin-top:10px'>Note: 'Job Updates' bypass the typical checking process and will be indicated as being checked by the separator</i>
</div>
<script>
function sp_sepsubmit_wFunction() {

}

$('#sp_sepsubmit_dialog table').delegate("tr", "mouseenter", function() { $(this).css('background-color','rgba(0,0,0,0.2)'); });
$('#sp_sepsubmit_dialog table').delegate("tr", "mouseleave", function() { $(this).css('background-color',''); });
	
$("#sp_sepsubmit_shipdate").datepicker({ dateFormat: "mm/dd/yy" });
$("#sp_sepsubmit_sepdate").datepicker({ dateFormat: "mm/dd/yy" });
	$("#sp_sepsubmit_sepdate").datepicker('setDate', new Date());	

setTimeout(function() {
	sp_sepsubmit_jobList();
}, 600);

var $jobList = {};

$.ajax({
	type: "POST",
	url: "widgets/sp_sepsubmit/spsepsubmit_getElementInfo.php",
	data: {
			'type':'jobList', 
			'condition':''
			},
	cache: false,
	success: function(echo)	{
			$jobList = jQuery.parseJSON(echo); 
		}
});

if($('#sp_sepsubmit_jtype').val() == ''){
	$('#sp_sepsubmit_jtypev').prop('disabled', 'disabled');
	$('#sp_sepsubmit_jtypev').fadeTo(0, 0.4);
}

function sp_sepsubmit_jobList() {   
	var I1 = '';
	var I2 = '';
	jQuery.grep($jobList, function(obj1,loc) {
		I1 = obj1.parent
		if ( I1 != I2) {
    		$('#sp_sepsubmit_jtype').append('<option value="'+I1+'">'+I1+'</option>');
    	}
    	I2 = obj1.parent
	});
};

$('#sp_sepsubmit_jtype').change(function() {
	if($(this).val() == ''){
	    $('#sp_sepsubmit_jtypev').empty();
        $('#sp_sepsubmit_jtypev').append('<option value="">Job Type Variant...</option>');
		$('#sp_sepsubmit_jtypev').prop('disabled', 'disabled');
  		$('#sp_sepsubmit_jtypev').fadeTo(0, 0.4);
	} else {
		$('#sp_sepsubmit_jtypev').prop('disabled', false);
  		$('#sp_sepsubmit_jtypev').fadeTo(0, 1);
  		sp_sepsubmit_jobList_sub($(this).val());
	}
});
    
function sp_sepsubmit_jobList_sub(a) {  
	$('#sp_sepsubmit_jtypev').empty();
	$('#sp_sepsubmit_jtypev').append('<option value="">Job Type Variant...</option>');

	jQuery.grep($jobList, function(obj1,loc) {
		if (obj1.parent === a) {
			$('#sp_sepsubmit_jtypev').append('<option value="'+obj1.value+'%'+obj1.E1+'%'+obj1.E2+'%'+obj1.E3+'%'+obj1.E4+'">'+obj1.type+'</option>');
			$('#sp_sepsubmit_jtypev').val(obj1.type);
    	}
	});
};

$('#sp_sepsubmit_notes').click(function () {
	if ($('#sp_sepsubmit_notes').text() == 'Remove Notes') {
		$('#sp_sepsubmit_notes_field').val('').slideUp('fast');
		$('#sp_sepsubmit_notes').empty().html('<span class="pencil-10 plix-10"></span>Add Notes');
	} else {
		
		$('#sp_sepsubmit_notes').empty().html('<span class="pencil-10 plix-10"></span>Remove Notes');
		$('#sp_sepsubmit_notes_field').slideDown('fast');
	}
});

$('#sp_sepsubmit_submit').click(function () {
	var input = sp_sepsubmit_fetchAll();
	if (input) {
		var Sdate = moment(input.ship_date,'YYYY-MM-DD');
		var Ddate = moment(input.sep_date,'YYYY-MM-DD');
		if(Sdate){
			$('#sp_sepsubmit_tbl2').text(Sdate.format("MMMM Do, YYYY"));
		}
		if(Ddate){
			$('#sp_sepsubmit_tbl3').text(Ddate.format("MMMM Do, YYYY"));
		}		
		$('#sp_sepsubmit_tbl0').text(input.art_number.toUpperCase());
		$('#sp_sepsubmit_tbl1').text(input.concept_number.toUpperCase());
		$('#sp_sepsubmit_tbl4').html(input.job_type+": <br><i>"+input.job_type_v+'</i>');
		jQuery.grep($usrList, function(obj1,loc) {
			if (obj1.user === input.separator) {
				$('#sp_sepsubmit_tbl5').text(obj1.first+' '+obj1.last);
			}
		});
		jQuery.grep($usrList, function(obj1,loc) {
			if (obj1.user === input.checker) {
				$('#sp_sepsubmit_tbl6').empty().text(obj1.first+' '+obj1.last);
			}
		});		
		$("#sp_sepsubmit_dialog").dialog('open');
	} else {
		return
	}
	
});

function sp_sepsubmit_fetchAll() {	
	if ( $('input[name=sp_sepsubmit_art]').val() == '' ) {
		ERR_notify("Please complete the 'Art Number' field",'#sp_sepsubmit div.sp_sepsubmit_inside');
		return
	};
	if ( $('input[name=sp_sepsubmit_concept]').val() == '' ) {
		ERR_notify("Please complete the 'Concept Number' field",'#sp_sepsubmit div.sp_sepsubmit_inside');
		return
	};
	
	if( $( "#sp_sepsubmit_shipdate").datepicker('getDate') ){
		var mmntdateSHIP = moment($( "#sp_sepsubmit_shipdate").datepicker('getDate')).format('YYYY-MM-DD');
	} else {
		var mmntdateSHIP = '';
	}
	if( $( "#sp_sepsubmit_sepdate").datepicker('getDate') ){
		var mmntdateSEP = moment($( "#sp_sepsubmit_sepdate").datepicker('getDate')).format('YYYY-MM-DD');
	} else {
		ERR_notify("Please complete the 'Separation Date' field",'#sp_sepsubmit div.sp_sepsubmit_inside');
		return		
	}
	
	if ( $('#sp_sepsubmit_jtype').val() == "" || $('#sp_sepsubmit_jtypev').val() == "" ) {
		ERR_notify("Please specify both the 'Job Type' and 'Job Type Variant'",'#sp_sepsubmit div.sp_sepsubmit_inside');
		return
	};	
		
	var chkr = '';
	
	if ($('#sp_sepsubmit_jtype').val() == "Job Updates") {
		chkr = $crntUSR;
		$('#sp_sepsubmit_tbl6').parent().css('display','');
		$('#sp_sepsubmit_tbl6_txt').css('display','');
	} else {
		$('#sp_sepsubmit_tbl6').parent().css('display','none');
		$('#sp_sepsubmit_tbl6_txt').css('display','none');
	}

	return {
		'art_number':$('input[name=sp_sepsubmit_art]').val(), 
		'concept_number':$('input[name=sp_sepsubmit_concept]').val(), 
		'ship_date':mmntdateSHIP,
		'sep_date':mmntdateSEP, 
		'job_type':$('#sp_sepsubmit_jtype').val(), 
		'job_type_v':$('#sp_sepsubmit_jtypev option:selected').text(), 
		'separator':$crntUSR, 
		'checker':chkr,
		'notes':$('#sp_sepsubmit_notes_field').val(),
		'job_val':$('#sp_sepsubmit_jtypev option:selected').val().split('%')[0], 
	}; 
};

function sp_sepsubmit_clear(){
	$('#sp_sepsubmit div div.inner-spacer').slideUp('normal', function(){
		$('#sp_sepsubmit_jtype').val('').trigger("change");
		$('input[name=sp_sepsubmit_art]').val('');
		$('input[name=sp_sepsubmit_concept]').val('');
		$('#sp_sepsubmit_sepdate').val('');
			$("#sp_sepsubmit_sepdate").datepicker('setDate', new Date());	
		$('#sp_sepsubmit_shipdate').val('');
		$('#sp_sepsubmit div div.inner-spacer').slideDown();
	});
}

$("#sp_sepsubmit_dialog").dialog({
	autoOpen: false,//remove this and the click to aut open
	bgiframe: true,
	width: 340,
	modal: true,
	resizable: false,
	buttons: {
		"Submit New":function(){
			$(this).dialog("close");
			var input = sp_sepsubmit_fetchAll();
			if (input) {	
				jQuery.grep($jobList, function(obj1) {
					if (obj1.type === input.job_type_v){
						input.job_type_v = obj1.indicator;
					} 
				});
				$.ajax({
					type: "POST",
					url: "widgets/sp_sepsubmit/spsepsubmit_submit.php",
					data: {
						'user':$crntUSR, 
						'art_number':input.art_number, 
						'concept_number':input.concept_number, 
						'ship_date':input.ship_date,
						'sep_date':input.sep_date, 
						'job_type':input.job_type, 
						'job_type_v':input.job_type_v, 
						'separator':input.separator, 
						'checker':input.checker, 
						'notes':input.notes, 
						'job_val':input.job_val },
					cache: false,
					success: function(echo){
							if(echo === 'success'){
								GRWL_notify("Success","New Separation Data Submitted","2500",'','','');
								sp_sepsubmit_clear();
								$('#sp_uncheckedjobs header div.powerwidget-ctrls a.powerwidget-refresh-btn').click();
								$('#sp_userjobs header div.powerwidget-ctrls a.powerwidget-refresh-btn').click();
							} else {
								console.log(echo)
								ERR_notify(echo,'#sp_sepsubmit div.sp_sepsubmit_inside');
							}				
						}
				});
			}
		},
		Cancel: function() {
			$(this).dialog("close");
		}
	}
});
</script>