<!-- widgets management panel --> 
                            <div id="powerwidgetspanel" class="powerwidgetspanel">
                                <header>
                                    <h2>Power widgets panel</h2>
                                </header>
                                <div class="powerwidgetspanel-widget" data-widget-id="widgetTONER">
                                    <input type="checkbox"/>
                                    <label><span></span>Accordion</label>
                                </div>
                            </div>  
                            
                            <div class="page-header">
                                <h2 id="pgheader">RESTRICTED CONTENT</h2>
                                <p>Subtext.</p>
                            </div> 
                            
                            <div id='wToner_content'>                        
                            <!-- Start grid -->
                                                        
                            <section class="g_1_2">
                                
                                <!-- New widget -->
                            
                                <div class="powerwidget" id="widgetTONER" data-widget-load="widgets/toner_levels/hp5500.ajax.php">
                                    <header>
                                    	<h2>Toner Levels</h2>                                  
                                    </header>                             
                                    <div></div>
                                </div><!-- End .powerwidget --> 
                            
                            </section>
                            
                            <section class="g_1_2_last">
                            </section>
                            
							<div class="clear"><!-- New row --></div>
                                                           
                            <!-- End grid -->
							</div>

<script>
$('#wToner_content').powerWidgets({				
	grid: 'section',
	widgets: '.powerwidget',
	localStorage: false,
	deleteSettingsKey: '#deletesettingskey-options',
	settingsKeyLabel: 'Reset settings?',
	deletePositionKey: '#deletepositionkey-options',
	positionKeyLabel: 'Reset position?',
	sortable: true,
	buttonsHidden: false,
	toggleButton: true,
	toggleClass: 'min-10 plix-10 | plus-10 plix-10',
	toggleSpeed: 200,
	onToggle: function(){},
	deleteButton: false,
	deleteClass: 'trashcan-10',
	deleteSpeed: 200,
	onDelete: function(){},
	editButton: false,
	editPlaceholder: '.powerwidget-editbox',
	editClass: 'pencil-10 | delete-10',
	editSpeed: 200,
	onEdit: function(){},
	fullscreenButton: false,
	fullscreenClass: 'fullscreen-10 | normalscreen-10',	
	fullscreenDiff: 3,		
	onFullscreen: function(){},
	customButton: false,
	customClass: 'folder-10 | next-10',
	customStart: function(){ alert('Hello you, this is a custom button...') },
	customEnd: function(){ alert('bye, till next time...') },
	buttonOrder: '%refresh% %delete% %custom% %edit% %fullscreen% %toggle%',
	opacity: 0.8,
	dragHandle: '> header',
	placeholderClass: 'powerwidget-placeholder',
	indicator: true,
	indicatorTime: 600,
	ajax: true,
	timestampPlaceholder:'.powerwidget-timestamp',
	timestampFormat: 'Last update: %m%/%d%/%y% %h%:%i%:%s%',
	refreshButton: true,
	refreshButtonClass: 'refresh-10 plix-10',
	labelError:'Sorry but there was a error:',
	labelUpdated: 'Last Update:',
	labelRefresh: 'Refresh',
	labelDelete: 'Delete widget:',
	afterLoad: function(){
					var slT = $('li.etabs-active').text();
					if (slT == "Separations"){
						slT = "sep"
					} else if (slT == "Print Floor") {
						slT = "pfl"
					} else if (slT == "Screen Room") {
						slT = "srm"
					}
					loadData(slT);
				},
	rtl: false	
});



</script>