<script>
console.log("WGT:ca_requestByArtist / ca_requestByArtist widget loaded")
</script>

<!-- New widget -->
<div class="powerwidget" id="ca_requestByArtist" data-widget-load="widgets/ca_requestByArtist/searchWrapper.php" >
	<header>
		<h2>Active Jobs by Artist</h2>                                  
	</header>                             
	<div class="inner-spacer">
		<div>
			<select id="select_cabyart" class="eselect_sub" style="float:right; margin-bottom:7px">
				<option value="">Select an Artist...</option>
			</select>
		</div>
		<hr>
		<div id='cabyart_results'/>
	</div>
</div>
<!-- End widget --> 

<script>
function ca_requestByArtist_wFunction() {};

cabyart_userList();

function cabyart_userList() {   
	jQuery.grep($usrList, function(obj1,loc) {
		if (obj1.dep === 'crt') {
    		$('#select_cabyart').append('<option value="'+obj1.user+'">'+obj1.first+' '+obj1.last+'</option>');
    	}
	});
	$('#select_cabyart').append('<option value="%%%">Show All Artists</option>');
};

$('#select_cabyart').change(function(){
	$('#ca_requestByArtist header div.powerwidget-ctrls a.powerwidget-refresh-btn').click();
})

</script>