<script src="js/jquery.flot.07.js"></script>
<script src="js/jquery.flot.pie.js"></script>
<script src="widgets/sp_user_stats/js/flot-sp_user_stats.js"></script>
<script>
console.log("WGT:sp_user_stats / sp_user_stats widget loaded");
//$("#flot_sp_user_stats").bind("plothover", pieHover);
//$("#flot_sp_user_stats").bind("plotclick", pieClick);
</script>
<!-- New widget -->
                                
<div class="powerwidget" id="sp_user_stats" data-widget-load="widgets/sp_user_stats/widget_wrapper.html">
	<header>
    	<h2>Your Separation Statistics</h2>
	</header>
	<div> 
		<div class="inner-spacer">
			
			<!--<div class="g_1" style="border-radius:5px; background-color:rgba(0,0,0,0.4)">
				<div class="inner-spacer">-->
					<div id="sp_user_stats_info_0" style='text-align:center'>
						<h2 style='font-size: largest;'/>
						<div style='height:5px'/>
					</div>
					<hr>
					
					<table style='width:100%'>
						<tr>
							<td style='width:175px'>
								<b>Separation Accuracy:</b>
								
							</td>
							<td>
								<div id="sp_user_stats-bar0" style="margin-bottom:3px"></div>
							</td>
						</tr>
						<tr>
							<td>
								<b>Workload Accuracy:</b>
							</td>
							<td>
								<div id="sp_user_stats-bar3" style="margin-bottom:3px"></div>
							</td>
						</tr>															
						<tr>
							<td>
								<b>% of Department Workload:</b>
							</td>
							<td>
								<div id="sp_user_stats-bar1" style="margin-bottom:3px"></div>
							</td>
						</tr>
						<tr>
							<td>
								<b>% of Department Errors:</b>
							</td>
							<td>
								<div id="sp_user_stats-bar2" style="margin-bottom:7px"></div>
							</td>
						</tr>
					</table>
					
					<div class='numHolder_t' style='border-bottom:0px; border-right:0px; border-left:0px;  width:33%; height:40px; float:left'>
						<center>
							<div style='opacity:0.4;'><small>Quantity of</small></div>
							<div style='opacity:0.4; line-height:0px'><small>Total Jobs</small></div>
							<div style='line-height:40px'><h2 id='sp_user_stats_info_1'></h2></div>
						</center>
					</div>

					<div class='numHolder_t' style='border-bottom:0px; width:33%; height:40px; float:left; margin-left:-1px'>
						<center>
							<div style='opacity:0.4;'><small>Quantity of</small></div>
							<div style='opacity:0.4; line-height:0px'><small>Jobs Faulted</small></div>
							<div style='line-height:40px'><h2 id='sp_user_stats_info_5'></h2></div>
						</center>
					</div>
	
					<div class='numHolder_t' style='border-bottom:0px; border-right:0px; border-left:0px; width:33%; height:40px; float:left; margin-left:-1px'>
						<center>
							<div style='opacity:0.4;'><small>Quantity of</small></div>
							<div style='opacity:0.4; line-height:0px'><small>Jobs Correct</small></div>
							<div style='line-height:40px'><h2 id='sp_user_stats_info_4'></h2></div>
						</center>
					</div>
					
					<div class='numHolder_t' style='border-bottom:0px; border-right:0px; border-left:0px; width:33%; height:40px; float:left; margin-left:0px; margin-top:20px'>
						<center>
							<div style='opacity:0.4;'><small>Total of</small></div>
							<div style='opacity:0.4; line-height:0px'><small>Job Values</small></div>
							<div style='line-height:40px'><h2 id='sp_user_stats_info_2'></h2></div>
						</center>
					</div>
					
					<div class='numHolder_t' style='border-bottom:0px; width:33%; height:33px; margin-bottom:7px; float:left; margin-left:-1px; margin-top:20px'>
						<center>
							<div style='opacity:0.4;'><small>Total of</small></div>
							<div style='opacity:0.4; line-height:0px'><small>Error Values</small></div>
							<div style='line-height:40px'><h2 id='sp_user_stats_info_3'></h2></div>
						</center>
					</div>
					
					<div class='numHolder_t' style='border-bottom:0px; border-right:0px; border-left:0px; width:33%; height:33px; margin-bottom:20px; float:left; margin-left:-1px; margin-top:20px'>
						<center>
							<div style='opacity:0.4;'><small>Total of</small></div>
							<div style='opacity:0.4; line-height:0px'><small>Retained Value</small></div>
							<div style='line-height:40px'><h2 id='sp_user_stats_info_6'></h2></div>
						</center>
					</div>
					<!--<div style='float:right; opacity:0.4'><a href=javascript:void()><i>Show More</i></a></div>-->
				<!--</div>
			</div>-->
					
		</div>
	</div>
</div><!-- End .powerwidget --> 

<script>
function sp_user_stats_wFunction() {

}
</script>