<script>
console.log("WGT:toner_levels / toner_levels widget loaded")
</script>

<!-- New widget -->
<div class="powerwidget" id="toner_levels" data-widget-load="widgets/toner_levels/hp5500.ajax.php" >
	<header>
		<h2>Toner Levels</h2>                                  
	</header>                             
	<div>
	</div>
</div>
<!-- End widget --> 

<script>

function wtoner_loadData(tb) {
	var a = 0
	$("#progressbar-toner-"+tb).empty();
	$("#content_load-"+tb).empty();
	
	$.ajax({
			type: "GET",
			url: 'widgets/toner_levels/hp5500.'+tb+'.proxy.php',
			dataType: "text",
    		timeout: 5000,
			cache: false,
			success: function(data){
					var htmlST = strip(data);
					var k_v = htmlST.split("%");
					var frmtColors = ["000000","33b5e5","d42599","eefd00"] //K,C,M,Y
					var frmtColorsID = ["K","C","M","Y"] //K,C,M,Y
					for (var i=0;i<4;i++){
						k_v[i] = k_v[i]+"%";
						if(i==0){
							$("#content_load-"+tb).empty();
							$("#progressbar-toner-"+tb).empty();
								$("#content_load-"+tb).append("<p style='font-size:x-large;' align='center'>HP Color LaserJet 5500</p><br>");
								$("#progressbar-toner-"+tb).append("<table style='width:100%'>");
						}
						$("#progressbar-toner-"+tb+" table").append("<tr'><td style='width:10px; padding-right:5px; font-size:x-large; vertical-align:middle;'><strong>"+frmtColorsID[i]+"</strong></td><td style='padding-bottom:2px;'><div class='e-progressbar' data-progressbar-value="+k_v[i].slice(-3,-1)+" data-progressbar-color='#"+frmtColors[i]+"'></div></td></tr>");
					}
					$("#progressbar-toner-"+tb).eProgressbar({
						animate: true,
						easing: '',
						loop: true,
						delay: 0,
						showTotal: false,
						speed: 2000,
						after: function(){}
					});				
				}
		});
}

function strip(html) {
   	var tmp = document.createElement("DIV");
   	tmp.innerHTML = html;
   	return tmp.textContent;
}

function forceRefresh() {
	$("#toner_levels header div a.powerwidget-refresh-btn").click();	
}

function toner_levels_wFunction() {
	var slT = $('li.etabs-active').text();
		if (slT == "Separations"){
			console.log("WGT:toner_levels / Loading "+slT+" tab and refreshing")
			slT = "sep"
		} else if (slT == "Print Floor") {
			console.log("WGT:toner_levels / Loading "+slT+" tab and refreshing")
			slT = "pfl"
		} else if (slT == "Screen Room") {
			console.log("WGT:toner_levels / Loading "+slT+" tab and refreshing")
			slT = "srm"
		}	
	wtoner_loadData(slT);
}

</script>