<!-- widgets management panel --> 
<div id="powerwidgetspanel" class="powerwidgetspanel">
	<header>
		<h2>Toggle Dashboard Widget Visibility</h2>
	</header>
</div>  
                            
<div class="page-header">
	<h2 id="pgheader">Dashboard</h2>
	<span class="page-helper">pre-alpha</span>
	<!-- <a href="documentation.html" class="page-helper">Documentation</a>
	<a href="javascript:void(0);" class="page-helper empty-local-storage">Clear storage</a> --!>
	<p>Work in progress.</p>
</div> 
                            
<div id='widget_space'>                     
	<!-- Start grid -->
	
	
	<section class="g_1_2"></section>
       
	<section class="g_1_2_last"></section>
	
	
	<section class="g_1_2"></section>
	
	
	<section class="g_1_2_last"></section>
	
	
	<section class="g_1_2"></section>
	
	
	<section class="g_1_2_last"></section>
	
		
	<section class="g_1_2"></section>
	
	
	<section class="g_1_2_last"></section>
	

	<section class="g_1_2"></section>
	
	
	<section class="g_1_2_last"></section>
	
	
	<section class="g_1_2"></section>
	
	
	<section class="g_1_2_last"></section>
	
		
	<section class="g_1_2"></section>
	
	
	<section class="g_1_2_last"></section>
	

	<section class="g_1_2"></section>
	
	
	<section class="g_1_2_last"></section>
	
	
	<section class="g_1_2"></section>
	
	
	<section class="g_1_2_last"></section>
	
		
	<section class="g_1_2"></section>
	
	
	<section class="g_1_2_last"></section>
	
		
	<!-- End grid -->
</div>



<script src="widgets/config.js"></script>

<script>

console.log("++Starting DASH")

$(function () {
	var clm_left = $('.g_1_2').toArray()
	var clm_right = $('.g_1_2_last').toArray()
	var count = 0;
	var kl = 0;
	//LOADS WIDGET INFORMATION
	$.each($Wconf, function(department,ary) {
		//LOADS WIDGET ARRAY AVAILABLE TO CURRENT USER'S DEPARTMENT
		if(department == $crntDEP){
			var c1 = 0;
			var c2 = 0;
			var key = 0;

			for(key in ary) {
			  if(ary.hasOwnProperty(key)) {
				count++;
			  }
			}
			count = Math.ceil((count / 2));
			$.each(ary, function(widget,permission) {
				if ($crntPRM < permission) return;
				if(kl < count){
					$(clm_left[c1]).load('widgets/'+widget+'/widget.html', function() {
						$('#powerwidgetspanel').append('<div class="powerwidgetspanel-widget" data-widget-id="'+widget+'"><input type="checkbox" checked/><label><span></span>'+$('#'+widget).children("header").children("h2").text()+'</label></div>');
						console.log("DASH / widget variable found: "+widget+" - assigning to LEFT column, ROW "+c1)	
					});
						c1++
						kl++
				} else {
					$(clm_right[c2]).load('widgets/'+widget+'/widget.html', function() {
						$('#powerwidgetspanel').append('<div class="powerwidgetspanel-widget" data-widget-id="'+widget+'"><input type="checkbox" checked/><label><span></span>'+$('#'+widget).children("header").children("h2").text()+'</label></div>');
						console.log("DASH / widget variable found: "+widget+" - assigning to RIGHT column, ROW "+c2)
					});
						c2++
						kl++	
				}	
	
			});	
			setTimeout(function() { wSpace(); }, 200);	
		}	
	});
});

function ajaxWidget(wgt,prm) {
	return $Wconf.adm.toner_levels
}

function wSpace() {
	console.log("DASH / invoking powerWidgets")
	
	$('#widget_space').powerWidgets({				
		grid: 'section',
		widgets: '.powerwidget',
		localStorage: true,
		deleteSettingsKey: '#deletesettingskey-options',
		settingsKeyLabel: 'Reset settings?',
		deletePositionKey: '#deletepositionkey-options',
		positionKeyLabel: 'Reset position?',
		sortable: true,
		buttonsHidden: false,
		toggleButton: true,
		toggleClass: 'min-10 plix-10 | plus-10 plix-10',
		toggleSpeed: 200,
		onToggle: function(){},
		deleteButton: false,
		deleteClass: 'trashcan-10',
		deleteSpeed: 200,
		onDelete: function(){},
		editButton: false,
		editPlaceholder: '.powerwidget-editbox',
		editClass: 'pencil-10 | delete-10',
		editSpeed: 200,
		onEdit: function(){},
		fullscreenButton: false,
		fullscreenClass: 'fullscreen-10 | normalscreen-10',	
		fullscreenDiff: 3,		
		onFullscreen: function(){},
		customButton: false,
		customClass: 'folder-10 | next-10',
		customStart: function(){ alert('Hello you, this is a custom button...') },
		customEnd: function(){ alert('bye, till next time...') },
		buttonOrder: '%refresh% %delete% %custom% %edit% %fullscreen% %toggle%',
		opacity: 0.8,
		dragHandle: '> header',
		placeholderClass: 'powerwidget-placeholder',
		indicator: true,
		indicatorTime: 600,
		ajax: true,
		timestampPlaceholder:'.powerwidget-timestamp',
		timestampFormat: 'Last update: %m%/%d%/%y% %h%:%i%:%s%',
		refreshButton: true,
		refreshButtonClass: 'refresh-10 plix-10',
		labelError:'Sorry but there was a error:',
		labelUpdated: 'Last Update:',
		labelRefresh: 'Refresh',
		labelDelete: 'Delete widget:',
		rtl: false,	
		onChange: function(d){
						console.log("pwgt changed: "+d.attr('id'))
					},
		afterLoad: function(d){
						if(d){
							console.log("DASH / powerWidgets returned: "+d.attr('id')+" | Performing callback" ) 
							var dID = d.attr('id')
							window[dID+"_wFunction"]();
						};
					}
		})
		
	$('#powerwidgetspanel').powerWidgetsPanel({
		target: '#widget_space',
		widgets: '.powerwidget',
		localStorage: true,
		trigger: '#powerwidget-panel-switch',
		triggerClass:'plus-10 | min-10',
		effectPanel: 'slide',
		speedPanel: 200,
		effectWidget: 'slide',
		speedWidget: 200,
		onToggle: function(){}
	});		
		
;}
</script>
							