<!-- DataTables -->
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/jquery.dataTables.rowGrouping.js"></script>  

<style type="text/css">
.expanded-group{
	background: url("minus.jpg") no-repeat scroll left center transparent;
	padding-left: 15px !important
}
			
.collapsed-group{
	background: url("plus.jpg") no-repeat scroll left center transparent;
	padding-left: 15px !important
}

td.group {
	font-weight: bold;
	border-bottom: 2px;
	border-top: 2px;
}

 td.subgroup { padding-left: 200px;
	border-bottom: 2px solid #A19B9E;

 
}
</style>

<!-- widgets management panel --> 
                            <div id="powerwidgetspanel" class="powerwidgetspanel">
                                <header>
                                    <h2>Power widgets panel</h2>
                                </header>
                                <div class="powerwidgetspanel-widget" data-widget-id="widget1">
                                    <input type="checkbox"/>
                                    <label>Accordion</label>
                                </div>
                            </div>  
                            
                            <div class="page-header">
                                <h2 id="pgheader">Tables Test</h2>
                                <p>Subtext.</p>
                            </div> 
                            
                                <!-- New widget -->
                                
                                 <div class="powerwidget" id="widget2">
                                    <header>
                                    	<h2>Datatable (not responsive)</h2>                                  
                                    </header>
                                    
                                    <div>
                                        <table id="datatable-1">
                                            <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Preview</th>
                                                    <th scope="col">Concept Number</th>
                                                    <th scope="col">Concept Name</th>
                                                    <th scope="col">Date Created</th>
                                                    <th scope="col">Created By</th>
                                                    <th scope="col">test</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody">


                                                                                                                                             
                                            </tbody>
                                        </table> 
                                    </div>
                                </div><!-- End .powerwidget -->
                                
<script>  
$(document).ready(function() {

    
	$('#datatable-1').dataTable ({
		
		'aoColumns'		 : [ {"bSearchable":false,"bVisible":false}, {"bSearchable":false, "sWidth":"100px"}, null, null, { "sType": "date" }, null, null],
		'bJQueryUI'	     : true,
      	'bServerSide'    : true,
      	'bAutoWidth'	 : false,
      	'sAjaxSource'    : 'custom/tables1/tables1-results.php'
	//}).rowGrouping({
	//	iGroupingColumnIndex 	: 2,
	//	bHideGroupingColumn		: false,
		

	});
	
	//var oTable = $('#datatable-1').dataTable();
	//oTable.fnAdjustColumnSizing();


});


$("#widget2").click(function() {


});
                              
$('#content').powerWidgets({				
	grid: 'section',
	widgets: '.powerwidget',
	localStorage: false,
	deleteSettingsKey: '#deletesettingskey-options',
	settingsKeyLabel: 'Reset settings?',
	deletePositionKey: '#deletepositionkey-options',
	positionKeyLabel: 'Reset position?',
	sortable: true,
	buttonsHidden: false,
	toggleButton: true,
	toggleClass: 'min-10 plix-10 | plus-10 plix-10',
	toggleSpeed: 200,
	onToggle: function(){},
	deleteButton: false,
	deleteClass: 'trashcan-10',
	deleteSpeed: 200,
	onDelete: function(){},
	editButton: false,
	editPlaceholder: '.powerwidget-editbox',
	editClass: 'pencil-10 | delete-10',
	editSpeed: 200,
	onEdit: function(){},
	fullscreenButton: false,
	fullscreenClass: 'fullscreen-10 | normalscreen-10',	
	fullscreenDiff: 3,		
	onFullscreen: function(){},
	customButton: false,
	customClass: 'folder-10 | next-10',
	customStart: function(){ alert('Hello you, this is a custom button...') },
	customEnd: function(){ alert('bye, till next time...') },
	buttonOrder: '%refresh% %delete% %custom% %edit% %fullscreen% %toggle%',
	opacity: 0.8,
	dragHandle: '> header',
	placeholderClass: 'powerwidget-placeholder',
	indicator: true,
	indicatorTime: 600,
	ajax: true,
	timestampPlaceholder:'.powerwidget-timestamp',
	timestampFormat: 'Last update: %m%/%d%/%y% %h%:%i%:%s%',
	refreshButton: true,
	refreshButtonClass: 'refresh-10 plix-10',
	labelError:'Sorry but there was a error:',
	labelUpdated: 'Last Update:',
	labelRefresh: 'Refresh',
	labelDelete: 'Delete widget:',
	afterLoad: function(){},
	rtl: false	
}); 

</script>