<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE, NO-STORE">
<script src="js/jquery.flot.js"></script>
<script src="js/jquery.flot.time.js"></script>
<!--<script src="custom/ca_workload/js/flot-ca_workload.js"></script>-->
<script src="custom/ca_workload/js/flot-ca_workload.js"></script>
<style>
p.small {
line-height:100%;
font-weight:bold;
font-size:8pt;
margin-top:2px;
width:80px;
opacity:0.8;
}
#flot-tooltip{
	height                : 60px;
	width                 : 10em;
	position              : absolute;
	padding               : 10px 10px 5px 10px;
	opacity               : 0.9;
	-ms-filter            : "progid:DXImageTransform.Microsoft.Alpha(opacity=90)";
	padding               : 5px;
	display               : none;
	-webkit-border-radius : 3px;
	-moz-border-radius    : 3px;
	border-radius         : 3px;		
}
#flot-tooltip h3{
	width      : 100%;
	text-align : center;
	font-size  : 12px;
}
#flot-tooltip p{
	font-size  : 11px;
	text-align : center;
}
#flot-tooltip > span{
	line-height   : 0%; 
	width         : 0;
	border-right  : 8px solid transparent;
	border-left   : 8px solid transparent;
	border-bottom : none;
	position      : absolute;
	right         : 4.75em;
	bottom        : -8px;
}
#flot-tooltip > span span{
	line-height   : 0%; 
	width         : 0;
	border-right  : 6px solid transparent;
	border-left   : 6px solid transparent;
	border-bottom : none;
	position      : absolute;
	right         : -6px;
	bottom        : 1px;
}
}
</style>
<script>
///////KICK-OUT CODE
if($crntDEP != 'adm'){
        if ($crntDEP != 'mrc' && $crntDEP != 'crt') {
                ERR_notify("This is not a valid selection for your account's department");
                $('#content-main-inner').empty();
                loadPOST("403");
                
        }
}
////////////////////      
userList();
function userList() {   
	jQuery.grep($usrList, function(obj1,loc) {
		if (obj1.dep === 'crt') {
			$('#sel_artist').append('<option value="'+obj1.user+'">'+obj1.first+' '+obj1.last+'</option>');
			$('#chart-checkbox').append('<div><input id="id'+obj1.user+'" type="checkbox" holder="'+loc+'" name="'+obj1.user+'" fname="'+obj1.first+' '+obj1.last+'"><label for="id'+obj1.user+'"><span/>'+obj1.first+' '+obj1.last+'</label></div>');    		
    	}
	});
};
        
</script>  

                            <!-- widgets management panel --> 
                            <div id="powerwidgetspanel" class="powerwidgetspanel" >
                                <header>
                                    <h2>Power widgets panel</h2>
                                </header>

                                <div class="powerwidgetspanel-widget" data-widget-id="widget5">
                                    <input type="checkbox">
                                    <label>Sortable list</label>
                                </div>

                                                                                                     
                            </div>
                                                    
                            <div class="page-header">
                                <h2 id="pgheader" >Workload Scheduler</h2>
                                <span class="page-helper">0.1</span>
                                <p>Assign and schedule jobs for individual artists</p>
                            </div>
                        <div id="ca_workload_content">
                                                        <!-- Start grid -->
                            
                            <section class="g_1"> 
                            
                            <!-- New widget -->
                                
                                <div class="powerwidget" id="pw_ca_workload0" data-widget-sortable="false" data-widget-load="custom/ca_workload/ca_workload_wrapper.html" >
                                    <header>
                                        <h2>Workload Forecast</h2>                                  
                                    </header>
                                    <div>
                                    
                                        <div class="toolbar">
                                            <div class="left">
                                                <b style="float:left; margin:5px 2px 0px 0px; top:25%;">Assigned Jobs Between:</b>
                                                
                                                <input type="text" id="flt_from_date" class="datepicker" placeholder="From Date..." style="width: 30%; height:28px; float:left" onChange=flotchng();>

                                                <b style="float:left; margin:5px 2px 0px 7px;">and</b>
                                                
                                                <input type="text" id="flt_to_date" class="datepicker" placeholder="To Date..." style="width: 30%; height:28px; margin-bottom:0px; float:left" onChange=flotchng();>
                                                
                                                
                                            </div>
                                            <!-- <div class="right">
                                                <input type="submit" id="flt_refresh" value="Filter" class="button-text"/>
                                            </div>End .right -->
                                        </div><!-- End .toolbar -->
                                    
                                        <div class="chart-wraper">
                                                <div class="g_3_4">
                                                <div id="flot_ca_workload0" style="width:100%; height:400px;"></div>
                                            </div>
                                            <div class="g_1_4_last">
                                                <div id="chart-checkbox">
                                                        <h3>Select or un-select</h3>

                                                </div>
                                            </div>
                                         </div>
                                    </div>                                   
                                </div>
                                
                            <!-- End .powerwidget -->  
                            
                            </section>
                            
                            <div class="clear"><!-- New row --></div>
                            
                            <section class="g_1_2">  
                                <!-- New widget -->                                                      
                                <div class="powerwidget" data-widget-sortable="false" id="assgnJobs">
                                    <header>
                                        <h2>Artist's Assigned Workload</h2>
                                    </header>                               
                                    <div>
                                    	<div class="toolbar">
                                    		<div class="left">
                                            	<select id="sel_artist" class="eselect_sub" style="float:left; width:45%" onChange=artstChng("sel");>
                                            		<option value="">Select Artist...</option>
                                            	</select>
                                        		<input type="text" name="cur_date"  id="cur_date" class="datepicker" placeholder="Select Date..." style="width: 45%; height:28px; margin-bottom:0px; float:left" onChange=artstChng("date");>
                                        	</div>
                                        	<div style="float:right">
                                        		<a href="javascript:void(0);" class="button-icon" id="" style="width:28px; height:28px; float:right; margin:0 0 0 10px;"><span class="mail-10 plix-10"></span></a>
                                        	</div>
                                    	</div><!-- End .toolbar -->
                                    	<div class="inner-spacer">
                                                <div style="width:100%; float:left" id="aContent">
                                                    <ul class="basic-list" style="width:70%; min-height:38px">                                           
                                                </ul>
                                                </div> 
                                    	</div>
                                    </div>
                                </div><!-- End .powerwidget --> 
                            </section>  

                            <section class="g_1_2_last">  
                                <!-- New widget -->                                                      
                                <div class="powerwidget" data-widget-sortable="false" id="unassgnJobs">
                                    <header>
                                        <h2>Unassigned Jobs</h2>
                                    </header>                               
                                    <div>
                                    
                                        <div class="toolbar">
                                            <div class="left">
                                                <b style="float:left; margin:5px 7px 0px 0px; top:25%;">Due Between:</b>
                                                
                                                <input type="text" id="from_date" class="datepicker" placeholder="From Date..." style="width: 30%; height:28px; margin-bottom:0px; margin-left:0px; float:left" onChange=loadUnassgn();>

                                                
                                                <input type="text" id="to_date" class="datepicker" placeholder="To Date..." style="width: 30%; height:28px; margin-bottom:0px; margin-left:7px; float:left" onChange=loadUnassgn();>
                                                
                                            </div>
                                        </div><!-- End .toolbar -->

                                    
                                    
                                        <div class="inner-spacer">
                                                <div id="lContent" style="width:100%; float:left; overflow:hidden">
                                                    <ul class="basic-list sortable-list" style="width:70%; min-height:38px"/>                                            
                                                </div> 
                                        </div>   
                                    </div>
                                </div><!-- End .powerwidget --> 
                            </section> 
             
                                                                                                                                                                                           
                                                        <div class="clear"><!-- New row --></div>
                        </div> 
                            <!-- End grid -->
                            
                       </div><!-- End #content-main-inner --> 
                    </div><!-- End #content-main --> 
                </div><!-- End #content-inner --> 
                

 
                
                              
            </div><!-- End #content-border --> 
        </div><!-- End #content --> 
            
    </div><!-- End #container -->
    
    <!-- scroll to top link -->
    <div id="scrolltotop"><span></span></div> 
    




<script>
$(document).ready(function() {   
        console.log("FORM / ca_workload: initializing")                
        $("#from_date").datepicker({ dateFormat: "mm/dd/yy" });
        	$("#from_date").datepicker('setDate', new Date());
        $("#flt_from_date").datepicker({ dateFormat: "mm/dd/yy" });
        	$("#flt_from_date").datepicker('setDate', new Date());
        $("#to_date").datepicker({ dateFormat: "mm/dd/yy" });
        $("#flt_to_date").datepicker({ dateFormat: "mm/dd/yy" });
        $("#cur_date").datepicker({ dateFormat: "mm/dd/yy" });
       		$("#cur_date").datepicker('setDate', new Date());
});

function loadUnassgn() {
        var fdate = $( "#from_date").datepicker('getDate');
        var tdate = $( "#to_date").datepicker('getDate');       
        if(!fdate){ERR_notify("Select a start date for the time range");return};
        if(!tdate){ERR_notify("Select an end date for the time range");return};
        if(fdate > tdate){ERR_notify("'From' field should not be a later date than the 'To' field");return};
		fdate = moment(fdate).format("YYYY-MM-DD"); 
		tdate = moment(tdate).format("YYYY-MM-DD");
        $.post("custom/ca_workload/ca_unassign_get.php", {user : $crntUSR, from : fdate, to :tdate }, function(data){
                if (data=="") {
                        alert("No matching jobs returned for that range of dates");
                } else {
                        console.log("FORM / ca_workload: loading unassigned jobs..")  
                        $("#lContent").slideUp('normal', function() {
                        $("#lContent").empty();
                        $("#lContent").hide();
                        var Sdata = data.split("|");
                        var newContent = "<ul class='basic-list sortable-list' style='width:70%; min-height:38px'>";
                        for(r=0;r<Sdata.length-1;r++){
                                var Sdata_sub = Sdata[r].split("%");
                                var splitDate = Sdata_sub[2].split(" ")
                                var dateFormat = $.datepicker.parseDate('yy-mm-dd', splitDate[0]);
                                dateFormat = $.datepicker.formatDate( "mm/dd/yy", dateFormat );
                                console.log("FORM / ca_workload: found - ID="+Sdata_sub[0]+", DUE="+dateFormat+", C_NUMBER="+Sdata_sub[1]);
                                newContent = newContent+"<li id='unasgn"+Sdata_sub[0]+"' onClick='moveFunction("+Sdata_sub[0]+")'><input type='hidden' id='unasgn_HDN"+Sdata_sub[0]+"' value='"+Sdata_sub[0]+"' /><span class='handle'></span><b>"+Sdata_sub[1]+"</b><i style='margin-left:5px; opacity:0.75; float:right'>Due: "+dateFormat+"</i></li>";
                        }
                        newContent = newContent+"</ul>";
                        $("#lContent").html( newContent );
                        startSortList();
                                $("#lContent").fadeIn('fast');
                                $("#lContent").slideDown('normal');
                        });
                }       
        });
}

$('ul li').live('tap',function(event) {

    alert('abcs')
    
});

function loadAssgned() {
        var cdate = $( "#cur_date").datepicker('getDate');
        if($("#sel_artist").val()==""){
                var newContent = "<ul class='basic-list' style='width:70%; min-height:38px'></ul>";
                        $("#aContent").empty();
                        $("#aContent").hide();  
                        $("#aContent").html( newContent );
                        startSortList();
                        $("#aContent").fadeIn('fast');
                        $("#aContent").slideDown('normal'); 
                        return           
        };
		cdate = moment(cdate).format("YYYY-MM-DD");
        $.post("custom/ca_workload/ca_assigned_get.php", {user : $("#sel_artist").val(), date :cdate }, function(data){
                if (data=="") {
                        alert("No jobs returned for the selected date and/or user");
                        console.log("FORM / ca_workload: no user assigned jobs to load, creating placeholder...");
                        if ($("#sel_artist").val() != "") {
                                var newContent = "<ul class='basic-list sortable-list' style='width:70%; min-height:38px'></ul>";
                        }
                        $("#aContent").empty();
                        $("#aContent").hide();  
                        $("#aContent").html( newContent );
                        startSortList();
                        $("#aContent").fadeIn('fast');
                        $("#aContent").slideDown('normal');     
                } else {
                        console.log("FORM / ca_workload: loading user assigned jobs..")  
                        $("#aContent").slideUp('normal', function() {
                        $("#aContent").empty();
                        $("#aContent").hide();
                        var Sdata = data.split("|");
                        var newContent = "<ul class='basic-list sortable-list' style='width:70%; min-height:38px'>";
                        for(r=0;r<Sdata.length-1;r++){
                                var Sdata_sub = Sdata[r].split("%");
                                var splitDate = Sdata_sub[2].split(" ")
                                var dateFormat = $.datepicker.parseDate('yy-mm-dd', splitDate[0]);
                                dateFormat = $.datepicker.formatDate( "mm/dd/yy", dateFormat );
                                console.log("FORM / ca_workload: found assigned- USR="+$('#sel_artist').val()+", ID="+Sdata_sub[0]+", DUE="+dateFormat+", C_NUMBER="+Sdata_sub[1]);
                                newContent = newContent+"<li id='asgned"+Sdata_sub[0]+"'><input type='hidden' id='asgned_HDN"+Sdata_sub[0]+"' value='"+Sdata_sub[0]+"' /><span class='handle' onClick='moveFunction("+Sdata_sub[0]+")'></span><b>"+Sdata_sub[1]+"</b><i style='margin-left:5px; opacity:0.75; float:right'>Due: "+dateFormat+"</i></li>";
                        }
                        newContent = newContent+"</ul>";
                        $("#aContent").html( newContent );
                        startSortList();
                                $("#aContent").fadeIn('fast');
                                $("#aContent").slideDown('normal');
                        });
                }       
        });
}

function startSortList() {
        $("ul.sortable-list").sortable({
                items: 'li',
                connectWith: 'ul.sortable-list',
                placeholder: 'list-highlight',
                cursor: 'move',
                revert: true, 
                opacity: 1.0,
                delay: 200, 
                handle: '.handle',
                zIndex: 10000,
                forcePlaceholderSize: true,
                forceHelperSize: true
        });     
};

function artstChng(b) {
	//var mm = moment( $( "#cur_date").datepicker('getDate') ).format("YYYY-MM-DD");
	//alert(mm)
        if (b=='sel'){
                //alert("sel")
                loadAssgned();
        } else if (b=="date") {
                if($("#sel_artist").val() == ""){
                        ERR_notify("Select an artist to display their workload for this day");
                } else {
                        loadAssgned();
                }
        }
}

function flotchng() {
	$('#pw_ca_workload0 header div a.button-icon.powerwidget-refresh-btn').click();
}

function moveFunction(a) {     
        setTimeout(function() {
                $("#aContent ul li").each(function(){
                        if($(this).children("input").val() == a) {
                                var ttl = $(this).text().split("Due:")
                                console.log("FORM / ca_workload: "+ttl[0]+" ["+$(this).children("input").val()+"] moved to ARTIST table" )
                                updateListFunction(0,$(this).children("input").val());
                        }
                });
                $("#lContent ul li").each(function(){
                        if($(this).children("input").val() == a) {
                                var ttl = $(this).text().split("Due:")
                                console.log("FORM / ca_workload: "+ttl[0]+" ["+$(this).children("input").val()+"] moved to UNSORTED table" )
                                updateListFunction(1,$(this).children("input").val());
                        }
                });                                     
        }, 800);
}

function updateListFunction(j,g) {
        if(j==0) {
                $.post("custom/ca_workload/ca_updateWorkload_add.php", {user:$("#sel_artist").val(), userName:$("#sel_artist").find(":selected").text(), date:moment($("#cur_date").datepicker('getDate')).format("YYYY-MM-DD"), id:g }, function(data){
                        console.log("FORM / ca_workload: ["+g+"] added to "+$("#sel_artist").val()+" workload" )
                        alert(data)
                        flotchng()
                });
                
                
        } else if(j==1) {
                $.post("custom/ca_workload/ca_updateWorkload_rmv.php", {id:g }, function(data){
                        console.log("FORM / ca_workload: ["+g+"] removed from workload" )
                        alert(data)
                        flotchng()
                });
        }
}    

///////////////////POWER WIDGET FIELD SETTINGS  
$('#ca_workload_content').powerWidgets({                                
        grid: 'section',
        widgets: '.powerwidget',
        localStorage: false,
        deleteSettingsKey: '#deletesettingskey-options',
        settingsKeyLabel: 'Reset settings?',
        deletePositionKey: '#deletepositionkey-options',
        positionKeyLabel: 'Reset position?',
        sortable: true,
        buttonsHidden: false,
        toggleButton: true,
        toggleClass: 'min-10 plix-10 | plus-10 plix-10',
        toggleSpeed: 200,
        onToggle: function(){},
        deleteButton: false,
        deleteClass: 'trashcan-10',
        deleteSpeed: 200,
        onDelete: function(){},
        editButton: false,
        editPlaceholder: '.powerwidget-editbox',
        editClass: 'pencil-10 | delete-10',
        editSpeed: 200,
        onEdit: function(){},
        fullscreenButton: false,
        fullscreenClass: 'fullscreen-10 | normalscreen-10',     
        fullscreenDiff: 3,              
        onFullscreen: function(){},
        customButton: false,
        customClass: 'folder-10 | next-10',
        customStart: function(){ },
        customEnd: function(){ },
        buttonOrder: '%refresh% %delete% %custom% %edit% %fullscreen% %toggle%',
        opacity: 0.8,
        dragHandle: '> header',
        placeholderClass: 'powerwidget-placeholder',
        indicator: true,
        indicatorTime: 600,
        ajax: true,
        timestampPlaceholder:'.powerwidget-timestamp',
        timestampFormat: 'Last update: %m%/%d%/%y% %h%:%i%:%s%',
        refreshButton: true,
        refreshButtonClass: 'refresh-10 plix-10',
        labelError:'Sorry but there was a error:',
        labelUpdated: 'Last Update:',
        labelRefresh: 'Refresh',
        labelDelete: 'Delete widget:',
        afterLoad: function(){},
        rtl: false      
}); 

startSortList();        

$('#flt_refresh').click(function() { 
		if(!$( "#flt_to_date").datepicker('getDate'))alert("'To' should not be blank, using default view of 7 days");       
        ca_workload_load();
        return
});    

</script>