<script>
console.log("WGT:user_timers / user_timers widget loaded");
//$("#flot_sp_user_stats").bind("plothover", pieHover);
//$("#flot_sp_user_stats").bind("plotclick", pieClick);
</script>
<!-- New widget -->
                                
<div class="powerwidget" id="user_timers" data-widget-load="widgets/user_timers/widget_wrapper.html">
	<header>
    	<h2>Your Countdown Timers</h2>
	</header>
	<div> 
		<div class="inner-spacer">
			<table style='width:100%'>
				<tr style='padding-bottom:15px'>
					<td>
						<p style='margin-bottom:-8px'>Some Event</p>
						<hr>
						<h1 class='wgtTime' style='font-size:36px; font-family:courier; float:right'>0:0:5:14:22:14</h1>
					</td>
				</tr>
				
				
				
			</table>		
		</div>
	</div>
</div><!-- End .powerwidget --> 

<script>
function user_timers_wFunction() {

}
	//interval = 1000;
	//var nowMM = moment();
	//var thenMM = moment().add('years', 1);
	//var diff = thenMM.diff(nowMM);
	
	//var duration = moment.duration(diff.asMilliseconds() - interval, 'milliseconds');


var eventTime= moment().add('days', 1).unix(); // Timestamp - Sun, 21 Apr 2013 13:00:00 GMT
var currentTime = moment().unix(); // Timestamp - Sun, 21 Apr 2013 12:30:00 GMT
var diffTime = eventTime - currentTime;
var duration = moment.duration(diffTime*1000, 'milliseconds');
var interval = 1000;
if (WGTintv) window.clearInterval(WGTintv);
var WGTintv = window.setInterval(function(){
  duration = moment.duration(duration - interval, 'milliseconds');
    $('.wgtTime').text(duration.years() + ":" + duration.months() + ":" + duration.days() + ":" + duration.hours() + ":" + duration.minutes() + ":" + duration.seconds())
}, interval);

</script>