<link rel="stylesheet" href="custom/sp_errlog/css/autocomplete.css" type="text/css"/>
<style type="text/css">
@media (max-width: 599px)
#wgt_sperrlog2  {
display: none!important;
}
div.innerDetails { display: none }

.err0 {border-left: 2px solid rgba(102, 0, 0, 1)}
.err1 {border-left: 2px solid rgba(255, 0, 0, 1)}
.err2 {border-left: 2px solid rgba(255, 153, 51, 1)}
.err3 {border-left: 2px solid rgba(255, 255, 51, 1)}
.err4 {border-left: 2px solid rgba(124, 252, 0, 1)}

</style>


<script src="custom/sp_errlog/js/jquery-ui-AF.js"></script>
<script src="custom/sp_errlog/js/sp_set_autoFillparams.js"></script>
<script src="custom/sp_errlog/js/sp_autoFillparams.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/jquery.dataTables.rowGrouping.js"></script>  
<script src="js/jquery.dataTables.fnReloadAjax.js"></script> 
<script src="js/jquery.dataTables.fnGetColumnData.js"></script> 
<script src="custom/sp_errlog/js/spERR_functions.js"></script>
<script src="custom/sp_errlog/js/sperrlog-load.js"></script>


<script>
///////KICK-OUT CODE
if($crntDEP != 'adm'){
	if ($crntDEP != 'sep') {
		ERR_notify("This is not a valid selection for your account's department");
		$('#content-main-inner').empty();
		loadPOST("403");             
	}
}

var $jobList = {};
var $errList = {};
var $gList_jind = {};

$.ajax({
	type: "POST",
	url: "custom/sp_errlog/sperrlog_getElementInfo.php",
	data: {
			'type':'jobList', 
			'condition':''
			},
	cache: false,
	success: function(echo)	{
			
			$jobList = jQuery.parseJSON(echo); 
			
			$.ajax({
				type: "POST",
				url: "custom/sp_errlog/sperrlog_getElementInfo.php",
				data: {
						'type':'errList', 
						'condition':''
						},
				cache: false,
				success: function(echo)	{
						$errList = jQuery.parseJSON(echo); 
					}
			});
		}
});


////////////////////      
sperrlog_userList();
function sperrlog_userList() {   
	jQuery.grep($usrList, function(obj1,loc) {
		if (obj1.dep === 'sep' || obj1.user === 'danderson' || obj1.user === 'jflach') {
    		$('#sperrlog_sepper').append('<option value="'+obj1.user+'">'+obj1.first+' '+obj1.last+'</option>');
    		$('#sperrlog_checker').append('<option value="'+obj1.user+'">'+obj1.first+' '+obj1.last+'</option>');
    		$('.usrslct').append('<option value="'+obj1.user+'">'+obj1.first+' '+obj1.last+'</option>');
    	}
	});
	$('#sperrlog_checker').val($crntUSR)
};

</script>

<!-- widgets management panel --> 
<div id="powerwidgetspanel" class="powerwidgetspanel">
	<header>
		<h2>Power widgets panel</h2>
	</header>
	<div class="powerwidgetspanel-widget" data-widget-id="widget1">
		<input type="checkbox"/>
		<label><span></span>Search</label>
	</div>                                                 
</div> 

<div class="page-header">
	<h2 id="pgheader" style="opacity:0.8;">Separations Data Logging</h2>
	<span class="page-helper" style="cursor:pointer;" id="sperrlog_legend_btn">Icon Legend</span>
	<p>Log separation information to database.</p>
</div> 



<div id="sp_errlog_content">                           
	<!-- Start grid -->
	<section class="g_1_2">
                            
	<!-- New widget -->
                                
		<div class="powerwidget" data-widget-sortable="false" id="wgt_sperrlog1">
			<header>
				<h2>Job Information</h2>                                  
			</header>
			<div>                                 
				<div class="inner-spacer">
					<div>
						<input type="text" name="sperrlog_art" placeholder="Art Number..." style="width: 49%; height:30px; float:left"/>
						<input type="text" name="sperrlog_concept" placeholder="Concept Number..." style="width: 49%; height:30px; float:right; margin-bottom:7px"/>
					</div>
						<hr>
					<div>
						<input type="text" name="sperrlog_shipdate"  id="sperrlog_shipdate" class="datepicker" placeholder="Ship Date..." style="width: 49%; float:left; height:30px; margin:0px 0px 0px 0px"/>
						<input type="text" name="sperrlog_sepdate"  id="sperrlog_sepdate" class="datepicker" placeholder="Separation Date..." style="width: 49%; float:right; height:30px; margin:0px 0px 7px 0px;"/>					
					</div>
					<hr>
					<div class="g_1_2">
						<select name="sperrlog_jtype" class="eselect_sub" id="sperrlog_jtype" style="width:100%; height:30px; margin-bottom:0px">
							<option value="">Job Type...</option>
						</select> 						
					</div>
					<div class="g_1_2_last" style="margin-bottom:7px">
						<select name="sperrlog_jtypev" class="eselect_sub" id="sperrlog_jtypev" style="width:100%; height:30px; margin-bottom:0px">
							<option value="">Job Type Variant...</option>
						</select> 						
					</div>	
					<hr>
								
					<textarea id="sperrlog_notes2" style='display:none; width:100%; height:100px; border-radius:5px; margin-bottom:5px'></textarea>
			
					<a href="javascript:void(0);" class="button-icon-text" style='float:left; margin:0px' id='sperrlog_notesBTN2'><span class="pencil-10 plix-10"></span>Add Notes</a>
					
					<select id="sperrlog_sepper" class="eselect_sub" style="float:right; width:49%">
						<option value="">Select Separator...</option>
					</select>				
				</div>                                                                                                                           
			</div>
		</div><!-- End .powerwidget -->
	</section>
	
	
	<section class="g_1_2_last">
                            
	<!-- New widget -->
                                
		<div class="powerwidget" data-widget-sortable="false" id="wgt_sperrlog2">
			<header>
				<h2>Error Information</h2>                                  
			</header>
			<div>                                 
				<div class="inner-spacer">				
					<b>Specify Errors</b>                                  
					<div id="sperrlog_Serror01">
						<input id="sperrlog_err1" type="text" class="textarea" style="margin:0px 0px 3px 0px" onFocus=sep_selectedEF("sperrlog_err1","sperrlog_err01") onInput=sep_autoFill()>
					</div>
					
					<select name="sperrlog_errto" class="eselect_sub" id="sperrlog_errto" style="width:100%; height:30px; margin-bottom:0px">
						<option value="">Error(s) apply to...</option>
						<option value="S">Separation</option>
						<option value="T">TechSheet</option>
						<option value="B">Both</option>
						<option value="N">N/A</option>
					</select> 
					
					<input type="checkbox" name="sperr_rtrnd_tgl" id="sperr_rtrnd_tgl" value="1"/>
                    	<label for="sperr_rtrnd_tgl"><span style="margin-left:0px"></span>Returned to Separator</label> 
                    		
					<hr>
					
					<div class="g_1_2">
						<h2 id="sperrlog_calc1" style="float:right">0.00</h2>
						<h2 style="float:right; opacity:0.7; margin-right:5px">Job Value:</h2>
					</div>
					<div class="g_1_2_last" style='margin-bottom:5px'>
						<h2 id="sperrlog_calc2" style="float:right">0.00</h2>
						<h2 style="float:right; opacity:0.7; margin-right:5px">Error Value:</h2>
					</div>	
					<hr>
					
					<div class='g_1_2'>
						<textarea id="sperr_notes" class="autogrow-textarea" placeholder="Additional Notes..." style="height:40px;"></textarea>	
					</div>
					
					<div class='g_1_2_last'>
						<select id="sperrlog_checker" class="eselect_sub" style="float:right; width:100%">
							<option value="">Select Checker...</option>
						</select>
					</div>
					
					<div style="float:right">	
						<input type="checkbox" name="sperr_apprvd_tgl" id="sperr_apprvd_tgl" value="1"/>
							<label for="sperr_apprvd_tgl">Job Approved<span></span></label> 
                    </div>
					
					<div style="float:right; clear:right; margin-top:-7px; margin-bottom:-7px">
						<input type="checkbox" name="sperr_filed_tgl" id="sperr_filed_tgl" value="1"/>
						<label for="sperr_filed_tgl">Job Filed<span></span></label>   	
                    </div>	
                    	  													
				</div>                                                                                                                           
			</div>
		</div><!-- End .powerwidget -->
			<ul class="e-splitmenu-up" id="action-menu" style="float:right;">
		<li><span>Actions</span><a href="javascript:void(0);"><span class="arrow-up-10 plix-10"></span></a>
			<div>
				<ul>
					<li id="sperr_sub_button" style="cursor:pointer;"><a><span class="save-10 plix-10"></span>Submit New</a></li>
					<li id="sperr_clr_button" style="display:none; cursor:pointer;"><a><span class="save-10 plix-10"></span>Clear Form</a></li>
					<li id="sperr_upd_button" style="display:none; cursor:pointer;"><a><span class="save-10 plix-10"></span>Update Job</a></li>
				</ul>                                      
			</div>                               
		</li>
	</ul>
	</section>	
                  							                                     
	<div class="clear"><!-- New row --></div>  	
	
	
	
     <div class="clear"><!-- New row --></div>      
    <section class="g_1"> 
		<div class="powerwidget" data-widget-sortable="false" id="wgt_sperrlog3">
			<header>
				<h2>Checking History</h2>                                  
			</header>
			<div>                                 
				<table id="sperrlogDT">
					<thead>
						<tr>
							<th/>
							<th style="padding:0px 2px 0px 2px">
								<input type="text" srccol=1 style="height:28px; margin:2px 0px 2px 0px">
							</th>
							
							<th style="padding:0px 2px 0px 2px">
								<input type="text" srccol=2 style="height:28px; margin:2px 0px 2px 0px">
							</th>
							<th style="padding:0px 2px 0px 2px">
								<input type="text" srccol=3 class="datefilter" style="width:100%; height:28px; margin:2px 0px 2px 0px"/>
							</th>
							<th style="padding:0px 2px 0px 2px">
								<select class="eselect_sub usrslct" srccol=4 style="width:100%; height:28px; margin:2px 0px 2px 0px">
									<option value=""></option>
								</select>
							</th>
							<th style="padding:0px 2px 0px 2px">
								<input type="text" srccol=5 class="datefilter" style="width:100%; height:28px; margin:2px 0px 2px 0px"/>					
							</th>
							<th style="padding:0px 2px 0px 2px">
								<select class="eselect_sub usrslct" srccol=6 style="width:100%; height:28px; margin:2px 0px 2px 0px">
									<option value=""></option>
								</select>
							</th>
							<th style="padding:0px 2px 0px 2px">
								<input type="text" srccol=7 class="datefilter" style="width:100%; height:28px; margin:2px 0px 2px 0px"/>					
							</th>
							<th style="padding:2px 2px 0px 2px">
									<a href="javascript:void(0);" id="sperr_clrSrch" class="button-icon button-small" style="width:26px; height:26px; margin:0px 0px 2px 0px;"><span class="delete-10 plix-10"></span></a>
							</th>
						</tr>
						<tr>				
							<th scope="col">
								<a href="javascript:void(0);" id="sperr_expall" class="button-icon button-small" style="width:20px; height:20px; float:left; margin-left:-4px; cursor:pointer">
									<span class="plus-10 plix-10" style="margin:-5px -5px 0px -5px"></span>
								</a>
							</th>			
							<th scope="col">Art #</th>
							<th scope="col">Concept #</th>
							<th scope="col">Ship Date</th>
							<th scope="col">Separated By</th>
							<th scope="col">Date Separated</th>
							<th scope="col">Checked By</th>
							<th scope="col">Date Checked</th>
							<th scope="col">Modify</th>
							<th scope="col">ID</th>
						</tr>
					</thead>
					
					<tbody id="tbody"></tbody>
					

				</table> 
			</div>
		</div>	
    </section>
     
     
    <div class="clear"><!-- New row --></div>   
                           			                            

	 

                        
<!-- End grid -->
</div>

<input type="hidden" id="selectedID" value="" >

<div id="sperrlog_dialog-confirm1" title="Delete Confirmation" style="display:none">
	<p>You are about to delete this entry. This action can not be undone, are you sure you want to proceed?</p>
</div>

<div id="sperrlog_dialog-confirm2" title="Update Confirmation" style="display:none">
	<p>You are about to mark this job as 'Job Filed', are you sure you want to proceed?</p>
</div>

<div id="sperrlog_dialog-confirm3" title="Update Confirmation" style="display:none">
	<p>You are about to mark this job as 'Job Approved', are you sure you want to proceed?</p>
</div>

<div id="sperrlog_dialog-confirm4" title="Update Confirmation" style="display:none">
	<p>You are about to mark this job as both 'Job Approved' and 'Job Filed', are you sure you want to proceed?</p>
</div>

<div id="sperrlog_dialog-legend" title="Icon Legend" style="display:none">
	<table style='width:100%'>
	</table>
</div>



<script>
$(".datepicker").datepicker();

$(".datefilter").datepicker({
	dateFormat: "yy-mm-dd",	
	onSelect: function() {
	$(this).change();
	}
});



$('#sperrlog_notesBTN2').click(function () {
	if ($('#sperrlog_notesBTN2').text() == 'Remove Notes') {
		$('#sperrlog_notes2').val('').slideUp('fast');
		$('#sperrlog_notesBTN2').empty().html('<span class="pencil-10 plix-10"></span>Add Notes');
	} else {
		$('#sperrlog_notesBTN2').empty().html('<span class="pencil-10 plix-10"></span>Remove Notes');
		$('#sperrlog_notes2').slideDown('fast');
	}
});

$('#sperr_expall').click(function() {
	if( $(this).children("span").hasClass('plus-10') ) {
		$(this).children("span").removeClass('plus-10').addClass('min-10');
		$('#sperrlogDT tbody tr td').find('a.button-icon').each(function() {
			//console.log( $(this).children("span").hasClass('plus-10') );
			if( $(this).children("span").hasClass('plus-10') ) {
				$(this).click();
			}
		});	
		
	} else {
		$(this).children("span").removeClass('min-10').addClass('plus-10');
		$('#sperrlogDT tbody tr td').find('a.button-icon').each(function() {
			//console.log( $(this).children("span").hasClass('plus-10') );
			if( $(this).children("span").hasClass('min-10') ) {
				$(this).click();
			}
		});		
	}
});

$('#sperrlog_jtype').change(function() {
	if($(this).val() == ''){
	    $('#sperrlog_jtypev').empty();
        $('#sperrlog_jtypev').append('<option value="">Job Type Variant...</option>');
		$('#sperrlog_jtypev').prop('disabled', 'disabled');
  		$('#sperrlog_jtypev').fadeTo(0, 0.4);
  		$('#sperrlog_calc1').empty().text( '0.00' );
	} else {
		$('#sperrlog_jtypev').prop('disabled', false);
  		$('#sperrlog_jtypev').fadeTo(0, 1);
  		sperrlog_jobList_sub($(this).val());
	}
	countErrors();
});

$('#sperrlog_jtypev').change(function() {
	$('#sperrlog_calc1').empty();
	if ($(this).val().split('%')[0]) {
		$('#sperrlog_calc1').text( $(this).val().split('%')[0] );
	} else {
		$('#sperrlog_calc1').text( '0.00' );
	}
	
	countErrors();
});

function countErrors() {
	var errCount = [];

	$('#sperrlog_Serror01').children('span').each(function() {
		var a = $(this).text().slice(0, -1);
		jQuery.grep($errList, function(obj1) {
    		if (obj1.error === a){
    			if(obj1.indicator != 'N'){
    				errCount.push(a);
    			}
    		} 
		});
	});

	var uniqueErrs = [];
	
	$.each(errCount, function(i, el){
    	if($.inArray(el, uniqueErrs) === -1) uniqueErrs.push(el);
	});
	
	if(uniqueErrs.length > 4){
		var errCalc1 = 4;
	} else {
		var errCalc1 = uniqueErrs.length;
	}
	
	var errCalc2 = $('#sperrlog_jtypev').val().split('%');
	
	if(errCalc1 !=0){
		errCalc2 = errCalc2[errCalc1];
	} else {
		errCalc2 = '0.00';
	}
	
	if(!errCalc2){errCalc2 = '0.00'}
	
	$('#sperrlog_calc2').empty();
	$('#sperrlog_calc2').text( errCalc2 );
	
	
	
	return uniqueErrs;
};

var asInitVals = new Array();

$(document).ready(function() {
	console.log("FORM / sp_errlog: initializing");
	$('.autogrow-textarea').autogrow();
	if($('#sperrlog_jtype').val() == ''){
		$('#sperrlog_jtypev').prop('disabled', 'disabled');
  		$('#sperrlog_jtypev').fadeTo(0, 0.4);
	}

	$("#sperrlog_shipdate").datepicker({ dateFormat: "mm/dd/yy" });
	$("#sperrlog_sepdate").datepicker({ dateFormat: "mm/dd/yy" });
	$("#sperrlog_checkdate").datepicker({ dateFormat: "mm/dd/yy" });
	$("#sperrlog_checkdate").datepicker('setDate', new Date());		
	
	$('#sperrlog_dialog-legend table').delegate("tr", "mouseenter", function() { $(this).css('background-color','rgba(0,0,0,0.2)'); });
	$('#sperrlog_dialog-legend table').delegate("tr", "mouseleave", function() { $(this).css('background-color',''); });
	
	$('#sperrlogDT tbody').delegate("tr td a", "click", function() {	
		if($(this).hasClass('dbl-action')) {
			$("#selectedID").val( $(this).attr('pid') )
			$("#sperrlog_dialog-confirm4").dialog('open');
			return
		} else if($(this).children('span').hasClass('trashcan-10')) {
			var dataPostion = oTable.fnGetPosition($(this).parent().parent()[0]);
			var rowContent = oTable.fnGetData(dataPostion);
			$("#selectedID").val(rowContent.id)
			$("#sperrlog_dialog-confirm1").dialog('open');
			return
		} else if($(this).children('span').hasClass('pencil-10')) {
			var dataPostion = oTable.fnGetPosition($(this).parent().parent()[0]);
			var rowContent = oTable.fnGetData(dataPostion);
			sperrlog_load(rowContent);
			return
		} else if($(this).children('span').hasClass('tags-10')) {
			$("#selectedID").val( $(this).attr('pid') )
			$("#sperrlog_dialog-confirm3").dialog('open');
			return			
		} else if($(this).children('span').hasClass('folder-10')) {
			$("#selectedID").val( $(this).attr('pid') )
			$("#sperrlog_dialog-confirm2").dialog('open');
			return							
		} else {
		    var nTr = $(this).parents('tr')[0];
			if ( oTable.fnIsOpen(nTr) ) {
				$(this).children('span').removeClass("min-10").addClass("plus-10");
				$('div.innerDetails', $(nTr).next()[0]).slideUp( function () {
					oTable.fnClose( nTr );
				} );
			} else {
				$(this).children('span').removeClass("plus-10").addClass("min-10");
				var nDetailsRow = oTable.fnOpen( nTr, fnFormatDetails(oTable, nTr) );
    			$('div.innerDetails').slideDown();
			}
		}
    } );
    
	oTable = $('#sperrlogDT').dataTable ({
		'aoColumns'		 : [ {
							   "mDataProp": null,
							   "sClass": "control center",
							   "bSortable": false,
							   "sWidth": "0px",
							   "sDefaultContent": '<a href="javascript:void(0);" class="button-icon button-small" style="width:20px; height:20px; float:left; margin:0 0 0 0px;"><span class="plus-10 plix-10"></span></a>'
							}, 
							{"mDataProp": 'art_num', "sWidth": "120px"}, 
							{"mDataProp": 'concept_num', "sWidth": "80px"}, 
							{"mDataProp": 'ship_date', "sType": "date" }, 
							{"mDataProp": 'sep_by'},
							{"mDataProp": 'sep_date', "sType": "date" }, 
							{"mDataProp": 'checked_by'}, 
							{"mDataProp": 'check_date', "sType": "date" },
							{"mDataProp": null, "bSortable": false, "sClass": "editControl", "sDefaultContent": '<a href="javascript:void(0);" class="button-icon" style="width:20px; height:20px; float:left; margin:0 0 0 0px;"><span class="pencil-10 plix-10"></span></a>  <a href="javascript:void(0);" class="button-icon custom-red" style="width:20px; height:20px; float:right; margin:0 0 0 0px;"><span class="trashcan-10 plix-10"></span></a>'},
							{"mDataProp": 'id',"bSearchable":false,"bVisible":false,"sWidth": "0px"} ],
		'bJQueryUI'	     : true,
      	'bServerSide'    : true,
      	'bAutoWidth'	 : false,
      	'bStateSave'	 : true,
        'fnStateSave'	 : function (oSettings, oData) {localStorage.setItem( 'DataTables_sperrlog', JSON.stringify(oData) )},
        'fnStateLoad'	 : function (oSettings) {
								if ( localStorage.getItem('DataTables_sperrlog') ) {
									data = JSON.parse( localStorage.getItem('DataTables_sperrlog'));
									if(data.hasOwnProperty("aoSearchCols")) {
										$.each(data.aoSearchCols, function(i) {
											$('input[srccol*='+i+']').val(this.sSearch)
											$('select[srccol*='+i+']').val(this.sSearch)
										});
									}
									return data;
								} else {
									return
								}
        					},
      	'sAjaxSource'    : 'custom/sp_errlog/sperrlog-results.php',
		'fnDrawCallback' : function( oSettings ) {
								$('#sperr_expall span').removeClass('min-10').addClass('plus-10')
							},
      	"fnRowCallback": function( nRow, aaData, iDisplayIndex ) {
							
							    var jVal = aaData.job_value;
								var eVal = aaData.error_value;
								var Sdate = moment(aaData.ship_date,'YYYY-MM-DD');
								var Ddate = moment(aaData.sep_date,'YYYY-MM-DD');
								var Cdate = moment(aaData.check_date,'YYYY-MM-DD');
								var tVal = (jVal - eVal);
								var rVal = (eVal / jVal);
								
								if(Sdate){$('td:eq(3)', nRow).empty().append(Sdate.format("MMMM Do, YYYY"))}else{$('td:eq(3)', nRow).empty().append('<i style= "opacity:0.4; margin-left:5px">(none)</i>')};
								if(Ddate){$('td:eq(5)', nRow).empty().append(Ddate.format("MMMM Do, YYYY"))}else{$('td:eq(5)', nRow).empty().append('<i style= "opacity:0.4; margin-left:5px">(none)</i>')};
								if(Cdate){$('td:eq(7)', nRow).empty().append(Cdate.format("MMMM Do, YYYY"))}else{$('td:eq(7)', nRow).empty().append('<i style= "opacity:0.4; margin-left:5px">(none)</i>')};

								
								if (rVal == 0){
									if (aaData.checked_by) $('td:eq(1)', nRow).addClass( 'err4' ); 
								} else if (rVal == 0.25) {
									if (aaData.checked_by) $('td:eq(1)', nRow).addClass( 'err3' ); 
								} else if (rVal == 0.50) {
									if (aaData.checked_by) $('td:eq(1)', nRow).addClass( 'err2' ); 
								} else if (rVal == 0.75) {
									if (aaData.checked_by) $('td:eq(1)', nRow).addClass( 'err1' );
								} else if (rVal == 1) {
									if (aaData.checked_by) $('td:eq(1)', nRow).addClass( 'err0' );
								}  

								if(aaData.checked_by == ''){
									$('td:eq(6)', nRow).addClass( 'err1' );
									$('td:eq(7)', nRow).addClass( 'err1' );
								}
								
								if (localStorage.getItem('e_style')) {
									var style = localStorage.getItem('e_style');
								} else {
									var style = 'darkblue';
								}
								
								if(aaData.job_type == 'J'){
									if(jVal > 3){
										$('td:eq(1)', nRow).prepend('<img src="css/ui/themes/'+style+'/images/layers_2_icon&16.png" style="margin-right:7px">');
									} else {
										$('td:eq(1)', nRow).prepend('<img src="css/ui/themes/'+style+'/images/layers_1_icon&16.png" style="margin-right:7px">');
									}
								} else if(aaData.job_type == 'K'){
									$('td:eq(1)', nRow).prepend('<img src="css/ui/themes/'+style+'/images/layers_1_icon&16.png" style="margin-right:7px">');
								} else if(aaData.job_type == 'V'){
									$('td:eq(1)', nRow).prepend('<img src="css/ui/themes/'+style+'/images/share_2_icon&16.png" style="margin-right:7px">');
								} else if(aaData.job_type == 'S'){
									$('td:eq(1)', nRow).prepend('<img src="css/ui/themes/'+style+'/images/brush_icon&16.png" style="margin-right:7px">');
								} else if(aaData.job_type == 'A'){
									$('td:eq(1)', nRow).prepend('<img src="css/ui/themes/'+style+'/images/hanger_icon&16.png" style="margin-right:7px">');
								} else if(aaData.job_type == 'D'){
									$('td:eq(1)', nRow).prepend('<img src="css/ui/themes/'+style+'/images/fire_icon&16.png" style="margin-right:7px">');
								} else if(aaData.job_type == 'L'){
									$('td:eq(1)', nRow).prepend('<img src="css/ui/themes/'+style+'/images/doc_edit_icon&16.png" style="margin-right:7px">');
								} else if(aaData.job_type == 'R'){
									$('td:eq(1)', nRow).prepend('<img src="css/ui/themes/'+style+'/images/notepad_2_icon&16.png" style="margin-right:7px">');
								} else if(aaData.job_type == 'P'){
									$('td:eq(1)', nRow).prepend('<img src="css/ui/themes/'+style+'/images/notepad_icon&16.png" style="margin-right:7px">');
								} else if(aaData.job_type == 'E'){
									$('td:eq(1)', nRow).prepend('<img src="css/ui/themes/'+style+'/images/bug_icon&16.png" style="margin-right:7px">');
								}
								
								if (aaData.filed == 1) {
									$('td:eq(7)', nRow).prepend('<a href="javascript:void(0);" class="button-icon button-small" style="float:right; height:0px; width:0px; margin-top:12px; margin-right:2px; clear:right"><span class="folder-10 plix-10"></span></a>');
								}
								if (aaData.approved == 1) {
									$('td:eq(7)', nRow).prepend('<a href="javascript:void(0);" class="button-icon button-small" style="float:right; height:0px; width:0px; margin-top:3px; margin-right:2px; clear:right"><span class="tags-10 plix-10"></span></a>');
								}
								
								jQuery.grep($usrList, function(obj1,loc) {
									if (obj1.user === aaData.sep_by) {
										$('td:eq(4)', nRow).empty().text(obj1.first+' '+obj1.last);
										if (obj1.user === aaData.checked_by) {
											$('td:eq(6)', nRow).empty().text(obj1.first+' '+obj1.last);
										}
									} else if (obj1.user === aaData.checked_by) {
										$('td:eq(6)', nRow).empty().text(obj1.first+' '+obj1.last);
									}
								});
														
								return nRow;
						},
	});	
	
	$('div.dataTables_filter').remove();
	//$('div.dataTables_filter').css('width','21em');
	//$('div.dataTables_filter label').css('float','left');	
	//$('div.dataTables_filter').append('<a href="javascript:void(0);" class="button-icon" style="width:28px; height:28px; float:left; margin:0 0 0 7px;" id="spe_searchclear"><span class="delete-10 plix-10"></span></a>')
	
	$("thead input").keyup( function () {
		/* Filter on the column (the index) of this element */
		oTable.fnFilter( this.value, $(this).attr('srccol') );
	} );
	
	
	$("thead select, .datefilter").change( function () {
		/* Filter on the column (the index) of this element */
		//console.log(this)
		oTable.fnFilter( this.value, $(this).attr('srccol') );
	} );	
	
	
	/*
	 * Support functions to provide a little bit of 'user friendlyness' to the textboxes in 
	 * the footer
	 */
	
	$("thead input").each( function (i) {
		asInitVals[i] = this.value;
	} );
	
	$("thead input").focus( function () {
		if ( this.className == "search_init" )
		{
			this.className = "";
			this.value = "";
		}
	} );
	
	$("thead input").blur( function (i) {
		if ( this.value == "" )
		{
			this.className = "search_init";
			this.value = asInitVals[$("thead input").index(this)];
		}
	} );
	
	$('#sp_errlog_content').powerWidgets({				
		grid: 'section',
		widgets: '.powerwidget',
		localStorage: false,
		deleteSettingsKey: '#deletesettingskey-options',
		settingsKeyLabel: 'Reset settings?',
		deletePositionKey: '#deletepositionkey-options',
		positionKeyLabel: 'Reset position?',
		sortable: true,
		buttonsHidden: false,
		toggleButton: true,
		toggleClass: 'min-10 plix-10 | plus-10 plix-10',
		toggleSpeed: 200,
		onToggle: function(){},
		deleteButton: false,
		deleteClass: 'trashcan-10',
		deleteSpeed: 200,
		onDelete: function(){},
		editButton: false,
		editPlaceholder: '.powerwidget-editbox',
		editClass: 'pencil-10 | delete-10',
		editSpeed: 200,
		onEdit: function(){},
		fullscreenButton: false,
		fullscreenClass: 'fullscreen-10 | normalscreen-10',	
		fullscreenDiff: 3,		
		onFullscreen: function(){},
		customButton: false,
		customClass: 'folder-10 | next-10',
		customStart: function(){ alert('Hello you, this is a custom button...') },
		customEnd: function(){ alert('bye, till next time...') },
		buttonOrder: '%refresh% %delete% %custom% %edit% %fullscreen% %toggle%',
		opacity: 0.8,
		dragHandle: '> header',
		placeholderClass: 'powerwidget-placeholder',
		indicator: true,
		indicatorTime: 600,
		ajax: true,
		timestampPlaceholder:'.powerwidget-timestamp',
		timestampFormat: 'Last update: %m%/%d%/%y% %h%:%i%:%s%',
		refreshButton: true,
		refreshButtonClass: 'refresh-10 plix-10',
		labelError:'Sorry but there was a error:',
		labelUpdated: 'Last Update:',
		labelRefresh: 'Refresh',
		labelDelete: 'Delete widget:',
		afterLoad: function(){},
		rtl: false	
	});
	
	$("ul#action-menu").eMenu({
		effect: 'slide',
		speed: 100,
		target: '.e-menu-sub',
		typeEvent: 'hover',
		activeClass: 'e-menu-active',
		flip:[2,1,0]
	});	 

	$("#sperrlog_dialog-confirm1").dialog({
		autoOpen: false,//remove this and the click to aut open
		bgiframe: true,
		width: 340,
		modal: true,
		resizable: false,
		buttons: {
			"Confirm Delete":function(){
				$(this).dialog("close");
				$.ajax({
					type: "POST",
					url: "custom/sp_errlog/sperrlog-DLT.php",
					data: {
						'id':$("#selectedID").val() },
					cache: false,
					success: function()
						{
							$('#sperrlogDT').dataTable ().fnDeleteRow($("#selectedID").val());
							GRWL_notify("Success","Job removed from database","2500","","","");
						}
				});
				return false;
			},
			Cancel: function() {
				$(this).dialog("close");
			}
		}
	});
	
	$("#sperrlog_dialog-confirm2").dialog({
		autoOpen: false,//remove this and the click to aut open
		bgiframe: true,
		width: 340,
		modal: true,
		resizable: false,
		buttons: {
			"Confirm Update":function(){
				$(this).dialog("close");
				$.ajax({
					type: "POST",
					url: "custom/sp_errlog/quickActions/sperrlog-qk-filed.php",
					data: {
						'id':$("#selectedID").val() },
					cache: false,
					success: function(echo)
						{
							if (echo) {
								console.log("FORM / sp_errlog: "+echo);
								ERR_notify(echo);
							} else {
								oTable.fnReloadAjax();
								GRWL_notify("Success","Job marked as 'filed' in the database","2500","","","");
							}
						}
				});
				return false;
			},
			Cancel: function() {
				$(this).dialog("close");
			}
		}
	});
	
	$("#sperrlog_dialog-confirm3").dialog({
		autoOpen: false,//remove this and the click to aut open
		bgiframe: true,
		width: 340,
		modal: true,
		resizable: false,
		buttons: {
			"Confirm Update":function(){
				$(this).dialog("close");
				$.ajax({
					type: "POST",
					url: "custom/sp_errlog/quickActions/sperrlog-qk-approved.php",
					data: {
						'id':$("#selectedID").val() },
					cache: false,
					success: function(echo)
						{
							if (echo) {
								console.log("FORM / sp_errlog: "+echo);
								ERR_notify(echo);
							} else {
								oTable.fnReloadAjax();
								GRWL_notify("Success","Job marked as 'approved' in the database","2500","","","");
							}
						}
				});
				return false;
			},
			Cancel: function() {
				$(this).dialog("close");
			}
		}
	});		
	
	$("#sperrlog_dialog-confirm4").dialog({
		autoOpen: false,//remove this and the click to aut open
		bgiframe: true,
		width: 340,
		modal: true,
		resizable: false,
		buttons: {
			"Confirm Update":function(){
				$(this).dialog("close");
				$.ajax({
					type: "POST",
					url: "custom/sp_errlog/quickActions/sperrlog-qk-appFiled.php",
					data: {
						'id':$("#selectedID").val() },
					cache: false,
					success: function(echo)
						{
							if (echo) {
								console.log("FORM / sp_errlog: "+echo);
								ERR_notify(echo);
							} else {
								oTable.fnReloadAjax();
								GRWL_notify("Success","Job marked as both 'approved' and 'Filed' in the database","2500","","","");
							}
						}
				});
				return false;
			},
			Cancel: function() {
				$(this).dialog("close");
			}
		}
	});	

	$("#sperrlog_dialog-legend").dialog({
		autoOpen: false,//remove this and the click to aut open
		bgiframe: true,
		width: 360,
		modal: true,
		resizable: false,
		buttons: {
			Close: function() {
				$(this).dialog("close");
			}
		}
	});
	
	$('select[name=sperrlogDT_length]').addClass('eselect_sub');

	 
});

$('#sperr_clrSrch').click(function () {
	$('input[srccol]').each(function(i) {
		if ( $(this).hasClass('datepicker') ) {
			$('.datefilter').datepicker( "setDate" , null );
			$('#sperrlogDT').dataTable().fnFilter( '', $(this).attr('srccol') );
		} else {
			$(this).val('');
			$('#sperrlogDT').dataTable().fnFilter( '', $(this).attr('srccol') );
		}
	});
	$('select[srccol]').each(function(i) {
		$(this).val('');
		$('#sperrlogDT').dataTable().fnFilter( '', $(this).attr('srccol') );
	});	
});


$('#sperr_upd_button').click(function () {
	var input = sperr_fetchAll();
	//var jvar = '';
	if (input) {	
		jQuery.grep($jobList, function(obj1) {
    		if (obj1.type === input.job_type_v){
    			input.job_type_v = obj1.indicator;
    		} 
		});
		
		input.errors = input.errors.join(", ")

		$.ajax({
			type: "POST",
			url: "custom/sp_errlog/sperrlog_update.php",
			data: {
				'id':input.id, 
				'user':input.user, 
				'art_number':input.art_number, 
				'concept_number':input.concept_number, 
				'ship_date':input.ship_date,
				'sep_date':input.sep_date, 
				'job_type':input.job_type, 
				'job_type_v':input.job_type_v, 
				'separator':input.separator, 
				'err0':input.err0, 
				'err1':input.err1, 		
				'err2':input.err2, 		
				'err3':input.err3, 					
				'err_apply_to':input.err_apply_to, 
				'notes':input.notes, 
				'notes2':input.notes2, 
				'filed':input.filed, 
				'approved':input.approved, 
				'returned':input.returned, 
				'job_val':input.job_val, 
				'err_val':input.err_val },
			cache: false,
			success: function(echo){
					if(echo === 'success'){
						GRWL_notify("Success","Job Information Updated","2500",'','','');
						oTable.fnReloadAjax();
						sperrlog_clear();
					} else {
						console.log(echo)
						ERR_notify(echo);
					}				
				}
		});
		return false;		
	}
});

$('#sperr_clr_button').click(function () {
	sperrlog_clear();
});

$('#sperrlog_legend_btn').click(function () {
	$("#sperrlog_dialog-legend").children('table').empty();
	var build = '<thead style="font-size:larger"><td style="margin-bottom:5px"><center><b>Icon</b></center></td><td><center><b>Job Type</b></center></td></thead>';	
	if (localStorage.getItem('e_style')) {
		var style = localStorage.getItem('e_style');
	} else {
		var style = 'darkblue';
	}
	$.each($jobList, function(pos,data) {
		build += "<tr>";	
		if(data.indicator == 'J'){
			if(data.value > 3 ){
				build += '<td style="width:60px"><center><img src="css/ui/themes/'+style+'/images/layers_2_icon&16.png" style="margin-bottom:3px"></center></td><td>'+data.parent+' - <i><i>'+data.type+'</i></i></td>';
			} else {
				build += '<td style="width:60px"><center><img src="css/ui/themes/'+style+'/images/layers_1_icon&16.png" style="margin-bottom:3px"></center></td><td>'+data.parent+' - <i>'+data.type+'</i></td>';
			}
		} else if(data.indicator == 'K'){
			build += '<td style="width:60px"><center><img src="css/ui/themes/'+style+'/images/layers_1_icon&16.png" style="margin-bottom:3px"></center></td><td>'+data.parent+' - <i>'+data.type+'</i></td>';
		} else if(data.indicator == 'V'){
			build += '<td style="width:60px"><center><img src="css/ui/themes/'+style+'/images/share_2_icon&16.png" style="margin-bottom:3px"></center></td><td>'+data.parent+' - <i>'+data.type+'</i></td>';
		} else if(data.indicator == 'S'){
			build += '<td style="width:60px"><center><img src="css/ui/themes/'+style+'/images/brush_icon&16.png" style="margin-bottom:3px"></center></td><td>'+data.parent+' - <i>'+data.type+'</i></td>';
		} else if(data.indicator == 'A'){
			build += '<td style="width:60px"><center><img src="css/ui/themes/'+style+'/images/hanger_icon&16.png" style="margin-bottom:3px"></center></td><td>'+data.parent+' - <i>'+data.type+'</i></td>';
		} else if(data.indicator == 'D'){
			build += '<td style="width:60px"><center><img src="css/ui/themes/'+style+'/images/fire_icon&16.png" style="margin-bottom:3px"></center></td><td>'+data.parent+' - <i>'+data.type+'</i></td>';
		} else if(data.indicator == 'L'){
			build += '<td style="width:60px"><center><img src="css/ui/themes/'+style+'/images/doc_edit_icon&16.png" style="margin-bottom:3px"></center></td><td>'+data.parent+' - <i>'+data.type+'</i></td>';
		} else if(data.indicator == 'R'){
			build += '<td style="width:60px"><center><img src="css/ui/themes/'+style+'/images/notepad_2_icon&16.png" style="margin-bottom:3px"></center></td><td>'+data.parent+' - <i>'+data.type+'</i></td>';
		} else if(data.indicator == 'P'){
			build += '<td style="width:60px"><center><img src="css/ui/themes/'+style+'/images/notepad_icon&16.png" style="margin-bottom:3px"></center></td><td>'+data.parent+' - <i>'+data.type+'</i></td>';
		} else if(data.indicator == 'E'){
			build += '<td style="width:60px"><center><img src="css/ui/themes/'+style+'/images/bug_icon&16.png" style="margin-bottom:3px"></center></td><td>'+data.parent+' - <i>'+data.type+'</i></td>';
		}
		build += '</tr>';
	});
	$("#sperrlog_dialog-legend").children('table').append(build);
	$("#sperrlog_dialog-legend").dialog('open');
});

$('#sperr_sub_button').click(function () {
	var input = sperr_fetchAll();
	//var jvar = '';
	if (input) {	
		jQuery.grep($jobList, function(obj1) {
    		if (obj1.type === input.job_type_v){
    			input.job_type_v = obj1.indicator;
    		} 
		});
		
		input.errors = input.errors.join(", ")

		$.ajax({
			type: "POST",
			url: "custom/sp_errlog/sperrlog_submit.php",
			data: {
				'user':input.user, 
				'art_number':input.art_number, 
				'concept_number':input.concept_number, 
				'ship_date':input.ship_date,
				'sep_date':input.sep_date, 
				'job_type':input.job_type, 
				'job_type_v':input.job_type_v, 
				'separator':input.separator, 
				'err0':input.err0, 
				'err1':input.err1, 		
				'err2':input.err2, 		
				'err3':input.err3, 		
				'err_apply_to':input.err_apply_to, 
				'notes':input.notes, 
				'notes2':input.notes2, 
				'filed':input.filed, 
				'approved':input.approved, 
				'returned':input.returned, 
				'job_val':input.job_val, 
				'err_val':input.err_val },
			cache: false,
			success: function(echo){
					if(echo === 'success'){
						GRWL_notify("Success","Job Information Submitted","2500",'','','');
						oTable.fnReloadAjax();
						sperrlog_clear();
					} else {
						console.log(echo)
						ERR_notify(echo);
					}				
				}
		});
		return false;		
	}
});


/* Formating function for row details */
function fnFormatDetails ( oTable, nTr )
{
    var aData = oTable.fnGetData( nTr );
    var jVal = aData.job_value;
    var eVal = aData.error_value;
    var tVal = (jVal - eVal);
    var rVal = (eVal / jVal);
    
    if (rVal == 0){
    	var rgb = '204, 255, 153,';
    } else if (rVal == 0.25) {
    	var rgb = '255, 255, 51,';
    } else if (rVal == 0.50) {
    	var rgb = '255, 153, 51,';  
    } else if (rVal == 0.75) {
    	var rgb = '255, 0, 0,';  
    } else if (rVal == 1) {
    	var rgb = '102, 0, 0,'; 
    }    	   	  

	if(aData.err_type == 'B'){
		aData.err_type = 'TechSheet & Separation';
	} else if (aData.err_type == 'T'){
		aData.err_type = 'TechSheet Only';
	} else if (aData.err_type == 'S'){
		aData.err_type = 'Separation Only';
	} else if (aData.err_type == 'N'){
		aData.err_type = 'N/A';
	}

	var parseErrors = [aData.err0, aData.err1, aData.err2, aData.err3];
	var errText = new Array();

	for (i=0;i<parseErrors.length;i++) {
		jQuery.grep($errList, function(obj1) {
			if (obj1.id === parseErrors[i]){
				errText.push(obj1.error);
			} 
		});
	};
	
	var errText2 = errText.join(', ')

    var sOut = '<div class="innerDetails"><table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
    sOut += '<tr><td style="width:200px"><b>Job/Error/Total Values:</b></td><td>'+jVal+'</td><td>'+eVal+'</td><td style="background-color:rgba('+rgb+' 0.4)">'+tVal.toFixed(2)+'</td></tr>';
    if(errText2 != ''){
    	sOut += '<tr><td style="width:200px"><b>Found Errors:</b></td><td colspan="3">'+errText2+'</td></tr>';
    }
    if(aData.err_type != '<i style="opacity:0.6">(none)</i>'){
    	sOut += '<tr><td style="width:200px"><b>Error(s) Apply to:</b></td><td colspan="3">'+aData.err_type+'</td></tr>';
    }    
    if(aData.notes2 != ''){
    	sOut += '<tr><td style="width:200px"><b>Separator Notes:</b></td><td colspan="3">'+aData.notes2+'</td></tr>';
    }  
    if(aData.notes != '<i style="opacity:0.6">(none)</i>'){
    	sOut += '<tr><td style="width:200px"><b>Checker Notes:</b></td><td colspan="3">'+aData.notes+'</td></tr>';
    }   

	//CHECK TO SEE IF FILED/APPROVED OPTIONS ARE RELEVANT TO THE JOB TYPE
	var delims = ['J','K','S','E']
    if(jQuery.inArray(aData.job_type, delims) > -1) {
		if(aData.filed != 1 || aData.approved != 1){
			sOut += '<tr style="background-color:rgba(0,0,255,0.1)"><td><b>Additional Actions:</b></td></td><td colspan="3">';		
			if(aData.approved != 1){
				sOut += '<a href="javascript:void(0);" class="button-icon-text button-small" pid="'+aData.id+'" style="float:left; margin-top:0px; margin-right:7px"><span class="tags-10 plix-10"></span>Mark as Approved</a>';
			}
					
			if(aData.filed != 1 && aData.job_type != 'S' && aData.job_type != 'E' ){
				sOut += '<a href="javascript:void(0);" class="button-icon-text button-small" pid="'+aData.id+'" style="float:left; margin-top:0px; margin-right:7px"><span class="folder-10 plix-10"></span>Mark as Filed</a>';
			}  
			  
			if(aData.approved != 1 && aData.filed != 1 && aData.job_type != 'S' && aData.job_type != 'E' ){
				sOut += '<a href="javascript:void(0);" class="button-icon-text button-small custom-blue dbl-action" pid="'+aData.id+'" style="float:left; margin-top:0px; margin-right:7px; width: 132px; text-align: right;"><span class="folder-10 plix-10" style="margin-left:15px"></span><span class="tags-10 plix-10"></span>Mark as Approved & Filed</a>';
			}		
			sOut += '</td></tr>';
		};
	}

    sOut += '</table></div>';
     
    return sOut;
}

setTimeout(function() {
	sperrlog_jobList(); 
}, 500);

////////////////////      
function sperrlog_jobList() {   
	var I1 = '';
	var I2 = '';
	jQuery.grep($jobList, function(obj1,loc) {
		I1 = obj1.parent
		if ( I1 != I2) {
    		$('#sperrlog_jtype').append('<option value="'+I1+'">'+I1+'</option>');
    	}
    	I2 = obj1.parent
	});
};

////////////////////      
function sperrlog_jobList_sub(a) {  
	$('#sperrlog_jtypev').empty();
	$('#sperrlog_jtypev').append('<option value="">Job Type Variant...</option>');
	$('#sperrlog_calc1').empty().text( '0.00' );
	jQuery.grep($jobList, function(obj1,loc) {
		if (obj1.parent === a) {
			$('#sperrlog_jtypev').append('<option value="'+obj1.value+'%'+obj1.E1+'%'+obj1.E2+'%'+obj1.E3+'%'+obj1.E4+'">'+obj1.type+'</option>');
			$('#sperrlog_jtypev').val(obj1.type);
    	}
	});
};

</script>