.tblBLNK {
	border-radius: 6px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	position: relative;
	left: 1px;
	padding: 2px 2px 4px 2px;
}
.field3Sub1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
}
.color_input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #000;
}
.color_input2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #666;
	font-style: italic;
	margin: 0px;
	position: static;
}

#colors0{
	margin: 3px 0px 0px 3px;
}
#colors1{
	margin: 3px 0px 0px 3px;
}
#colors2{
	margin: 3px 0px 0px 3px;
}
#colors3{
	margin: 3px 0px 0px 3px;
}
#colors4{
	margin: 3px 0px 0px 3px;
}