/*-------------------------
	Dropbox Element
--------------------------*/
#dropbox_cover2,
#dropbox_cover{
	border-radius:3px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2;
	margin:auto auto auto auto;
	overflow: hidden;
	/*padding-bottom: 40px;*/
    width: 100%;
	box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}

#dropbox2,
#dropbox{
	border-radius:3px;
	position: relative;
	left: 0px;
	top: 0px;
	margin:auto auto auto auto;
	overflow: hidden;
	background-color: rgba(0,0,0,0.2);
	/*padding-bottom: 40px;*/
    width: 100%;
	box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}

#dropbox2 .message,
#dropbox .message{
	font-size: 11px;
    text-align: center;
    padding-top:160px;
    display: block;
}
#dropbox2 .message i,
#dropbox .message i{
	color:#ccc;
	font-size:10px;
}

#dropbox:before{
	border-radius:3px 3px 0 0;
}

#dropbox2:before{
	border-radius:3px 3px 0 0;
}

/*-------------------------
	Image Previews
--------------------------*/


#dropbox2 .preview,
#dropbox .preview{
	width:245px;
	height: 215px;

	margin: 60px auto auto auto;
	position: relative;
	text-align: center;
}
#dropbox2 .preview img,
#dropbox .preview img{
	max-width: 240px;
	max-height:180px;
	border:3px solid #fff;
	display: block;
	
	box-shadow:0 0 2px #000;
}
#dropbox2 .imageHolder,
#dropbox .imageHolder{
	display: inline-block;
	position:relative;
}
#dropbox2 .uploaded,
#dropbox .uploaded{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url('../img/done.png') no-repeat center center rgba(255,255,255,0.5);
	display: none;
}
#dropbox .preview.done .uploaded,
#dropbox .preview.done .uploaded{
	display: block;
}



/*-------------------------
	Progress Bars
--------------------------*/


#dropbox2 .progressHolder,
#dropbox .progressHolder{
	position: absolute;
	background-color:#252f38;
	height:12px;
	width:100%;
	left:0;
	bottom: 0;
	
	box-shadow:0 0 2px #000;
}
#dropbox2 .progress,
#dropbox .progress{
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}
#dropbox .preview.done .progress,
#dropbox .preview.done .progress{
	width:100% !important;
}